<app-pinkbar page="reset_password"></app-pinkbar>

<div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>Reset Password</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="loginpage">

                    	<form [formGroup]="userForm" #formDir="ngForm">

					      	<div class="form-group">
						        <label for="password">Password</label>
						        <input id="password" type="password" class="form-control fields" formControlName="password" placeholder="Enter Password" required >

						        <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
									<div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
									<div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="confirm_password">Confirm Password</label>
						        <input id="confirm_password" type="password" class="form-control fields" formControlName="confirm_password" placeholder="Re-enter Password" required >

						        <div *ngIf="userForm.controls.confirm_password.invalid && (userForm.controls.confirm_password.dirty || userForm.controls.confirm_password.touched)" class="text-danger">
									<div *ngIf="userForm.controls.confirm_password.errors.required"> Confirm Password is required.</div>
									<div *ngIf="userForm.controls.confirm_password.errors.minlength"> Confirm Password must be at least 6 characters long.</div> 

						        </div>
						         <div *ngIf="userForm.controls.confirm_password.touched && userForm.hasError('validConfirmPassword')" this.seminar>
						        	<div *ngIf="userForm.hasError('validConfirmPassword')">Confirm Your Password.</div>
						        </div>
					      	</div>
					      	
					      	<div class="btns">    	
					      		<button type="submit" class="btn btn-default" [disabled]="userForm.invalid" (click)="submitForm()">Submit</button>
					      	</div>

	      										      	
	    
	  					</form>
                        
                    </div>


                </div>


            </div>

        </div>
    </div>