<div class="left_sidebar service_shop_sidebar">
    <h5>MENU </h5>
    <ul>
        <!--<li><a routerLink="/user/dashboard" [routerLinkActive]="'active'"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>Dashboard </a> </li>-->
        <li><a routerLink="/user/myprofile" [routerLinkActive]="'active'"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>My Profile</a> </li>
        <li ><a routerLink="/user/dashboard" [routerLinkActive]="'active'"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>My Orders</a> </li>
        <li ><a routerLink="/user/webinar" [routerLinkActive]="'active'"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>My Webinar</a> </li>
        <li ><a routerLink="/user/seminar" [routerLinkActive]="'active'"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>My Seminar</a> </li>
        <li><a routerLink="/user/changepassword" [routerLinkActive]="'active'"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>Change Password</a> </li>
        <li><a routerLink="/logout"><span><img src="assets/images/arrow-sidebar.png" alt=""> </span>Logout</a> </li>
    </ul>
</div>