extends /views/layouts/admin

block content	

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/order/view/#{order._id}" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>Shipment Details</legend>
				<div class="col-xs-12 shipment_detail">                    
					<div class="row"> 
						<div class="form-group col-sm-6">
							<label for="ship_method">Shipment Method <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Shipment Method" id="ship_method" name="ship_method" value="!{getOld(reqBody,'ship_method')}">
							<span>!{getError(errors,'ship_method')} </span>
						</div>						 
					</div> 	
					<div class="row"> 
						<div class="form-group col-sm-6">
							<label for="ship_id">Shipment ID <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Shipment ID" id="ship_id" name="ship_id" value="!{getOld(reqBody,'ship_id')}">
							<span>!{getError(errors,'ship_id')} </span>
						</div>						 
					</div> 			
				</div>	
			</fieldset>			
			<div class="form-group"> 
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/order/view/#{order._id}" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>