extends /views/layouts/admin

block content	

	style.
		.billing_addr .col-sm-6
		{
			margin-right:15px;
		}

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/order/view/#{order._id}" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<fieldset>
				<legend>Billing  Address</legend>
				<div class="col-xs-12 billing_addr">                    
					<div class="row"> 
						<div class="form-group col-sm-6">
							<label for="billing_fname">First Name <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="First Name" id="billing_fname" name="billing_fname" value="!{getOld(reqBody,'billing_fname')}">
							<span>!{getError(errors,'billing_fname')} </span>
						</div>
						<div class="form-group col-sm-6">
							<label for="billing_lname">Last Name</label>		
							<input class="form-control" placeholder="Last Name" id="billing_lname" name="billing_lname" value="!{getOld(reqBody,'billing_lname')}">							
						</div> 
					</div>

					<div class="row"> 
						<div class="form-group col-sm-6">
							<label for="billing_phone">Phone <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Phone" id="billing_phone" name="billing_phone" value="!{getOld(reqBody,'billing_phone')}">
							<span>!{getError(errors,'billing_phone')} </span>
						</div>
						<div class="form-group col-sm-6">
							<label for="billing_email">Email <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Email" id="billing_email" name="billing_email" value="!{getOld(reqBody,'billing_email')}">
							<span>!{getError(errors,'billing_email')} </span>
						</div> 
					</div>

					<div class="row"> 
						<div class="form-group col-sm-12">
							<label for="billing_addr1">Street Address <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Street Address Line 1" type="text" id="billing_add1" name="billing_add1" value="!{getOld(reqBody,'billing_add1')}">
							<span>!{getError(errors,'billing_add1')} </span>
							<br/>
							<input class="form-control" placeholder="Street Address Line 2" id="billing_add2" name="billing_add2" value="!{getOld(reqBody,'billing_add2')}">
						</div>
					</div>

					<div class="row">     
						<div class="form-group col-sm-6">
							<label for="billing_city">City <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="City" id="billing_city" name="billing_city" value="!{getOld(reqBody,'billing_city')}">
							<span>!{getError(errors,'billing_city')} </span>                            
						</div>
						<div class="form-group col-sm-6">
							<label for="billing_state">State <span class="text-danger">*</span></label>		 
							<input class="form-control" placeholder="State" id="billing_state" name="billing_state" value="!{getOld(reqBody,'billing_state')}">
							<span>!{getError(errors,'billing_state')} </span>
						</div>
					</div>

					<div class="row">      
						<div class="form-group col-sm-6">
							<label for="billing_country">Country <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Country" id="billing_country" name="billing_country" value="!{getOld(reqBody,'billing_country')}">     
							<span>!{getError(errors,'billing_country')} </span>                      
						</div>
						<div class="form-group col-sm-6">
							<label for="billing_zip">Zipcode <span class="text-danger">*</span></label>		
							<input class="form-control" placeholder="Zipcode" id="billing_zipcode" name="billing_zipcode" value="!{getOld(reqBody,'billing_zipcode')}">  
							<span>!{getError(errors,'billing_zipcode')} </span>                         
						</div> 
					</div>       				
				</div>	
			</fieldset>
			<fieldset>
				<legend>Shipping  Address</legend>
				<div class="col-xs-12 shipping_addr">
					<div class="row"> 
						<div class="form-group col-sm-6">
							<label for="shipping_fname">First Name <span class="text-danger">*</span></label>       
							<input class="form-control" placeholder="First Name" id="shipping_fname" name="shipping_fname" value="!{getOld(reqBody,'shipping_fname')}">
							<span>!{getError(errors,'shipping_fname')} </span>
						</div>
						<div class="form-group col-sm-6">
							<label for="shipping_lname">Last Name</label>       
							<input class="form-control" placeholder="Last Name" id="shipping_lname" name="shipping_lname" value="!{getOld(reqBody,'shipping_lname')}">
						</div> 
					</div>

				<div class="row"> 
					<div class="form-group col-sm-6">
						<label for="shipping_phone">Phone <span class="text-danger">*</span></label>		
						<input class="form-control" placeholder="Phone" id="shipping_phone" name="shipping_phone" value="!{getOld(reqBody,'shipping_phone')}">
						<span>!{getError(errors,'shipping_phone')} </span>
					</div>
					<div class="form-group col-sm-6">
						<label for="shipping_email">Email <span class="text-danger">*</span></label>		
						<input class="form-control" placeholder="Email" id="shipping_email" name="shipping_email" value="!{getOld(reqBody,'shipping_email')}">	
						<span>!{getError(errors,'shipping_email')} </span>				
					</div> 
				</div>

				<div class="row"> 
					<div class="form-group col-sm-12">
						<label for="shipping_addr1">Street Address <span class="text-danger">*</span></label>       
						<input class="form-control" placeholder="Street Address Line 1" type="text" id="shipping_add1" name="shipping_add1" value="!{getOld(reqBody,'shipping_add1')}">
						<span>!{getError(errors,'shipping_add1')} </span>
						<br/>
						<input class="form-control" placeholder="Street Address Line 2" id="shipping_add2" name="shipping_add2" value="!{getOld(reqBody,'shipping_add2')}">
					</div>
				</div>

				<div class="row">     
					<div class="form-group col-sm-6">
						<label for="shipping_city">City <span class="text-danger">*</span></label>      
						<input class="form-control" placeholder="City" id="shipping_city" name="shipping_city" value="!{getOld(reqBody,'shipping_city')}">
						<span>!{getError(errors,'shipping_city')} </span>
					</div>
					<div class="form-group col-sm-6">
						<label for="shipping_state">State <span class="text-danger">*</span></label>        
						<input class="form-control" placeholder="State" id="shipping_state" name="shipping_state" value="!{getOld(reqBody,'billing_lname')}">
						<span>!{getError(errors,'shipping_state')} </span>
					</div>
				</div>

				<div class="row">      
					<div class="form-group col-sm-6">
						<label for="shipping_country">Country <span class="text-danger">*</span></label>        
						<input class="form-control" placeholder="Country" id="shipping_country" name="shipping_country" value="!{getOld(reqBody,'shipping_country')}">
						<span>!{getError(errors,'shipping_country')} </span>
					</div>
					<div class="form-group col-sm-6">
						<label for="shipping_zipcode">Zipcode <span class="text-danger">*</span></label>        
						<input class="form-control" placeholder="Zipcode" id="shipping_zipcode" name="shipping_zipcode" value="!{getOld(reqBody,'shipping_zipcode')}">
						<span>!{getError(errors,'shipping_zipcode')} </span>
					</div> 
				</div>

				</div>
			</fieldset>	
			<div class="form-group"> 
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/order/view/#{order._id}" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>