extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary

		div.listheader( style="height: 40px; ")
			a.btn.btn-primary.btn-md(href='/admin/order/export_in_excel' style="float:right;  "   ) Export Excel
			// if(query_user)
			// 	a.btn.btn-primary.btn-md(href='/admin/users/list'  style="float:right; margin-left: 15px;  " ) Back
			

		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
				<th>S.No</th>			
				<th>Id</th>
				<th>Customer</th>	
				<th>Product(s)</th>	
				<th>Total</th>		
				<th>Created</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if orders.length==0
				<tr><td colspan="6">No Data Found!</td></tr>				


			- var i = 1
			each order in orders
				if(order.user_id)
					<tr>
						<td>#{i++}</td>					
						<td>##{order.order_id}</td>
						<td><b>Name : </b>#{order.user_id ? order.user_id.name : ''}<br/><b>Email : </b>#{order.user_id ? order.user_id.email : ''}</td>
						<td>

						- var temp_op_prod = ''
						
						if order.order_product
							each op in order.order_product

								if op.product_id
									- temp_op_prod += op.product_id.name + '<br>'
								if op.part_id
									- temp_op_prod += op.part_id.name + '<br>'
								if op.webinar_id
									- temp_op_prod += op.webinar_id.title + '<br>'
								if op.seminar_id
									- temp_op_prod += op.seminar_id.title + '<br>'
							<span>!{temp_op_prod}</span>

						</td>
						<td>$#{order.total}</td>						
						<td>#{showDate(order.updated_at)}</td>
						<td>
							select.form-control(id="order_status_"+order._id style="width:50%;float:left;")
								each status,key in statuses
									option(value=key selected=(order.status == key)?true:false) #{status}
							|&nbsp;&nbsp;&nbsp;
							button(type="button" class="btn bg-olive btn-xs save_status"  data-id=order._id): i.fa.fa-floppy-o(aria-hidden="true")
						</td>
						<td>
							<a href="/admin/order/view/#{order._id}" class="btn btn-xs btn-primary">View</a>
							<a href="/admin/order/packing_slip/#{order._id}" class="btn btn-xs btn-primary" target="_blank"><i class="fa fa-truck"></i></a>
							
							//-	<!--<a href="/admin/order/mail/#{order._id}" class="btn btn-xs btn-warning">Mail</a>-->
						</td>
					</tr>
			<tbody>
		</table>
		</div>
		script.
			$(document).ready(function() {
				var searchuser = getUrlVars()["user"];
				if(searchuser != undefined)				
				{					
					$('.dataTables_filter input').val(searchuser);
					$('.dataTables_filter input').trigger('keyup');
				}	
			});

			$(document).on('click','.save_status',function(){
				var id = $(this).attr('data-id');
				var status = $('#order_status_'+id).val();
				
				$.ajax({
					url:'/admin/order/status-change',
					type:'post',
					data:{'id':id,'status':status},
					dataType:'json',
					beforeSend: function() { $.blockUI(); },
					success:function(data){
						$.unblockUI();
						if(data.status == 'success'){
							alert("Order Status Changed.")
						}else{
							alert("Order Status Not Changed.")
						}
					}
				});
			});