extends /views/layouts/admin

block content	
	style.
		header,aside,footer
		{
			display: none;
		}	
		div.content-wrapper
		{
			margin-left:0px;
			width:800px;
		}	
	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
		<!--	<li><a href="/admin/order/list" class="btn btn-success btn-sm">Back</a></li>	-->

	div.maindiv.box.box-primary
		div.box-body.admin-view
			<form class="form-horizontal" method="post">
				<div class="form-group">					
					<div class="col-sm-12">Order ID : ##{order.order_id}</div>
				</div>				
				<div class="form-group">					
					<div class="col-sm-12" style="padding: 0px">
						<div class="col-sm-6" style="width: 48%;float: left">
							<b>Bill To</b>
							<address class="add_box">
								<b>#{order.order_address.billing_fname+' '+order.order_address.billing_lname}</b><br/>#{order.order_address.billing_add1}<br/>
								<b>City : </b>#{order.order_address.billing_city}<br/>
								<b>State : </b>#{order.order_address.billing_state}<br/>
								<b>Country : </b>#{order.order_address.billing_country}<br/>
								<b>Zipcode : </b>#{order.order_address.billing_zipcode}<br/>
								<b>Phone : </b>#{order.order_address.billing_phone}<br/>
								<b>Email : </b>#{order.order_address.billing_email}<br/>
							</address>
						</div>
						<div class="col-sm-6" style="width: 48%;float: right">
							<b>Shipp To</b>
							<address class="add_box">
								<b>#{order.order_address.shipping_fname+' '+order.order_address.shipping_lname}</b><br/>#{order.order_address.shipping_add1}<br/>		
								<b>City : </b>#{order.order_address.shipping_city}<br/>
								<b>State : </b>#{order.order_address.shipping_state}<br/>
								<b>Country : </b>#{order.order_address.shipping_country}<br/>
								<b>Zipcode : </b>#{order.order_address.shipping_zipcode}<br/>
								<b>Phone : </b>#{order.order_address.shipping_phone}<br/>
								<b>Email : </b>#{order.order_address.shipping_email}<br/>
							</address>
						</div>
					</div>
				</div>

				<div class="form-group">					
					<div class="col-sm-12">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped">
								<tr>
									<th>Sr.No</th>
									<th>Type</th>
									<th>Name</th>									
									<th>Qty</th>									
								</tr>
								- var i = 1
								each product in order.order_product
									<tr>
										<td>#{i++}</td>	
										<td>#{product.type}</td>				
										<td>
										if(product.type=='product')
											span #{product.product_id.name}
										else if(product.type=='part')
											span #{product.part_id.name} 
										else if(product.type=='webinar')
											span #{product.webinar_id.title}(#{product.webinar_id[product.datetime].toLocaleString()})
										else if(product.type=='seminar')
											span #{product.seminar_id.title} (#{product.seminar_id.date_time.toLocaleString()})
										</td>										
										<td>#{product.qty}</td>										
									</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="form-group">					
					<div class="col-sm-12" style="padding: 0px">
						<div class="col-sm-6" style="width: 100%;float: left">
							<b>From</b>
							<address class="add_box">PO Box 3141 <br/>Tempe AZ, 85280 USA <br/>Ph.: 480.829.1727 </address>
						</div>						
					</div>
				</div>
			</form>