extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/order/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary
		div.box-body.admin-view
			<form class="form-horizontal" method="post">
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Order Id</label>
					<div class="col-sm-8">##{order.order_id}</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Customer</label>
					<div class="col-sm-8">
						<b>Name : </b> #{order.user_id ? order.user_id.name : ''}<br/>
						<b>Email : </b> #{order.user_id ? order.user_id.email : ''}<br/>
						<b>Phone : </b> #{order.user_id ? order.user_id.phone : ''}
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Order Products</label>
					<div class="col-sm-8">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-striped">
								<tr>
									<th>Sr.No</th>
									<th>Type</th>
									<th>Name</th>
									<th>Price</th>
									<th>Qty</th>
									<th>Total</th>
								</tr>
								- var i = 1
								each product in order.order_product
									<tr>
										<td>#{i++}</td>	
										<td>#{product.type}</td>				
										<td>
										if(product.type=='product')
											span #{product.product_id.name}
										else if(product.type=='part')
											span #{product.part_id.name} 
										else if(product.type=='webinar')
											span #{product.webinar_id.title}(#{product.webinar_id[product.datetime] ? product.webinar_id[product.datetime].toLocaleString() : ''})
										else if(product.type=='seminar')
											span #{product.seminar_id.title} (#{product.seminar_id.date_time ? product.seminar_id.date_time.toLocaleString() : ''})
										</td>
										<td>$#{product.price}</td>
										<td>#{product.qty}</td>
										<td>$#{product.total}</td>
									</tr>
							</table>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Order Address</label>
					<div class="col-sm-8">
						<div class="col-xs-12 col-sm-6">
							<b>Billing Address</b>
							<address class="add_box">
								if order.order_address && order.order_address.billing_fname
									<b>#{order.order_address.billing_fname+' '+order.order_address.billing_lname}</b><br/>#{order.order_address.billing_add1}<br/>
									<b>City : </b>#{order.order_address.billing_city}<br/>
									<b>State : </b>#{order.order_address.billing_state}<br/>
									<b>Country : </b>#{order.order_address.billing_country}<br/>
									<b>Zipcode : </b>#{order.order_address.billing_zipcode}<br/>
									<b>Phone : </b>#{order.order_address.billing_phone}<br/>
									<b>Email : </b>#{order.order_address.billing_email}<br/>
								else
									<b>NOT FOUND</b>
							</address>
						</div>
						<div class="col-xs-12 col-sm-6">
							<b>Shipping Address</b>
							<address class="add_box">
								if order.order_address && order.order_address.shipping_fname
									<b>#{order.order_address.shipping_fname+' '+order.order_address.shipping_lname}</b><br/>#{order.order_address.shipping_add1}<br/>		
									<b>City : </b>#{order.order_address.shipping_city}<br/>
									<b>State : </b>#{order.order_address.shipping_state}<br/>
									<b>Country : </b>#{order.order_address.shipping_country}<br/>
									<b>Zipcode : </b>#{order.order_address.shipping_zipcode}<br/>
									<b>Phone : </b>#{order.order_address.shipping_phone}<br/>
									<b>Email : </b>#{order.order_address.shipping_email}<br/>
								else 
									<b>NOT FOUND</b>
							</address>
						</div>
					</div>
					<div class="col-sm-2">
						<a href="/admin/order/edit_address/#{order._id}" class="btn btn-info">Edit Address</a>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Payment Method</label>
					<div class="col-sm-8">#{order.payment_method}</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Payment Id</label>
					<div class="col-sm-8">#{order.payment_id}</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Sub Total</label>
					<div class="col-sm-8">$#{order.subtotal}</div>
				</div>

				if(order.discount > 0)
					<div class="form-group">
						<label class="control-label col-sm-2" for="title">Discount</label>
						<div class="col-sm-8">$#{order.discount} <span class="text-success">(#{order.discountcode})</span> </div>
					</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Total</label>
					<div class="col-sm-8">$#{order.total}</div>
				</div>

				<fieldset>
					<legend>Shipment Details <a href="/admin/order/edit_shipment/#{order._id}" class="btn btn-xs btn-info">Edit Shipment</a></legend>
					<div class="form-group">
						<label class="control-label col-sm-2" for="title">Shipment Method</label>
						<div class="col-sm-8">#{order.ship_method}</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-2" for="title">Shipment ID</label>
						<div class="col-sm-8">#{order.ship_id}</div>
					</div>
				</fieldset>				
				
				<div class="form-group"> 
					<div class="col-sm-offset-2 col-sm-10">					
						<a href="/admin/order/list" class="btn btn-info">Back</a>
					</div>
				</div>
			</form>
			<style>.add_box{border: 1px solid #cccc;margin: 5px;padding: 10px;min-height: 180px;}</style>