extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/speakers/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">
			
			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>-->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">First Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="fname" placeholder="Enter First Name" value="!{getOld(reqBody,'fname')}">
					<span>!{getError(errors,'fname')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Last Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name" value="!{getOld(reqBody,'lname')}">
					<span>!{getError(errors,'lname')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="tag_line" name="tag_line" placeholder="Enter Tag Line" value="!{getOld(reqBody,'tag_line')}">
					<span>!{getError(errors,'tag_line')} </span>	
				</div>
			</div>			

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Default Image <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'image')}" readonly="">					
					</div>					
					<span>!{getError(errors,'image')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Bio <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="bio" name="bio[#{language.code}]" placeholder="Enter Bio">!{getOld(reqBody,'bio',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'bio.en')} </span>
				</div>
			</div>	<!-- end body --> 
			

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Category<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="category" name="category">
					<option value="">Select Category</option>
					<option value="trainer" !{getOld(reqBody,'category') == 'trainer' ? 'selected' : ''}>Trainers</option>
					<option value="instructor" !{getOld(reqBody,'category') == 'instructor' ? 'selected' : ''}>Instructor</option>
					<option value="both" !{getOld(reqBody,'category') == 'both' ? 'selected' : ''}>Both</option>
					</select>
					<span>!{getError(errors,'category')} </span>
				</div>
			</div>

			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Trainers<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="trainers" name="trainers">
					<option value="">Select Trainers</option>
					<option value="not_talk" !{getOld(reqBody,'trainers') == 'not_talk' ? 'selected' : ''}>Not Talk</option>
					<option value="lecture" !{getOld(reqBody,'trainers') == 'lecture' ? 'selected' : ''}>Lecture - but teach </option>	
					</select>
					<span>!{getError(errors,'trainers')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Seminar Instructors<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="instructors" name="instructors">
					<option value="">Select Instructors</option>
					<option value="high_end_professor" !{getOld(reqBody,'instructors') == 'high_end_professor' ? 'selected' : ''}>High end professor</option>
					<option value="low_end_professor" !{getOld(reqBody,'instructors') == 'low_end_professor' ? 'selected' : ''}>Low end professor</option>	
					</select>
					<span>!{getError(errors,'instructors')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Webinars <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="webinars" name="webinars">
					<option value="">Select Webinars</option>
					<option value="profession" !{getOld(reqBody,'webinars') == 'profession' ? 'selected' : ''}>Profession</option>
					<option value="speak_person" !{getOld(reqBody,'webinars') == 'speak_person' ? 'selected' : ''}>Speak person</option>	
					</select>
					<span>!{getError(errors,'webinars')} </span>
				</div>
			</div>-->

			<fieldset>
				<legend>Testimonial</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Testimonials</label>
					<div class="col-sm-8">
						<select class="form-control select2" id="testimonials" name="testimonials" multiple>
						<option  value="" >Select Testimonials</option>
							each testimonial,key in testimonials
								<option  value="#{key}" !{getOld(reqBody,'testimonials','','string').indexOf(key) !== -1 ? 'selected' : ''}>#{testimonial}</option>
						</select>						
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Meta Info</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Enter Meta Title" value="!{getOld(reqBody,'meta_title')}">						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" value="!{getOld(reqBody,'meta_description')}">						
					</div>
				</div>
			</fieldset>	

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/speakers/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

		script.
			$("#lname").blur(function(){
				var val1 = $('#title').val();		
				var val2 = $(this).val();
				var val = val1 +' '+val2; 		
				val =  val.toLowerCase();
				val =  val.replace(/ /g,"-");
				val =  val.replace(/[^A-Za-z0-9^_\-]/g, "");
		
				$('#slug').val(val);		
			});