extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/speakers/add') Add Speaker
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>				
			<th>Name</th>
			<th>Image</th>
			<th>Title</th>
			<th>Category</th>
			<!--<th>Trainers</th>
			<th>Instructors</th>
			<th>Webinars</th>-->
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if speakers.length==0
				<tr><td colspan="8">No Data Found!</td></tr>		 							

			- var i = 1
			each speaker in speakers
				<tr>
					<td>#{i++}</td>										
					<td>#{speaker.name}</td>
					<td><img src="/gallery/#{speaker.image}" style="max-width: 66px;max-height: 66px"/></td>
					<td>#{speaker.tag_line}</td>
					<td>#{speaker.category}</td>
					<!--<td>#{speaker.trainers}</td>
					<td>#{speaker.instructors}</td>
					<td>#{speaker.webinars}</td>-->					
					<td>!{(speaker.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(speaker.updated_at)}</td>
					<td>
					if speaker.status == 1
						<a href="/admin/speakers/status/#{speaker._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/speakers/status/#{speaker._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/speakers/edit/#{speaker._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/speakers/delete/#{speaker._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>
				</tr>					
			<tbody>
		</table>
		</div>