extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader( style="height: 40px; ")
			a.btn.btn-primary.btn-md.pull-right(href='/admin/webinars/attendies_export/'+webinar._id,style="margin-left: 10px; ") Export Excel			
			a.btn.btn-primary.btn-md.pull-right(href='/admin/webinars/list') List Webinar
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>				
			<th>Name</th>			
			<th>Email</th>
			<th>Phone</th>			
			<th>Booking Date</th>			
			</tr>
			</thead>
			<tbody>
			- var i = 1
			each orderproduct in orderproducts
				<tr>
					<td>#{i++}</td>
					each user in users
						if  orderproduct.user_id && user._id == orderproduct.user_id.toString()
							<td>#{user.name}</td>					
							<td>#{user.email}</td>					
							<td>#{user.phone}</td>								
					<td>#{orderproduct.created_at.toLocaleString()}</td>			
			<tbody>
		</table>
		</div>