extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/webinars/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>

			<div class="form-group">				
				<label class="control-label col-sm-2" for="email">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="category" name="category">
					<option  value="" >Select Category</option>
						each category in categories
							if(category.parent_id == 0)
								<option  value="#{category._id}" !{getOld(reqBody,'category').toString() == category._id ? 'selected' : ''}>#{category.name}</option>
								each category2 in categories
									if(category2.parent_id == category._id)
										<option  value="#{category2._id}" !{getOld(reqBody,'category').toString() == category2._id ? 'selected' : ''}>&nbsp;&nbsp;&nbsp;--#{category2.name}</option>

					</select>
					<span>!{getError(errors,'category')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Speaker <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control select2" id="speaker_id" name="speaker_id" multiple>
						<option  value="">Select Speaker</option>
						each speaker in speakers
							<option  value="#{speaker._id}" !{getOld(reqBody,'speaker_id') && getOld(reqBody,'speaker_id').toString().indexOf(speaker._id) !== -1 ? 'selected' : ''}>#{speaker.name}</option>
					</select>					
					<span>!{getError(errors,'speaker_id')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Image <span class="text-danger"></span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'image')}"  readonly="">					
					</div>
					<span>!{getError(errors,'image')} </span>
					if(reqBody && reqBody.image)
						<img src="/gallery#{reqBody.image}" width="100px" height="100px"/>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Description <span class="text-danger"></span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="description" name="description[#{language.code}]" placeholder="Enter Description">!{getOld(reqBody,'description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'description.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Objective </label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#obj_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="obj_content_#{language.name}">
								else
									<div class="tab-pane" id="obj_content_#{language.name}">

								<textarea class="form-control ckeditor" id="objective" name="objective[#{language.code}]" placeholder="Enter Objective">!{getOld(reqBody,'objective',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'objective.en')} </span>
				</div>
			</div>	<!-- end body --> 

			//-
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Topics <span class="text-danger">*</span></label>
					<div class="col-sm-10">
						<div id="exTab1" class="container1" style="padding:0px">
							<ul  class="nav nav-pills">
								each language,index in activeLanguage
									if language.code =='en'
										<li class="active">
									else
										<li class="">
											
									<a  href="#obj_content_#{language.name}" data-toggle="tab">#{language.name}</a>
									</li> 
							</ul>
							<div class="tab-content clearfix">
								each language in activeLanguage
									if language.code =='en'
										<div class="tab-pane active" id="obj_content_#{language.name}">
									else
										<div class="tab-pane" id="obj_content_#{language.name}">

									<textarea class="form-control ckeditor" id="topics" name="topics[#{language.code}]" placeholder="Enter Objective">!{getOld(reqBody,'topics',language.code)}</textarea>
									</div>
							</div>						
						</div> <!-- end tab pane container -->	

						<span>!{getError(errors,'topics.en')} </span>
					</div>
				</div>	<!-- end body --> 
				

			<div class="form-group"  id="states_select_div">
				<label class="control-label col-sm-2" for="email">States<span class="text-danger"></span></label>
				<div class="col-sm-8">
					if reqBody.states != null
						<select class="form-control select2" id="states" name="states" multiple>
						<option value="">Select States</option>
						each state in states
							<option value="#{state.name}" !{getOld(reqBody,'states').indexOf(state.name) !== -1 ? 'selected' : ''}>#{state.name}</option>
						</select>
					else
						<select class="form-control select2" id="states" name="states" multiple>
						<option value="">Select States</option>
						each state in states
							<option value="#{state.name}">#{state.name}</option>
						</select>
					<span>!{getError(errors,'states')} </span>					
				</div>
			</div>

			if(reqBody.states)
				each state in reqBody.states
					<div class="form-group state_messages">
						<label class="control-label col-sm-2" for="email">Message for State #{state}</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" for_state="#{state}" name="state_msg[#{state}]" placeholder="Enter Message for #{state}" value="#{reqBody.state_msg ? reqBody.state_msg[state] : ''}">
						</div>
					</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Topics<span class="text-danger"></span></label>
				<div class="col-sm-8">
					<select class="form-control select2" id="topics" name="topics" multiple>
					<option value="">Select Topics</option>
					each topicdata in topics
						<option value="#{topicdata.topic}"  !{getOld(reqBody,'topics').indexOf(topicdata.topic) !== -1 ? 'selected' : ''} >#{topicdata.topic}</option>
					</select>
					<span>!{getError(errors,'topics')} </span>					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Pre-requisite<span class="text-danger"></span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="pre_requisite" name="pre_requisite" placeholder="Enter Pre Requisite" value="!{getOld(reqBody,'pre_requisite')}">
					<span>!{getError(errors,'pre_requisite')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Education Level</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="education_level" name="education_level" placeholder="Enter Education Level" value="!{getOld(reqBody,'education_level')}">
					<span>!{getError(errors,'education_level')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Price<span class="text-danger"></span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
						<input type="text" class="form-control" id="price" name="price" placeholder="Enter Price" value="!{getOld(reqBody,'price')}">
					</div>					
					<span class="text-muted">(If webinar is free then enter price 0)</span><br/>	
					<span>!{getError(errors,'price')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Date & Time 1<span class="text-danger"></span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control datetimepicker" id="date_time_1" name="date_time_1" placeholder="Select Date & Time" value="!{reqBody.date_time_1 == null ? ' ': reqBody.date_time_1.toLocaleString()}">
					<span>!{getError(errors,'date_time_1')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Date & Time 2</label>
				<div class="col-sm-8">
					<input type="text" class="form-control datetimepicker" id="date_time_2" name="date_time_2" placeholder="Select Date & Time" value="!{reqBody.date_time_2 == null ? ' ': reqBody.date_time_2.toLocaleString()}">
					<span>!{getError(errors,'date_time_2')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Adobe Connect URL</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="url" name="url" placeholder="Enter Webinar URL" value="!{getOld(reqBody,'url')}">
					<span>!{getError(errors,'url')} </span>	
				</div>
			</div>
			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Adobe Connect Recorded Url</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="recorded_url" name="recorded_url" placeholder="Enter Webinar Recorded Url" value="!{getOld(reqBody,'recorded_url')}">
					<span>!{getError(errors,'recorded_url')} </span>	
				</div>
			</div> -->	
					

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Contact Hours<span class="text-danger"></span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="contact_hours" name="contact_hours" placeholder="Enter Contact Hours" value="!{getOld(reqBody,'contact_hours')}">
					<span>!{getError(errors,'contact_hours')} </span>	
				</div>
			</div>

			<fieldset>
				<legend>Testimonial</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Testimonials</label>
					<div class="col-sm-8">
						<select class="form-control select2" id="testimonials" name="testimonials" multiple>
						<option  value="" >Select Testimonials</option>
							each testimonial,key in testimonials
								<option  value="#{key}" !{getOld(reqBody,'testimonials','','string').indexOf(key) !== -1 ? 'selected' : ''}>#{testimonial}</option>
						</select>						
					</div>
				</div>
			</fieldset>

			

			<fieldset>
				<legend>Meta Info</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Enter Meta Title" value="!{getOld(reqBody,'meta_title')}">						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" value="!{getOld(reqBody,'meta_description')}">						
					</div>
				</div>
			</fieldset>	

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/webinars/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

		script.

			$( "#states" ).change(function() {
				
				var state_arr = $(this).val(); 
			  	if(state_arr.length)
					state_arr.forEach(function (item, index) {
						var flag = false; 
						$('.state_messages').each(function(i, obj) {						    
						    if(item == $(obj).find('input').attr('for_state'))
						    	flag = true; 
						});
						if(!flag)
						  	$( "#states_select_div" ).after( '<div class="form-group state_messages">\
								<label class="control-label col-sm-2" for="email">Message for State '+item+'</label>\
								<div class="col-sm-8">\
									<input type="text" class="form-control" for_state="'+item+'" name="state_msg['+item+']" placeholder="Enter Message for '+item+'" value="">\
								</div>\
							</div>' );
					});

					$('.state_messages').each(function(i, obj) {					     
					    if(jQuery.inArray($(obj).find('input').attr('for_state'), state_arr) == -1){
					    	$(obj).remove(); 
					    }
					});
			});