extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/webinars/add') Add Webinar
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>				
			<th>Title</th>			
			<th>Category</th>
			<th>Speaker</th>
			<th>States</th>
			<th>Topics</th>
			<th>Price</th>
			<th>Date & Time</th>			
			<th>Attendies</th>			
			<th>Status</th>		
			<th>Created</th>
			<th width="130px">Action</th>
			</tr>
			</thead>
			<tbody>
			if webinars.length==0
				<tr><td colspan="8">No Data Found!</td></tr>		 							

			- var i = 1
			each webinar in webinars
				<tr>
					<td>#{i++}</td>										
					<td>#{webinar.title}</td>					
					<td><a href="/admin/categories/edit/#{webinar.category._id}" target="_blank">#{webinar.category.name}</a></td>					
					<td>
					each  speaker in webinar.speaker_id
						<a href="/admin/speakers/edit/#{speaker._id}" target="_blank">#{speaker.name}</a><br/>

					</td>					
					<td>
					if webinar.states != null
						each  state in webinar.states
							<span>#{state}</span><br/>
					</td>
					<td>
					each  topic in webinar.topics
						<span>#{topic}</span><br/>
					</td>
					<td>$#{webinar.price}</td>
					<td>
					- var dateTimeVar = webinar.date_time_1
					if dateTimeVar != null
						|#{dateTimeVar.toLocaleString()} (#{intToHex(webinar.date_time_1)})
					else
						p -</td>				
					<td>
					- var cnt = 0	
					each op in orderproducts						
						if op.webinar_id.toString() == webinar._id
							- cnt++
					
					<span><a href="/admin/webinars/attendies/#{webinar._id}" class="btn btn-xs btn-danger">#{cnt}</a></span>
					</td>										
					<td>!{(webinar.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>						
					<td>#{showDate(webinar.updated_at)}</td>				
					<td>
					if webinar.status == 1
						<a href="/admin/webinars/status/#{webinar._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/webinars/status/#{webinar._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/webinars/edit/#{webinar._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/webinars/delete/#{webinar._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>
				</tr>					
			<tbody>
		</table>
		</div>
		- function intToHex(i){  
		-	var webinarDateTime1 = moment(i);
		-   var userTzTime1 = webinarDateTime1.tz("America/new_york").format('z');
		-   return userTzTime1;
		- }