<div class="slider" *ngIf="this.page && getBanner(this.page)!=''">
    <div class="featured_image">
        <img src="{{getBanner(this.page)}}" alt="" />
    </div>
    <!-- <div class="slider_bottom">
        <div class="container">
            <div class="social_media">    
                <a routerLink="/blogs" class="live_chat">Our Blogs</a>      
                <ul>
                    <li *ngIf="env.instagramUrl!=''"><a href="{{env.instagramUrl}}" target="_blank"> <i class="fab fa-instagram"></i> </a></li>
                    <li *ngIf="env.facebookUrl!=''"><a href="{{env.facebookUrl}}" target="_blank"> <i class="fab fa-facebook-square"></i> </a></li>
                    <li *ngIf="env.twitterUrl!=''"><a href="{{env.twitterUrl}}" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                    <li *ngIf="env.vimeoUrl!=''"><a href="{{env.vimeoUrl}}" target="_blank"> <i class="fab fa-vimeo"></i> </a></li>
                    <li *ngIf="env.linkedinUrl!=''"><a href="{{env.linkedinUrl}}" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>

<div class="slider" *ngIf="this.page && getBanner(this.page)==''" style="height: 30px;margin-top: -50px;">

</div>	