extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Seminar</th>			
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Message</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if requests.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each request in requests
				<tr>
					<td>#{i++}</td>
					<td><a href="/admin/seminars/edit/#{request.seminar_id._id}" target="_blank">#{request.seminar_id.title}</a></td>
					<td>#{request.name}</td>
					<td>#{request.email}</td>
					<td>#{request.phone}</td>
					<td>#{request.message}</td>
					<td>!{(request.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(request.updated_at)}</td>
					<td>
					if request.status == 1
						<a href="/admin/seminar_host_request/status/#{request._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/seminar_host_request/status/#{request._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/seminar_host_request/view/#{request._id}" class="btn btn-xs btn-info">View</a>&nbsp;&nbsp;
					<a href="/admin/seminar_host_request/delete/#{request._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>