extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/seminar_host_request/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">			

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Seminar</label>
				<div class="col-sm-8">
						<a href="/admin/seminars/edit/#{reqBody.seminar_id._id}" target="_blank">#{reqBody.seminar_id.title}</a>
				</div>				
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name</label>
				<div class="col-sm-8">
						span #{reqBody.name}			
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email</label>
				<div class="col-sm-8">
					span #{reqBody.email}
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Phone</label>
				<div class="col-sm-8">
					span #{reqBody.phone}
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Address</label>
				<div class="col-sm-8">
					span #{reqBody.address}
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Message</label>
				<div class="col-sm-8">
					span #{reqBody.message}
				</div>				
			</div>				


			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">					
					<a href="/admin/seminar_host_request/list" class="btn btn-success">Back</a>
				</div>
			</div>
		</form>