extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/languages/add') Add Language
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>
			<th>Code</th>			
			<th>Name</th>			
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if languages.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each language in languages
				<tr>
					<td>#{i++}</td>					
					<td>#{language.code}</td>
					<td>#{language.name}</td>					
					<td>!{(language.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(language.updated_at)}</td>
					<td>
					if language.status == 1
						<a href="/admin/languages/status/#{language._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/languages/status/#{language._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/languages/edit/#{language._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/languages/delete/#{language._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>