extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/states/add') Add State
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Name</th>
			<th style="width: 350px; ">Default Message</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if states.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each state in states
				<tr>
					<td>#{i++}</td>					
					<td>#{state.name}</td>
					<td>#{state.default_message}</td>
					<td>!{(state.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(state.updated_at)}</td>
					<td>
					if state.status == 1
						<a href="/admin/states/status/#{state._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/states/status/#{state._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/states/edit/#{state._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/states/delete/#{state._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>