div.approved_state
{
	padding-top: 0px;
	margin-top: 40px;
}
div.approved_state ul
{
	padding-left: 15px;
}
.approved_state li
{
	width: 100%;
	padding: 5px;
}
.approved_state li img
{
	margin-right: 10px;
}