extends /views/layouts/admin_login

block content
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>Admin</b>LiteGait</a>
		</div>
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form method="post">
				<div class="form-group has-feedback">
					<input type="email" class="form-control" placeholder="Email" name="email">
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					<span>!{getError(errors,'email')} </span>	
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password" name="password">
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<span>!{getError(errors,'password')} </span>	
				</div>
				<div class="row">
					<div class="col-xs-8">
					</div>				
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
					</div>				
				</div>
			</form>			
		</div>  
	</div>