<div id="content">
    <div class="container">
    	<div class="row" style="margin-top: 20px">
    		<div class="col-xs-8">
    			<div class="pagehead"><h2><span>Make Payment</span></h2></div>   
    			<div class="col-xs-12 text-center" *ngIf="!show"  style="margin-top: 50px">
    				<label>Facility Name :</label>
					<input id="facility_name" class="form-control" style="width: 250px; margin-left: 3px;  border-radius: 0px; display: inline-block; "  placeholder="Enter Facility Name" #facility_name /> 
				<!-- 	<button style="margin-left: 5px; " class=" payment_page_btn" (click)="checkValue(facility_name.value)">Next</button>
					 <div *ngIf="showFacilityError" class="text-danger"> Facility name is required.</div>  -->

					<!-- <div>
						<button class=" payment_page_btn" (click)="checkValue(facility_name.value)">Next</button>
					</div> -->
				</div>  				    					
    			<div class="col-xs-12 text-center"  style="margin-top: 50px">
					<ngx-paypal [config]="payPalConfig"></ngx-paypal>
				</div>    			
    		</div>
    		<div class="col-xs-4" *ngIf="this.elp">
				<div class="pagehead2">ELP Plan Detail</div> 
				<table class="order_info">
					<tr><th>Product</th><th>Total</th></tr>
					<tr class="item"> 
						<td>Package Name</td>
						<td> {{ this.elp.name }} ({{ this.elp.display_name }}) </td>
					</tr>					
					<tr class="item"> 
						<td>Unlimited Access to the Full Webinar Library <div *ngIf="this.elp.persons > 1" style="font-style: italic; font-size: 11px; color: #aaa; font-weight: bold;  ">For a group of up to 12 clinicians</div></td>
						<td> {{ this.elp.duration}}  Months</td>
					</tr>
					<tr class="item"> 
						<td>Price</td>
						<td> ${{ this.elp.price }} </td>
					</tr>
				</table>

			<ng-container *ngIf="show">
			<div class="">
               <form [formGroup]="userForm" #formDir="ngForm">
 				<div class="col-xs-12 text-center" style="padding: 0px">
					<div class="pagehead2">Coupon Code</div>
					<div class="form-group">
						<div class="col-sm-12">					
							<div class="input-group input-group-sm">
					        	<input id="coupon_code" class="form-control" formControlName="coupon_code"  placeholder="Enter Coupon Code" required/>
								<span class="input-group-btn">
									<button type="button" class="btn btn-success btn-lrg ajax gen_code"  [disabled]="userForm.invalid"  (click)="submitForm()"><i class="fa fa-refresh"></i>&nbsp; Apply</button>
								</span>
							</div>
							<span *ngIf="userForm.controls.coupon_code.invalid && (userForm.controls.coupon_code.dirty || userForm.controls.coupon_code.touched)" class="text-danger">
								<span *ngIf="userForm.controls.coupon_code.errors.required"> Coupon code is required.</span>
							</span>

							<span class="col-sm-12 text-left text-success couponmsg" style="padding-left: 0px;">{{this.couponSuccessMsg}}</span>	
							<span class="col-sm-12 text-left text-danger couponmsg" style="padding-left: 0px;">{{this.couponErrorMsg}}</span>	
						</div>
					</div>
				</div> 

	  			</form>
                        
                </div>

				</ng-container>
    		</div>
    	</div>
    </div>	
</div> 
