
    <div class="contact_us">

        <div class="container">
            <h4>Contact Us</h4>
            <div class="row">
                <div class="col-sm-6">
                        <form [formGroup]="userForm" #formDir="ngForm">   
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <!-- <input type="text" class="form-control" placeholder="First name"> -->

                                    <input id="first_name" class="form-control " formControlName="first_name"  placeholder="Enter Your First Name" required/>

                                    <div *ngIf="userForm.controls.first_name.invalid && (userForm.controls.first_name.dirty || userForm.controls.first_name.touched)" class="text-danger">
                                        <div *ngIf="userForm.controls.first_name.errors.required"> First Name is required.</div>
                                    </div>          



                                    </div>
                                    <div class="col-xs-6">
                                        <!-- <input type="text" class="form-control" placeholder="Last name"> -->

                                        <input id="last_name" class="form-control " formControlName="last_name"  placeholder="Enter Your Last Name" required/>

                                        <div *ngIf="userForm.controls.last_name.invalid && (userForm.controls.last_name.dirty || userForm.controls.last_name.touched)" class="text-danger">
                                            <div *ngIf="userForm.controls.last_name.errors.required"> Last Name is required.</div>
                                        </div>          
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <input type="text" class="form-control" placeholder="Email address"> -->
                                    <input id="email" class="form-control" formControlName="email"  placeholder="Enter Your Email" required/>
                                    <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)" class="text-danger">
                                        <div *ngIf="userForm.controls.email.errors.required"> Email is required.</div>
                                        <div *ngIf="userForm.controls.email.errors.email"> Email is not valid.</div>
                                    </div>
                            </div>
                            <div class="form-group">
                           <!--      <select class="form-control">
                                    <option>Denmark</option>
                                    <option>Denmark</option>
                                    <option>Denmark</option>
                                    <option>Denmark</option>
                                </select> -->
                                    <input id="address" class="form-control " formControlName="address"  placeholder="Address" />

                        <!--            <div *ngIf="userForm.controls.address.invalid && (userForm.controls.address.dirty || userForm.controls.address.touched)" class="text-danger">
                                        <div *ngIf="userForm.controls.address.errors.required"> Address is required.</div>
                                    </div>    -->       
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Your Message"   id="message"  formControlName="message"  placeholder="Message" required></textarea>

                                <div *ngIf="userForm.controls.message.invalid && (userForm.controls.message.dirty || userForm.controls.message.touched)" class="text-danger">
                                    <div *ngIf="userForm.controls.message.errors.required"> Message is required.</div>
                                </div>   




                            </div>
                            <button type="submit" class="btn" value="Submit"  [disabled]="userForm.invalid" (click)="sendContactEmail()">Submit</button>

                        </form>
                    </div>
                <div class="col-sm-6">
                    <div class="contact_detail">
                        <h5>Corporate Headquarter</h5>
                        <p>PO Box 3141<br>
                            Tempe AZ, 85280 USA</p>
                        <h5>Sales Inquiries (Domestic/International)</h5>
                        <p class="icon"><span><i class="fas fa-phone"></i></span>480.829.1727</p>
                        <p><span><i class="fas fa-envelope"></i></span>480.829.1727</p>
                        <ul>
                            <li><a href="#">Education</a></li>
                            <li><a href="#">Phone number</a></li>
                            <li><a href="#">E-mail</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="distributor_sec" *ngIf="slug != 'contact-us'">
        <div class="container">
            <h3>Distributor list In - <span *ngIf="this.regionData">{{this.regionData.name}}</span></h3>
            <div class="distrobutor_list">
                <ul>
                	<li *ngFor="let distributor of this.distributorData">
                        <div class="align_left">
                            <h5>{{distributor.name}}</h5>
                           	<div [innerHTML]="distributor.address | nl2br"></div>
                        </div>
                        <div class="align_right">
                            <p *ngIf="distributor.national==1"><span><i class="fas fa-chart-pie"></i></span>National Distributor</p>
                            <p *ngIf="distributor.certified==1"><span><i class="fas fa-bookmark"></i></span>Certified Distributor</p>
                            <p *ngIf="distributor.high_level_product==1"><span><i class="fas fa-star"></i></span>High level of product range</p>
                        </div>
                    </li>                     
                </ul>
            </div>
        </div>
    </div>


