extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/blogs/add') Add Blog
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>	
			<th>Image</th>		
			<th>Title</th>			
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if blogs.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each blog in blogs
				<tr>
					<td>#{i++}</td>		
					<td>
					if(blog.image =="")
						span N/A
					else
						img(src='/gallery/'+blog.image style="width:100px;" width="100" height="100")
					</td>			
					<td>#{blog.title}</td>					
					<td>!{(blog.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(blog.updated_at)}</td>
					<td>
					if blog.status == 1
						<a href="/admin/blogs/status/#{blog._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/blogs/status/#{blog._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/blogs/edit/#{blog._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/blogs/delete/#{blog._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>