<div id="content">
    <div class="container">
    	<div class="row" style="margin-top: 20px">
    		<div class="col-xs-8">
    			<div class="pagehead"><h2><span>Make Payment</span></h2></div>     				    					
    			<div class="col-xs-12 text-center" style="margin-top: 50px">
					<ngx-paypal [config]="payPalConfig"></ngx-paypal>
				</div>    			
    		</div>
    		<div class="col-xs-4">
				<div class="pagehead2">Order Summary</div> 
				<table class="order_info">
					<tr><th>Product</th><th>Total</th></tr>
					<tr class="item" *ngFor="let cartitem of this.cart.items"> 
						<td>{{cartitem.name}}</td>
						<td>${{cartitem.total}}</td>
					</tr>
					<tr><th>Sub Total</th><th>${{this.cart.subtotal}}</th></tr>
					<tr *ngIf="this.cart.discount > 0"><th>Discount {{this.cart.discountcode}} Applied</th><th>${{this.cart.discount}}</th></tr>
					<tr><th>Total</th><th>${{this.cart.total}}</th></tr>
				</table>
    		</div>
    	</div>

    </div>	
</div>  
