<app-pinkbar page="product"></app-pinkbar>

<div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>Request A Service For <i>{{this.product.name}}</i></span></h2>
                        </div>
                    </div>
                    <p><b>Please fill out the information below and our customer service representatives will email you with a quote as soon as possible.</b></p>
                	<div *ngIf="error" class="alert alert-danger">{{error}}</div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="loginpage">

                    	<form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate>
		                    <div class="form-group">
		                        <label for="name">Name <span class="text-danger">*</span></label>
		                        <!--[ngClass]="{ 'is-invalid': f.submitted && name.invalid }"-->
		                        <input type="text" class="form-control" name="name" [(ngModel)]="quoteForm.name" #name="ngModel" required />
		                        <div *ngIf="f.submitted && name.invalid" class="text-danger">
		                            <div *ngIf="name.errors.required">Name is required</div>
		                        </div>
		                    </div>
		                   
		                    <div class="form-group">
		                        <label for="email">Email <span class="text-danger">*</span></label>
		                        <input type="text" class="form-control" name="email" [(ngModel)]="quoteForm.email" #email="ngModel" required email />
		                        <div *ngIf="f.submitted && email.invalid" class="text-danger">
		                            <div *ngIf="email.errors.required">Email is required</div>
		                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
		                        </div>
		                    </div>                    

					      	<div class="form-group">
						        <label for="phone">Phone <span class="text-danger">*</span></label>
						        <input id="phone" class="form-control" name="phone" placeholder="Enter Your Phone Number" [(ngModel)]="quoteForm.phone" #phone="ngModel" required minlength="10">

						        <div *ngIf="f.submitted && phone.invalid" class="text-danger">
									<div *ngIf="phone.errors.required"> Phone is required.</div>
									<div *ngIf="phone.errors.minlength"> Phone must be at least 10 characters long.</div> 
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="phone">This is for <span class="text-danger">*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						        <input type="radio" id="use" class="form-control1" name="use" value="home_use" [(ngModel)]="quoteForm.use" #use="ngModel"> Home Use &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						        <input type="radio" id="use" class="form-control1" name="use"  value="facility_use" [(ngModel)]="quoteForm.use" #use="ngModel"> Facility Use &nbsp;&nbsp;&nbsp;
						        <div *ngIf="f.submitted && use.invalid" class="text-danger">
									<div *ngIf="use.errors.required">Use is required.</div>							
						        </div>
						        
					      	</div>

					      	<div class="form-group">
						        <label for="phone">Address <span class="text-danger">*</span></label>
						        <textarea id="address" class="form-control" name="address" placeholder="Enter Your Address" [(ngModel)]="quoteForm.address" #address="ngModel" required rows="5"> </textarea>

						        <div *ngIf="f.submitted && address.invalid" class="text-danger">
									<div *ngIf="address.errors.required">Address is required.</div>							
						        </div>
					      	</div>

					      	<div class="form-group">
						        <label for="phone">Comments <span class="text-danger">*</span></label>
						        <textarea id="comments" class="form-control" name="comments" placeholder="Enter Your Comments" [(ngModel)]="quoteForm.comments" #comments="ngModel" required rows="5"> </textarea>

						        <div *ngIf="f.submitted && comments.invalid" class="text-danger">
									<div *ngIf="comments.errors.required"> Your Comments is required.</div>							
						        </div>
					      	</div>	      	
		                    
		                    <div class="form-group btns">
		                        <button class="btn btn-primary">Submit</button>
		                    </div>

		                    <div class="sighup-account">
                               <a routerLink="/product/{{this.product.slug}}" *ngIf="this.type=='product'">Back to Product Page</a>
                               <a routerLink="/part/{{this.product.slug}}" *ngIf="this.type=='part'">Back to Part Page</a>
                            </div>
		                </form>
                        
                    </div>


                </div>


            </div>

        </div>
    </div>