/* Webinar list on gallery page */
.gallery_webinar_list_div
{	
	background-color: #f5f5f5;    
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;

	.web-info a:nth-child(1) 
	{ 
		font-weight: 400;
	    font-size: 20px;
	    color: #1c2e63; 
	    float: left;
	    color:#010067;
	}
	
	.web-info a:nth-child(2) {
	    font-size: 14px;
	    float: left;
	    clear: both;
	    color:#ab3585;
	    margin-top: 10px;
	}

	.webinars-list
	{
		border-bottom: 1px solid #CCC;
	    padding: 30px 0 0 0;    
	}

	.webinars-img .boximg,
	.web-info
	{
		border:0px;
	}

	.webinars-img
	{
		width: 100px;
		height: 100px;
	}

	.gallery_webinar_list_div .web-info
	{
		padding-top: 0px;
	}	
	
	.col-xs-6:nth-child(1) .webinars-list
	{
		border-right: 2px solid #1c2e63;
	}

	.catlink
	{
		background-color: #ab3585;
	    color: #FFF;
	    padding: 7px 15px;    
	    border-radius: 10px;
	}
}

.select_product_outer
{
	.overlay-block
	{
		height: 100%;
	}
	ul
	{
		width: 100%;
	}
	ul a 
	{
		width: 100%;
		text-align: center;
	}
}

.bulletinbox
{	
    padding: 10px;    
    border: 2px solid #fff;
    border-radius: 4px;
    color: #000;    
    margin-bottom: 15px;
    
    &.list
    {

    }
    
    strong{
    	text-transform: capitalize;
    }

    p{
    	font-size:14px;
    }

    a{		      
    	display: block;
    	margin: 10px auto 5px;
    	font-size:14px;
    	color:#ab3585;
    	font-weight: bold;
    }

    &.recent
    {
    	border-top:2px solid #CCC;
    	border-bottom:2px solid #CCC;
    	margin-top:10px;    	
    	font-size:16px;  	    
    }

    &.monthheading
    {
    	border-top:1px solid #CCC;
    	margin-top:10px;    	
  	    margin-bottom: -15px;
    }
}    
    





