extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/emails/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Subject <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject" value="!{getOld(reqBody,'subject')}">
					<span>!{getError(errors,'subject')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Body <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<textarea class="form-control ckeditor" id="body" name="body" placeholder="Enter Body">!{getOld(reqBody,'body')}</textarea>
					<span>!{getError(errors,'body')} </span>
				</div>
			</div>		

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/emails/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>