extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/emails/add') Add Email
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Slug</th>
			<th>Subject</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if users.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each user in users
				<tr>
					<td>#{i++}</td>					
					<td>#{user.slug}</td>
					<td>#{user.subject}</td>					
					<td>#{user.updated_at.toDateString()}</td>
					<td>#{showDate(user.updated_at)}</td>
					<td><a href="/admin/emails/edit/#{user._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/emails/delete/#{user._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>