extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/gallery/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="title" value="!{getOld(reqBody,'title')}" placeholder="Enter Title">		
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="file_type" name="type">
					<option value="">Select Type</option>
					<option value="photo" !{getOld(reqBody,'type') == 'photo' ? 'selected' : ''}>Photo</option>
					<option value="video" !{getOld(reqBody,'type') == 'video' ? 'selected' : ''}>Video</option>
					<option value="vimeo_video" !{getOld(reqBody,'type') == 'vimeo video' ? 'selected' : ''}>Vimeo video</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>

			<div class="form-group image_url">
				<label class="control-label col-sm-2" for="email">File <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="file" value="!{getOld(reqBody,'file')}" readonly="">					
					</div>					
					<span>!{getError(errors,'file')} </span>	
				</div>
			</div>

			<div class="form-group vimeo_url" style="display: none;">
				<label class="control-label col-sm-2" for="email">Vimeo Video URL <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="vimeo_url" value="!{getOld(reqBody,'vimeo_url')}" placeholder="Enter vimeo video url">								
					<span>!{getError(errors,'vimeo_url')} </span>	
				</div>
			</div>

			// <div class="form-group">
			// 	<label class="control-label col-sm-2" for="email">Tag <span class="text-danger">*</span></label>
			// 	<div class="col-sm-8">
			// 		<input class="form-control" type="text" name="tag" value="!{getOld(reqBody,'tag')}" placeholder="Enter tag">		
			// 		<span>!{getError(errors,'tag')} </span>	
			// 	</div>
			// </div>


			<div class="form-group">
				<label class="control-label col-sm-2" for="tag">Tags </label>
				<div class="col-sm-8">
					<select class="form-control select2" id="tag" name="tag" multiple>
					<option  value="" >Select Tags</option>
						if(tags)
							each tag in tags
								<option  value="#{tag.name}">#{tag.name}</option>
					</select>
					<span>!{getError(errors,'tag')} </span>	
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Description <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_short_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_short_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_short_content_#{language.name}">

								<textarea class="form-control ckeditor" id="description" name="description[#{language.code}]" placeholder="Enter Description" rows="5">!{getOld(reqBody,'description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'description.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Show Position</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="position" name="position" placeholder="Enter Show Position" value="!{getOld(reqBody,'position')}">
					<span>!{getError(errors,'position')} </span>	
				</div>
			</div>	
			
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/gallery/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>
		script.
				$("#file_type").change(function(){
				var selectValue   =  $(this).val();
				if(selectValue =="vimeo_video"){
					$('.image_url').hide();
					$('.vimeo_url').show();
				}else{
					$('.vimeo_url').hide();
					$('.image_url').show();
				}
				
			});
			$(document).ready(function() {
				$("#file_type").trigger('change');	
			});