extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/gallery/add') Add Gallery
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>	
			<th>Title</th>
			<th>Type</th>
			<th>Tag</th>
			<th>Show Position</th>						
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if galleries.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				

			- var i = 1
			each gallery in galleries
				<tr>
					<td>#{i++}</td>		
					<td>#{gallery.title}</td>	
					<td>#{gallery.type}</td>	
					<td>#{gallery.tag}</td>	
					<td>#{gallery.position}</td>	
					<td>!{(gallery.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(gallery.updated_at)}</td>
					<td>
					if gallery.status == 1
						<a href="/admin/gallery/status/#{gallery._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/gallery/status/#{gallery._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/gallery/edit/#{gallery._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/gallery/delete/#{gallery._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>