extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/gallery/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary


		<div class="form-group image_url">
			<label class="control-label col-sm-2" for="email">File <span class="text-danger">*</span></label>
			<div class="col-sm-8">
				<div class="input-group">
					<span class="input-group-btn">
					<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
					</span>
					<input id="image" class="form-control" type="text" name="file" value="!{getOld(reqBody,'file')}" readonly="">
				</div>					
				<span>!{getError(errors,'file')} </span>	
			</div>

		</div>
		<div class="row">
			<div class="col-sm-8">
				<br><button onclick="myFunction()">Copy text</button>
			</div>
		</div>
		script.
			$(document).ready(function() {
				$("#file_type").trigger('change');	
			});
			function myFunction() {
				var copyText = document.getElementById("image");
				copyText.setSelectionRange(0, 99999)
				document.execCommand("copy");
				alert("https://mobilityresearch.org:5003/gallery/" + copyText.value);
			}