extends /views/layouts/admin

block content	

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/products/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">			
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="category" name="category">
					<option  value="" >Select Category</option>
						each category in categories
							if(category.parent_id == 0)
								<option  value="#{category._id}" !{getOld(reqBody,'category') == category._id ? 'selected' : ''}>#{category.name}</option>
								each category2 in categories
									if(category2.parent_id == category._id)
										<option  value="#{category2._id}" !{getOld(reqBody,'category') == category2._id ? 'selected' : ''}>&nbsp;&nbsp;&nbsp;--#{category2.name}</option>

					</select>
					<span>!{getError(errors,'category')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Region <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="region" name="region">
						each region in regions
							<option  value="#{region.code}">#{region.name}</option>

					</select>
					<span>!{getError(errors,'region')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Default Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'image')}" readonly="">					
					</div>					
					<span>!{getError(errors,'image')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Gallery Image</label>				
				<div class="col-sm-8 chk">	
					<div class="input-group col-sm-12 add-more-div">				
						if getOld(reqBody,'gallery_image') == ''
							<div class="input-group" style="margin-top:5px;">
								<span class="input-group-btn">
									<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
								</span>	
							<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" readonly="">
							</div>
						else
							if(reqBody.gallery_image.constructor == Array)		
								each val in reqBody.gallery_image
									<div class="input-group" style="margin-top:5px;">
										<span class="input-group-btn">
											<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
										</span>
										<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" value="#{val}" readonly="">	
									</div>
							else
								<div class="input-group" style="margin-top:5px;">
									<span class="input-group-btn">
										<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
									</span>								
									<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" value="!{reqBody.gallery_image}" readonly="">	
								</div>				
					
					</div>
					<span class="input-group-btn"><a href="javascript:void(0);" class="btn btn-primary add-more"><i class="fa fa-plus"></i></a></span>			
					<span>!{getError(errors,'gallery_image')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Banne Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="banner_image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="banner_image" class="form-control" type="text" name="banner_image" value="!{getOld(reqBody,'banner_image')}" readonly="">					
					</div>					
					<span>!{getError(errors,'banner_image')} </span>					
				</div>
			</div>

			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Short Description <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_short_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_short_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_short_content_#{language.name}">

								<textarea class="form-control ckeditor" id="short_description" name="short_description[#{language.code}]" placeholder="Enter Short Description" rows="5">!{getOld(reqBody,'short_description',language.code)}</textarea>
								</div>
						</div>						
					</div> 
					<span>!{getError(errors,'short_description.en')} </span>
				</div>
			</div>	 -->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Description</label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="description" name="description[#{language.code}]" placeholder="Enter Description">!{getOld(reqBody,'description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'description.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Video</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="video" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="video" class="form-control" type="text" name="video" value="!{getOld(reqBody,'video')}" >					
					</div>					
					<span>!{getError(errors,'video')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Available Stock</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="stock" name="stock" placeholder="Enter Available Stock" value="!{getOld(reqBody,'stock')}">
					<span>!{getError(errors,'stock')} </span>	
				</div>
			</div>

			<!-- <div class="form-group">
				<label class="control-label col-sm-2" for="email">Tags <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="tags" name="tags" placeholder="Enter Tags" value="!{getOld(reqBody,'tags')}">
					<span>!{getError(errors,'tags')} </span>	
				</div>
			</div> -->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Price Per Unit <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
						<input type="number" step="any" class="form-control" id="price" name="price" placeholder="Enter Price Per Unit" value="!{getOld(reqBody,'price')}">
					</div>					
					<span>!{getError(errors,'price')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Price on Request <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="price_request" name="price_request" value="1" style="width:20px;height:20px">
					<span>!{getError(errors,'price_request')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Featured Product</label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="featured_product_main" name="featured_product_main" value="1" style="width:20px;height:20px" !{getOld(reqBody,'featured_product_main') == 1 ? 'checked' : ''}>
					<span>!{getError(errors,'featured_product_main')} </span>	
				</div>
			</div>
			
			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Featured Product</label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="featured_product" name="featured_product" value="1" style="width:20px;height:20px" !{getOld(reqBody,'featured_product') == 1 ? 'checked' : ''}>
					<span>!{getError(errors,'featured_product')} </span>	
				</div>
			</div>-->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Service Available</label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="schedule_service" name="schedule_service" value="1" style="width:20px;height:20px" !{getOld(reqBody,'schedule_service') == 1 ? 'checked' : ''}>
					<span>!{getError(errors,'schedule_service')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Related Model</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_related" name="specification_related" multiple>
					<option  value="" >Select Specification</option>
						if(productSpecification)
							each specification in productSpecification
								<option  value="#{specification.model}" !{getOld(reqBody,'specification_related').indexOf(specification.model) !== -1 ? 'selected' : ''}>#{specification.model}</option>
					</select>
					<span>!{getError(errors,'specification_related')} </span>	
				</div>
			</div>	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Default Model</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_default" name="specification_default" multiple>
					<option  value="" >Select Specification</option>
						if(productSpecification)
							each specification in productSpecification
								<option  value="#{specification.model}" !{getOld(reqBody,'specification_default').indexOf(specification.model) !== -1 ? 'selected' : ''}>#{specification.model}</option>
					</select>
					<span>!{getError(errors,'specification_default')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Row</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_row" name="specification_row" multiple>
					<option  value="" >Select Specification Column Group</option>
						if(specificationRow)
							each key in specificationRow	
								<option  value="#{key.name}" !{getOld(reqBody,'specification_row').indexOf(key.name) !== -1 ? 'selected' : ''}>#{key.name}</option>
					</select>
					<span>!{getError(errors,'specification_row')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Row Default</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_row_default" name="specification_row_default" multiple>
					<option  value="" >Select Specification Column Group</option>
						if(specificationRow)
							each key in specificationRow
								if(key != '_id')			
									<option  value="#{key.name}" !{getOld(reqBody,'specification_row_default').indexOf(key.name) !== -1 ? 'selected' : ''}>#{key.name}</option>
					</select>
					<span>!{getError(errors,'specification_row_default')} </span>	
				</div>
			</div> 

			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Row</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_row" name="specification_row" multiple>
					<option  value="" >Select Specification Column</option>						
						if(specificationRow)
							each key in specificationRow
								if(key != '_id')			
									<option  value="#{key}" !{getOld(reqBody,'specification_row').indexOf(key) !== -1 ? 'selected' : ''}>#{key}</option>
					</select>
					<span>!{getError(errors,'specification_row')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Row Default</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_row_default" name="specification_row_default" multiple>
					<option  value="" >Select Specification Column</option>
						if(specificationRow)
							each key in specificationRow	
								if(key != '_id')			
									<option  value="#{key}" !{getOld(reqBody,'specification_row_default').indexOf(key) !== -1 ? 'selected' : ''}>#{key}</option>
					</select>
					<span>!{getError(errors,'specification_row_default')} </span>	
				</div>
			</div> -->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Show Position</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="position" name="position" placeholder="Enter Show Position" value="!{getOld(reqBody,'position')}">
					<span>!{getError(errors,'position')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Related Product Text</label>
				<div class="col-sm-8">
					<input class="form-control" id="related_product_text" name="related_product_text" placeholder="Enter Related Product Text" value="!{getOld(reqBody,'related_product_text')}">
					<span>!{getError(errors,'related_product_text')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Related Product</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="related_product" name="related_product" multiple>
					<option  value="" >Select Related Product</option>
						each product in products
							<option  value="#{product._id}" !{getOld(reqBody,'related_product','','string').indexOf(product.id) !== -1 ? 'selected' : ''}>#{product.name}</option>
					</select>
					<span>!{getError(errors,'related_product')} </span>	
				</div>
			</div>

			<fieldset>
				<legend>Testimonial</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Testimonials</label>
					<div class="col-sm-8">
						<select class="form-control select2" id="testimonials" name="testimonials" multiple>
						<option  value="" >Select Testimonials</option>
							each testimonial,key in testimonials
								<option  value="#{key}" !{getOld(reqBody,'testimonials','','string').indexOf(key) !== -1 ? 'selected' : ''}>#{testimonial}</option>
						</select>						
					</div>
				</div>
			</fieldset>	

			<fieldset>
				<legend>Meta Info</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Enter Meta Title" value="!{getOld(reqBody,'meta_title')}">						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" value="!{getOld(reqBody,'meta_description')}">						
					</div>
				</div>
			</fieldset>	

				<fieldset>
				<legend>Serivce Page Data</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn">
							<a data-input="service_image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
							</span>
							<input id="service_image" class="form-control" type="text" name="service_image" value="!{getOld(reqBody,'service_image')}"  readonly="">					
						</div>
						<span>!{getError(errors,'service_image')} </span>
						if(reqBody && reqBody.service_image)
							<img src="/gallery#{reqBody.service_image}" width="100px" height="100px"/>	
					</div>
				</div>	

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Description</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="service_description" name="service_description" placeholder="Enter Service Description">!{getOld(reqBody,'service_description')}</textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Serial No.</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="serial_no" name="serial_no" placeholder="Enter Serial No in comma seperated" value="!{getOld(reqBody,'serial_no')}">						
					</div>
				</div>
				
			</fieldset>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/products/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>