extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/products/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Description</label>
				<div class="col-sm-8">
					<textarea class="form-control" id="description" name="description" placeholder="Enter Description" rows="3">!{getOld(reqBody,'description')}</textarea>					
					<span>!{getError(errors,'description')} </span>
				</div>
			</div>

			<fieldset>
				<legend>Left 1 Details</legend>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Left 1 Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="left_1_title" name="left_1_title" placeholder="Enter Left 1 Title" value="!{getOld(reqBody,'left_1_title')}">
						<span>!{getError(errors,'left_1_title')} </span>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Left 1 Icon Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><a data-input="left_1_icon" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a></span>
							<input id="left_1_icon" class="form-control" type="text" name="left_1_icon" value="!{getOld(reqBody,'left_1_icon')}" readonly="">
						</div>
						<span>!{getError(errors,'left_1_icon')} </span>
						if(reqBody != null && reqBody.left_1_icon !='')
							<img src="/gallery#{reqBody.left_1_icon}" style="width: 100px" />	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Left 1 Text</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="left_1_text" name="left_1_text" placeholder="Enter Left 1 Text" rows="3">!{getOld(reqBody,'left_1_text')}</textarea>					
						<span>!{getError(errors,'left_1_text')} </span>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Left 2 Details</legend>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Left 2 Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="left_2_title" name="left_2_title" placeholder="Enter Left 2 Title" value="!{getOld(reqBody,'left_2_title')}">
						<span>!{getError(errors,'left_2_title')} </span>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Left 2 Icon Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><a data-input="left_2_icon" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a></span>
							<input id="left_2_icon" class="form-control" type="text" name="left_2_icon" value="!{getOld(reqBody,'left_2_icon')}" readonly="">
						</div>
						<span>!{getError(errors,'left_2_icon')} </span>
						if(reqBody != null && reqBody.left_2_icon !='')
							<img src="/gallery#{reqBody.left_2_icon}" style="width: 100px"/>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Left 2 Text</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="left_2_text" name="left_2_text" placeholder="Enter Left 2 Text" rows="3">!{getOld(reqBody,'left_2_text')}</textarea>					
						<span>!{getError(errors,'left_2_text')} </span>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Left 3 Details</legend>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Left 3 Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="left_3_title" name="left_3_title" placeholder="Enter Left 3 Title" value="!{getOld(reqBody,'left_3_title')}">
						<span>!{getError(errors,'left_3_title')} </span>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Left 3 Icon Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><a data-input="left_3_icon" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a></span>
							<input id="left_3_icon" class="form-control" type="text" name="left_3_icon" value="!{getOld(reqBody,'left_3_icon')}" readonly="">
						</div>
						<span>!{getError(errors,'left_3_icon')} </span>
						if(reqBody != null && reqBody.left_3_icon !='')
							<img src="/gallery#{reqBody.left_3_icon}" style="width: 100px"/>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Left 3 Text</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="left_3_text" name="left_3_text" placeholder="Enter Left 3 Text" rows="3">!{getOld(reqBody,'left_3_text')}</textarea>					
						<span>!{getError(errors,'left_3_text')} </span>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Right 1 Details</legend>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Right 1 Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="right_1_title" name="right_1_title" placeholder="Enter Right 1 Title" value="!{getOld(reqBody,'right_1_title')}">
						<span>!{getError(errors,'right_1_title')} </span>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Right 1 Icon Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><a data-input="right_1_icon" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a></span>
							<input id="right_1_icon" class="form-control" type="text" name="right_1_icon" value="!{getOld(reqBody,'right_1_icon')}" readonly="">
						</div>
						<span>!{getError(errors,'right_1_icon')} </span>
						if(reqBody != null && reqBody.right_1_icon !='')
							<img src="/gallery#{reqBody.right_1_icon}" style="width: 100px" />	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Right 1 Text</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="right_1_text" name="right_1_text" placeholder="Enter Left 1 Text" rows="3">!{getOld(reqBody,'right_1_text')}</textarea>					
						<span>!{getError(errors,'right_1_text')} </span>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Right 2 Details</legend>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Right 2 Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="right_2_title" name="right_2_title" placeholder="Enter Right 2 Title" value="!{getOld(reqBody,'right_2_title')}">
						<span>!{getError(errors,'right_2_title')} </span>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Right 2 Icon Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><a data-input="right_2_icon" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a></span>
							<input id="right_2_icon" class="form-control" type="text" name="right_2_icon" value="!{getOld(reqBody,'right_2_icon')}" readonly="">
						</div>
						<span>!{getError(errors,'right_2_icon')} </span>
						if(reqBody != null && reqBody.right_2_icon !='')
							<img src="/gallery#{reqBody.right_2_icon}" style="width: 100px"/>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Right 2 Text</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="right_2_text" name="right_2_text" placeholder="Enter Right 2 Text" rows="3">!{getOld(reqBody,'right_2_text')}</textarea>					
						<span>!{getError(errors,'right_2_text')} </span>
					</div>
				</div>
			</fieldset>

			<fieldset>
				<legend>Right 3 Details</legend>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Right 3 Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="right_3_title" name="right_3_title" placeholder="Enter Right 3 Title" value="!{getOld(reqBody,'right_3_title')}">
						<span>!{getError(errors,'right_3_title')} </span>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Right 3 Icon Image</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn"><a data-input="right_3_icon" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a></span>
							<input id="right_3_icon" class="form-control" type="text" name="right_3_icon" value="!{getOld(reqBody,'right_3_icon')}" readonly="">
						</div>
						<span>!{getError(errors,'right_3_icon')} </span>
						if(reqBody != null && reqBody.right_3_icon !='')
							<img src="/gallery#{reqBody.right_3_icon}" style="width: 100px"/>	
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Right 3 Text</label>
					<div class="col-sm-8">
						<textarea class="form-control" id="right_3_text" name="right_3_text" placeholder="Enter Right 3 Text" rows="3">!{getOld(reqBody,'right_3_text')}</textarea>					
						<span>!{getError(errors,'right_3_text')} </span>
					</div>
				</div>
			</fieldset>


			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/products/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

	script.
		$(document).ready(function (){
			$('.deleteimage').click(function (){
				var id = $(this).attr('rel');				
			    $.ajax({                                      
					url: '/admin/products/gallery_delete/'+id,              
					type: "post",          
					data: {id:id},
					dataType: 'html',                
					success: function() {
			        	$('div.image_gallery_'+id).remove();
			        }		      
			   });

			   return false;
		   });

		});	