extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/products/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">User Manuals</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="user_manual" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="user_manual" class="form-control" type="text" name="user_manual" value="!{getOld(reqBody,'user_manual')}">	
					</div>
					if(reqBody && reqBody.user_manual)
						<a href="/gallery#{reqBody.user_manual}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Maintenance / Charging Procedures</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="maintenance_procedures" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="maintenance_procedures" class="form-control" type="text" name="maintenance_procedures" value="!{getOld(reqBody,'maintenance_procedures')}">							
					</div>
					if(reqBody && reqBody.maintenance_procedures)
						<a href="/gallery#{reqBody.maintenance_procedures}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="title">Product Data Sheet</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="product_datasheet" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="product_datasheet" class="form-control" type="text" name="product_datasheet" value="!{getOld(reqBody,'product_datasheet')}">	
					</div>
					if(reqBody && reqBody.product_datasheet)
						<a href="/gallery#{reqBody.product_datasheet}" target="_blank" />Click Here to View</a>
				</div>
			</div>-->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Product Data Sheet</label>				
				<div class="col-sm-8 chk">	
					<div class="input-group col-sm-12 add-more-div">				
						if(getOld(reqBody,'product_datasheet') == '' || getOld(reqBody,'product_datasheet') == null)							
							<div class="input-group" style="margin-top:5px;width:100%">
								<input class="form-control" id="gallery_image_name" type="text" name="gallery_image_name" value="" style="width:24%;margin-right:5px">
								<div style="width:75%;display:inherit">
									<span class="input-group-btn">
									<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
									</span>	
									<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" readonly="">
								</div>	
							</div>
						else
							if(reqBody.product_datasheet.constructor == Array)									
								each val,index in reqBody.product_datasheet
									<div class="input-group" style="margin-top:5px;width:100%">
										<input class="form-control" id="gallery_image_name" type="text" name="gallery_image_name" value="#{getOld(reqBody,'product_datasheet_name',index)}" style="width:24%;margin-right:5px">
										<div style="width:75%;display:inherit">
											<span class="input-group-btn">
											<a data-input="gallery_image_#{index}" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a> 
											</span>	
											<input class="form-control" id="gallery_image_#{index}" type="text" name="gallery_image" value="#{val}" readonly="">
											<span class="input-group-btn remove_add_more_files"><a data-input="image" class="btn btn-danger"><i class="fa fa-minus"></i></a></span>
										</div>	
									</div>																			
					
					</div>
					<span class="input-group-btn" style="margin-top: 5px;float: left;"><a href="javascript:void(0);" class="btn btn-primary add-more-files"><i class="fa fa-plus"></i></a></span>			

				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Accessory Manuals</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="accessory_manuals" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="accessory_manuals" class="form-control" type="text" name="accessory_manuals" value="!{getOld(reqBody,'accessory_manuals')}">	
					</div>
					if(reqBody && reqBody.accessory_manuals)
						<a href="/gallery#{reqBody.accessory_manuals}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Harness Instructions</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="harness_instructions" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="harness_instructions" class="form-control" type="text" name="harness_instructions" value="!{getOld(reqBody,'harness_instructions')}">							
					</div>
					if(reqBody && reqBody.harness_instructions)
						<a href="/gallery#{reqBody.harness_instructions}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Assembly / Installation</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="assembly_installation" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="assembly_installation" class="form-control" type="text" name="assembly_installation" value="!{getOld(reqBody,'assembly_installation')}">	
					</div>
					if(reqBody && reqBody.assembly_installation)
						<a href="/gallery#{reqBody.assembly_installation}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Treadmill Manuals</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="treadmill_manuals" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="treadmill_manuals" class="form-control" type="text" name="treadmill_manuals" value="!{getOld(reqBody,'treadmill_manuals')}">	
					</div>
					if(reqBody && reqBody.treadmill_manuals)
						<a href="/gallery#{reqBody.treadmill_manuals}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Treadmill Assembly / Maintenance</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="treadmill_maintenance" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="treadmill_maintenance" class="form-control" type="text" name="treadmill_maintenance" value="!{getOld(reqBody,'treadmill_maintenance')}">	
					</div>
					if(reqBody && reqBody.treadmill_maintenance)
						<a href="/gallery#{reqBody.treadmill_maintenance}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Brochures</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="brochures" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="brochures" class="form-control" type="text" name="brochures" value="!{getOld(reqBody,'brochures')}">	
					</div>
					if(reqBody && reqBody.brochures)
						<a href="/gallery#{reqBody.brochures}" target="_blank" />Click Here to View</a>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">GaitSens</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="gaitsens" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="gaitsens" class="form-control" type="text" name="gaitsens" value="!{getOld(reqBody,'gaitsens')}">	
					</div>
					if(reqBody && reqBody.gaitsens)
						<a href="/gallery#{reqBody.gaitsens}" target="_blank" />Click Here to View</a>
				</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/products/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

	