extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/products/add') Add Product

		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>					
			<th>Name</th>
			<th>Category</th>
			<th>Region</th>					
			<th>Price</th>	
			<th>Featured Product</th>			
			<th>Show Position</th>			
			<th>Status</th>
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if products.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each product in products
				<tr>
					<td>#{i++}</td>					
					<td>#{product.name}</td>
					<td>#{product.category.name}</td>
					<td>#{product.region}</td>					
					<td>!{(product.price_request == 1) ? "<span class='text-success'>Price On Request</span>" : '$'+product.price}</td>
					<td>!{(product.featured_product_main == 1) ? "<span class='text-success'>Yes</span>" : "&nbsp;"}
					if(product.featured_product_main == 1)
						<br/><a href="/admin/products/featured_product/#{product._id}" class="btn btn-xs btn-success" title="Featured Product Customization">Featured Product Properties</a>

					<!--!{(product.featured_product_main == 1) ? "<span class='text-success'>Main</span>" : (product.featured_product == 1) ? "<span class='text-success'>Yes</span>" : ""} -->	
					</td>
					<td>#{product.position}</td>
					<td>!{(product.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>
					<td>#{showDate(product.updated_at)}</td>
					<td>
					if product.status == 1
						<a href="/admin/products/status/#{product._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/products/status/#{product._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/products/edit/#{product._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/products/delete/#{product._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
					<a href="/admin/products/copy/#{product._id}" class="btn btn-xs btn-success">Copy</a>&nbsp;&nbsp;					
					if(product.price_request == 1)
						<a href="/admin/quote_form/view/#{product._id}/products" class="btn btn-xs btn-success" title="Request Quote Form"><i class="fa fa-wpforms"></i></a>&nbsp;&nbsp;

					<a href="/admin/products/files/#{product._id}" class="btn btn-xs btn-success">Files</a>
					</td>

				</tr>
			<tbody>
		</table>
		</div>