extends /views/layouts/admin

block content	

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<!--<li><a href="/admin/products/specification_list" class="btn btn-success btn-sm">Back</a></li>	-->

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">			
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Serial No Excel File <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="file" class="form-control" id="title" name="testfile">
					<span>!{getError(errors,'testfile')} </span>
				</div>
			</div>			

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<!--<a href="/admin/products/specification_list" class="btn btn-info">Cancel</a>-->
				</div>
			</div>
		</form>