extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader

			a.btn.btn-primary.btn-md(href='/admin/products/specification_upload') Upload Product Specification
			span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a.btn.btn-primary.btn-md(href='/admin/products/specification_group_list') Product Specification Group
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>					
			<th>Model Name</th>
			<th>Action</th>
		
			</tr>
			</thead>
			<tbody>
			if productSpecifications.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each specification in productSpecifications
				<tr>
					<td>#{i++}</td>					
					<td>#{specification.model}</td>
					<td>
						<a href="/admin/products/specification_view/#{specification._id}" class="btn btn-xs btn-primary">View</a>
						<a href="/admin/products/specification_delete/#{specification._id}" class="btn btn-xs btn-danger">Delete</a>
					</td>
				</tr>
			<tbody>
		</table>
		</div>