extends /views/layouts/admin

block content	

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/products/specification_list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">			
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Group Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="name" placeholder="Enter Group Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>
				</div>
			</div>	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Specification Row</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="specification_row" name="specification_row" multiple>
					<option  value="" >Select Specification Column</option>						
						if(specificationRow)
							each key in specificationRow
								if(key != '_id' && key != 'model' && key != 'created_at' && key != 'updated_at')			
									<option  value="#{key}" !{getOld(reqBody,'specification_row').indexOf(key) !== -1 ? 'selected' : ''}>#{key}</option>
					</select>
					<span>!{getError(errors,'specification_row')} </span>	
				</div>
			</div>			


			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/products/specification_list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>