extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader

			a.btn.btn-primary.btn-md(href='/admin/products/specification_group_add') Add Product Specification Group
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>					
			<th>Group Name</th>
			<th>Specifination Row</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if productSpecificationGroup.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each specification in productSpecificationGroup
				<tr>
					<td>#{i++}</td>					
					<td>#{specification.name}</td>
					<td>#{specification.specification_row}</td>
					<td>
						<a href="/admin/products/specification_group_edit/#{specification._id}" class="btn btn-xs btn-primary">Edit</a>
						<a href="/admin/products/specification_group_delete/#{specification._id}" class="btn btn-xs btn-danger">Delete</a>
					</td>
				</tr>
			<tbody>
		</table>
		</div>