extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/products/specification_list" class="btn btn-success btn-sm">Back</a></li>

	div.maindiv.box.box-primary

		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">

			<tbody>
			if keysarr.length==0 && valsarr.length==0
				<tr><td colspan="8">No Data Found!</td></tr>	
			- var i = 0
			each val in keysarr
				if(i!=0)
					<tr>
						<td width="250px">#{val} :</td>
						<td>#{valsarr[i] ? valsarr[i] : '--'}</td>	
					</tr>
				- i++		

				
			<tbody>
		</table>
		</div>


