<header class="main-header">

	<a href="/admin" class="logo">	  
		<span class="logo-mini"><b>A</b>LT</span>	  
		<span class="logo-lg"><b>Admin</b> LiteGait</span>
	</a>

	<nav class="navbar navbar-static-top" role="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>      
		<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li class="dropdown user user-menu">            
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<img src="/img/admin/avatar.png" class="user-image" alt="User Image">              
					<span class="hidden-xs">
						if session.user
								span #{session.user.name}
					</span>
				</a>
				<ul class="dropdown-menu">
					<li class="user-header">
					<img src="/img/admin/avatar.png" class="img-circle" alt="User Image">
					<p> 
						if session.user
							span #{session.user.name}
						<small>Member since Nov. 2012</small>						
					</p>
					</li>
					<li class="user-footer">
						<div class="pull-left">
							<a href="#" class="btn btn-default btn-flat">Profile</a>
						</div>
						<div class="pull-right">
							<a href="/admin/logout" class="btn btn-default btn-flat">Sign out</a>
						</div>
					</li>
				</ul>
			</li>				        
		</ul>
		</div>
	</nav>
</header>