<aside class="main-sidebar" style="overflow-x: hidden;">
	<section class="sidebar">

		<div class="user-panel">
			<div class="pull-left image">
				<img src="/img/admin/avatar.png" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>					
					if session.user
						span #{session.user.name}
				</p>
				<!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
			</div>
		</div>

	<ul class="sidebar-menu" data-widget="tree" style="height: 500px;overflow-y: scroll;width: 110%">
		
		<!--<li class="header">Section 1</li>-->
		
		<!-- Banner Pages Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='banners'
			- liclass ='menu-open'
			- liopen ="display:block"

		if(checkPermission('banner') == false)
			- liclass ='hide' 	
		
		<li class="treeview1 #{liclass} li_banners">
			<a href="/admin/banners/list"><i class="fa fa-image"></i> <span>Banner Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li class="active"><a class="dropdown-item" href="/admin/banners/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/banners/add">Add</a> </li>
				<li><a class="dropdown-item" href="/admin/banners/page">Page Banner</a> </li>
			</ul>
		</li>

		<!-- Blog Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='blogs'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('blog') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_blogs">
			<a href="/admin/blogs/list"><i class="fa fa-rss"></i> <span>Blog Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/blogs/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/blogs/add">Add</a> </li>
			</ul>
		</li>

		<!-- Category Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='categories'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('category') == false)
			- liclass ='hide'
		<li class="treeview1 #{liclass} li_categories">		
			<a href="/admin/categories/list"><i class="fa fa-list-alt"></i> <span>Category Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/categories/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/categories/add">Add Category</a> </li>
				<li><a class="dropdown-item" href="/admin/categories/add?subcat=1">Add Sub Category</a> </li>
			</ul>
		</li>	


		<!-- Discount Coupon Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='coupons'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('discount_coupon') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_coupons">		
			<a href="/admin/coupons/list"><i class="fa fa-gift"></i> <span>Discount Coupon Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/coupons/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/coupons/add">Add</a> </li>
			</ul>
		</li>	

		<!-- Distributor Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='distributors'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('distributor') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_coupons">		
			<a href="/admin/distributors/list"><i class="fa fa-industry"></i> <span>Distributor Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/distributors/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/distributors/add">Add</a> </li>
			</ul>
		</li>

		<!-- Email Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='emails'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('email') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_emails">
			<a href="/admin/emails/list"><i class="fa fa-envelope"></i> <span>Email Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/emails/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/emails/add">Add</a> </li>
			</ul>
		</li>

		<!-- Elp Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='elp'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('elp') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_subscribers">
			<a href="/admin/elp/list"><i class="fa fa-address-book-o"></i> <span>Elp Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/elp/add">Add</a></li>
				<li><a class="dropdown-item" href="/admin/elp/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/elp/payments">Elp Payments</a></li>
			</ul>
		</li>	

		<!-- Faq Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='faqs'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('faq') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_faqs">		
			<a href="/admin/faqs/list"><i class="fa fa-question"></i> <span>Faq Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/faqs/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/faqs/add">Add</a> </li>
			</ul>
		</li>

		<!-- File Manager -->
		- liclass=''
		- liopen=''
		if session.controller =='banners'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('file') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass}">
			<a href="javascript:void(0)" onclick="BrowseServer('id_of_the_target_input')"><i class="fa fa-files-o"></i> <span>File Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>			
		</li>


		<!-- Form Menu -->
		<!--
		- liclass=''
		- liopen=''
		if session.controller =='forms'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		<li class="treeview1 #{liclass} li_faqs">		
			<a href="/admin/forms/list"><i class="fa fa-wpforms" aria-hidden="true"></i> <span>Form Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/forms/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/forms/add">Add</a> </li>
			</ul>
		</li>-->

		<!-- Gallery Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='gallery'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('gallery') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_gallery">
			<a href="/admin/gallery/list"><i class="fa fa-file-image-o"></i> <span>Gallery Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/gallery/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/gallery/add">Add</a> </li>
				<li><a class="dropdown-item" href="/admin/gallery/share-gallery-url">Share Gallery URL</a> </li>
			</ul>
		</li>

		<!-- Language Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='languages'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('language') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_languages">
			<a href="/admin/languages/list"><i class="fa fa-language"></i> <span>Language Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/languages/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/languages/add">Add</a> </li>
			</ul>
		</li>

		<!-- Menu Manager-->
		- liclass=''
		- liopen=''
		if session.controller =='menu'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('menu') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_menu">		
			<a href="/admin/menu/list/main"><i class="fa fa-bars"></i> <span>Menu Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/menu/list/main">Main Menu</a></li>
				<li><a class="dropdown-item" href="/admin/menu/list/footer1">Footer 1 Menu</a></li>
				<li><a class="dropdown-item" href="/admin/menu/list/footer2">Footer 2 Menu</a></li>

			</ul>
		</li>

		<!-- News Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='news'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('news') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_news">		
			<a href="/admin/news/list"><i class="fa fa-newspaper-o"></i> <span>News Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/news/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/news/add">Add</a> </li>
			</ul>
		</li>

		<!-- Newsletter Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='bulletin'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('news') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_news">		
			<a href="/admin/bulletin/list"><i class="fa fa-newspaper-o"></i> <span>Newsletter Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/bulletin/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/bulletin/add">Add</a> </li>
			</ul>
		</li>

		<!-- Order Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='order'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('order') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_order">		
			<a href="/admin/order/list"><i class="fa fa-list-alt"></i> <span>Order Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/order/list">List</a></li>
			</ul>
		</li>	
		
		<!-- Parts Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='parts'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('parts') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_parts">		
			<a href="/admin/parts/list"><i class="fa fa-cog"></i> <span>Parts & Accessories Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/parts/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/parts/add">Add</a> </li>
			</ul>
		</li>	

		<!-- Product Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='products'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('product') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_products">		
			<a href="/admin/products/list"><i class="fa fa-product-hunt"></i> <span>Product Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/products/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/products/add">Add</a> </li>
				<li><a class="dropdown-item" href="/admin/products/specification_list">Product Specifications</a> </li>
				<li><a class="dropdown-item" href="/admin/products/serialno_upload">Product Serial No</a> </li>
			</ul>
		</li>

		<!-- Regions Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='regions'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('region') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_regions">
			<a href="/admin/regions/list"><i class="fa fa-globe"></i> <span>Region Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/regions/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/regions/add">Add</a> </li>
			</ul>
		</li>	

		<!-- Requests Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='requests' || session.controller =='services' || session.controller =='seminar_host_request'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('requests') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_requests li_services">		
			<a href="/admin/requests/list"><i class="fa fa-briefcase"></i> <span>Requests Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/requests/list">List Price Request</a></li>
				<li><a class="dropdown-item" href="/admin/services/list">List Service Request</a></li>
				<li><a class="dropdown-item" href="/admin/seminar_host_request/list">List Seminar Host Request</a></li>
			</ul>
		</li>

		<!-- Seminar Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='seminars'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('seminar') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_seminars">		
			<a href="/admin/seminars/list"><i class="fa fa-graduation-cap"></i> <span>Seminar Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/seminars/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/seminars/add">Add</a> </li>
			</ul>
		</li>

		<!-- Static Pages Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='staticpages'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('static_page') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_staticpages">
			<a href="/admin/staticpages/list"><i class="fa fa-file"></i> <span>Static Page Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/staticpages/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/staticpages/add">Add</a> </li>
			</ul>
		</li>

		<!-- States Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='states'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('states') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_states">
			<a href="/admin/states/list"><i class="fa fa-globe"></i> <span>States Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/states/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/states/add">Add</a> </li>
			</ul>
		</li>

		<!-- Speaker Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='speakers'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('speaker') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_speakers">		
			<a href="/admin/speakers/list"><i class="fa fa-user-secret"></i> <span>Speaker Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/speakers/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/speakers/add">Add</a> </li>
			</ul>
		</li>

		<!-- Subscriber Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='subscribers'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('subscriber') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_subscribers">
			<a href="/admin/subscribers/list"><i class="fa fa-address-book-o"></i> <span>Subscriber Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/subscribers/list">List</a></li>
			</ul>
		</li>

		<!-- Tag Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='tags'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('tag') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_tags">		
			<a href="/admin/tags/list"><i class="fa fa-tags"></i> <span>Tag Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/tags/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/tags/add">Add</a> </li>
			</ul>
		</li>	

		<!-- Testimonial Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='testimonials'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('testimonial') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_testimonials">		
			<a href="/admin/testimonials/list"><i class="fa fa-quote-left"></i> <span>Testimonial Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/testimonials/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/testimonials/add">Add</a> </li>
			</ul>
		</li>

		<!-- Topic Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='topics'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('topic') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_topics">		
			<a href="/admin/topics/list"><i class="fa fa-header"></i> <span>Topic Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/topics/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/topics/add">Add</a> </li>
			</ul>
		</li>

		<!-- User Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='users'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('user') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_users">
			<a href="/admin/users/list"><i class="fa fa-user"></i> <span>User Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/users/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/users/add">Add</a> </li>
				<li><a class="dropdown-item" href="/admin/users/role_permission">Role Permission</a> </li>
			</ul>
		</li>

		<!-- Webinar Menu -->
		- liclass=''
		- liopen=''
		if session.controller =='webinars'
			- liclass ='menu-open'
			- liopen ="display:block"
		
		if(checkPermission('webinar') == false)
			- liclass ='hide'

		<li class="treeview1 #{liclass} li_webinars">		
			<a href="/admin/webinars/list"><i class="fa fa-meetup"></i> <span>Webinar Manager</span>
				<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
			</a>
			<ul class="treeview-menu" style="#{liopen}">   			
				<li><a class="dropdown-item" href="/admin/webinars/list">List</a></li>
				<li><a class="dropdown-item" href="/admin/webinars/add">Add</a> </li>
			</ul>
		</li>
				
	</ul>

</section>
script.
	
	var h = $( window ).height();
	$('ul.sidebar-menu').height((h-130));

	var cfile = 'li_#{session.controller}';	
	$('ul.sidebar-menu').animate({scrollTop: $('li.'+cfile).offset().top - 130});

	var urlobj;
	function BrowseServer(obj)
	{
	  urlobj = obj;
	  OpenServerBrowser(
	  '/Filemanager',
	  screen.width * 0.7,
	  screen.height * 0.7 ) ;
	}

	function OpenServerBrowser( url, width, height )
	{
	  var iLeft = (screen.width - width) / 2 ;
	  var iTop = (screen.height - height) / 2 ;
	  var sOptions = "toolbar=no,status=no,resizable=yes,dependent=yes" ;
	  sOptions += ",width=" + width ;
	  sOptions += ",height=" + height ;
	  sOptions += ",left=" + iLeft ;
	  sOptions += ",top=" + iTop ;
	  var oWindow = window.open( url, "BrowseWindow", sOptions ) ;
	}

	function SetUrl( url, width, height, alt )
	{
	  document.getElementById(urlobj).value = url ;
	  oWindow = null;
	}
</aside>