extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>
			<th>Email</th>			
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if subscribers.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each subscriber in subscribers
				<tr>
					<td>#{i++}</td>					
					<td>#{subscriber.email}</td>
					<td>!{(subscriber.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(subscriber.updated_at)}</td>
					<td><a href="/admin/subscribers/delete/#{subscriber._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>
				</tr>
			<tbody>
		</table>
		</div>