extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/banners/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
					<option value="">Select Type</option>
					<option value="top" !{getOld(reqBody,'type') == 'top' ? 'selected' : ''}>Top Banner</option>
					<option value="support" !{getOld(reqBody,'type') == 'support' ? 'selected' : ''}>Support Banner</option>
					<option value="service" !{getOld(reqBody,'type') == 'service' ? 'selected' : ''}>Service Banner</option>
					<option value="service_image" !{getOld(reqBody,'type') == 'service_image' ? 'selected' : ''}>Service Banner</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Title</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>
			if reqBody.type == 'top'
				<div class="form-group">
					<label class="control-label col-sm-2" for="order">Order</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="order" name="order" placeholder="Enter Order" value="!{getOld(reqBody,'order')}">
						<span>!{getError(errors,'order')} </span>	
					</div>
				</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="" readonly="">					
					</div>
					<span>!{getError(errors,'image')} </span>
					if reqBody.image !=""
						<img src="/gallery#{reqBody.image}" style="width:100px;height:100px;"/>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="slug">Banner Text Line 1</label>
				<div class="col-sm-8">
					<textarea class="form-control ckeditor" id="title" name="banner_text_one" >!{getOld(reqBody,'banner_text_one')}</textarea>
					<span>!{getError(errors,'banner_text_one')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="slug">Banner Text Line 2 </label>
				<div class="col-sm-8">
					<textarea class="form-control ckeditor" id="title" name="banner_text_two" >!{getOld(reqBody,'banner_text_two')}</textarea>					
				</div>
			</div>
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/banners/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>