extends /views/layouts/admin

block content
	section.content-header
		h1.pagehead= title

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/banners/add') Add Banner
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>
			<th>Type</th>
			<th>Image</th>
			<th>Title</th>
			<th>Banner Text Line 1</th>
			<th>Banner Text Line 2</th>
			<th>Status</th>
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if banners.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each banner in banners
				<tr>
					<td>#{i++}</td>
					<td>
					if(banner.type == "service_image")
						span Service Image
					else
						span #{banner.type}
					</td>
					<td>
					if(banner.image =="")
						span N/A
					else
						img(src='/gallery/'+banner.image style="width:100px;" width="100" height="100")
					</td>
					<td>#{banner.title}</td>
					<td>!{banner.banner_text_one}</td>
					<td>!{banner.banner_text_two}</td>
					<td>!{(banner.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(banner.updated_at)}</td>
					<td>
					if banner.status == 1
						<a href="/admin/banners/status/#{banner._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/banners/status/#{banner._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;
					<a href="/admin/banners/edit/#{banner._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/banners/delete/#{banner._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>