extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/banners/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Static Page</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="static_page" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="static_page" class="form-control" type="text" name="static_page" value="!{getOld(reqBody,'static_page')}" >		
					</div>					
					<span>!{getError(errors,'static_page')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Education Page</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="education" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="education" class="form-control" type="text" name="education" value="!{getOld(reqBody,'education')}" >		
					</div>					
					<span>!{getError(errors,'education')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">News</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="news" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="news" class="form-control" type="text" name="news" value="!{getOld(reqBody,'news')}" >		
					</div>					
					<span>!{getError(errors,'news')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Gallery</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="gallery" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="gallery" class="form-control" type="text" name="gallery" value="!{getOld(reqBody,'gallery')}" >		
					</div>					
					<span>!{getError(errors,'gallery')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Faq</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="faq" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="faq" class="form-control" type="text" name="faq" value="!{getOld(reqBody,'faq')}" >		
					</div>					
					<span>!{getError(errors,'faq')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Register</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="register" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="register" class="form-control" type="text" name="register" value="!{getOld(reqBody,'register')}" >		
					</div>					
					<span>!{getError(errors,'register')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Login</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="login" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="login" class="form-control" type="text" name="login" value="!{getOld(reqBody,'login')}" >		
					</div>					
					<span>!{getError(errors,'login')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Service Deparment Page</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
							<a data-input="service" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="service" class="form-control" type="text" name="service" value="!{getOld(reqBody,'service')}" >		
					</div>					
					<span>!{getError(errors,'service')} </span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Cart</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="cart" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="cart" class="form-control" type="text" name="cart" value="!{getOld(reqBody,'cart')}" >		
					</div>					
					<span>!{getError(errors,'cart')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Product</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="product" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="product" class="form-control" type="text" name="product" value="!{getOld(reqBody,'product')}" >		
					</div>					
					<span>!{getError(errors,'product')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Part</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="part" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="part" class="form-control" type="text" name="part" value="!{getOld(reqBody,'part')}" >		
					</div>					
					<span>!{getError(errors,'part')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Accessories</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="accessories" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="accessories" class="form-control" type="text" name="accessories" value="!{getOld(reqBody,'accessories')}" >		
					</div>					
					<span>!{getError(errors,'accessories')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Webinar</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="webinar" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="webinar" class="form-control" type="text" name="webinar" value="!{getOld(reqBody,'webinar')}" >		
					</div>					
					<span>!{getError(errors,'webinar')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Seminar</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="seminar" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="seminar" class="form-control" type="text" name="seminar" value="!{getOld(reqBody,'seminar')}" >		
					</div>					
					<span>!{getError(errors,'seminar')} </span>	
				</div>
			</div>
			
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/banners/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>