 <div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>My Orders</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <app-leftbar></app-leftbar>
                </div>
                <div class="col-sm-9">
                    <div class="loginpage moorder-outer">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Date</th>
                                    <th>Product</th>
                                    <th>Amount</th>                                    
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tr *ngIf="this.orders && this.orders.length==0">
            				<td colspan="6">No Order Found!</td>
            				</tr>
                            <tbody>
                                <tr *ngFor="let order of this.orders">
                                    <td>#{{order.order_id}}</td>
                                    <td>{{order.created_at | date: 'MM/dd/yyyy'}}</td> 
                                    <td class="titlelink">
                                        <ng-container *ngFor="let item of order.order_product">
                                        	<a *ngIf="item.type=='product'" routerLink="/product/{{item.product_id.slug}}" target="_blank">{{item.product_id.name}}</a>
                                        	<a *ngIf="item.type=='part'" routerLink="/part/{{item.part_id.slug}}" target="_blank">{{item.part_id.name}}</a>
                                        	<a *ngIf="item.type=='webinar'" routerLink="/webinar/{{item.webinar_id.slug}}" target="_blank">{{item.webinar_id.title}} ({{item.webinar_id[item.datetime] | date: 'MMMM d hh:mm a z'}})</a>                                        	
                                        	<a *ngIf="item.type=='seminar'" routerLink="/seminar/{{item.seminar_id.slug}}" target="_blank">{{item.seminar_id.title}} ({{item.seminar_id.date_time | date: 'MMMM d hh:mm a z'}})</a>                                        	
                                        </ng-container>

                                    </td> 
                                    <td>${{order.total}}</td>                                   
                                    <td>
                                        <span *ngIf="order.status==1">Submitted</span>
                                        <span *ngIf="order.status==2">Confirmed</span>
                                        <span *ngIf="order.status==3">Shipped</span>
                                        <span *ngIf="order.status==4">Delivered</span>
                                    </td>
                                    <td><a routerLink="/user/order/{{order._id}}"><i class="fa fa-eye"></i></a> </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>


                </div>


            </div>

        </div>
    </div>