extends /views/layouts/admin

block content	

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/bulletin/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Title <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>						

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Publish Date <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control datepicker" id="publish_date" name="publish_date" placeholder="Enter Publish Date" value="!{getOld(reqBody,'publish_date')}" readonly>
					<span>!{getError(errors,'publish_date')} </span>	
				</div>
			</div>			 

			<div class="form-group">
				<label class="control-label col-sm-2" for="link">Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'link')}" readonly="" style="z-index: 1;">					
					</div>					
					<span>!{getError(errors,'image')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">HTML File <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="file" class="" id="htmlfile" name="htmlfile">
					<span>!{getError(errors,'htmlfile')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Description</label>
				<div class="col-sm-10">
					<textarea class="form-control ckeditor" id="description" name="description" placeholder="Enter Content">!{getOld(reqBody,'description')}</textarea>					
				</div>
			</div>	<!-- end body -->
			 
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/bulletin/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>