extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/bulletin/add') Add Bulletin
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Title</th>
			<th>Publish Date</th>
			<th>Image</th>
			<th>HTML File</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if bulletins.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each bulletin in bulletins
				<tr>
					<td>#{i++}</td>					
					<td>#{bulletin.title}</td>
					<td>!{getBulletinMonth(bulletin.publish_date)}</td>					
					<td>
						if(bulletin.image)
							<img src="/gallery#{bulletin.image}" width="50px" height="50px"/>
					</td>
					<td><a href="/uploads/bulletin/#{bulletin.htmlfile}" target="_blank">Click here to View </a></td>
					<td>!{(bulletin.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(bulletin.updated_at)}</td>
					<td>
					if bulletin.status == 1
						<a href="/admin/bulletin/status/#{bulletin._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/bulletin/status/#{bulletin._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/bulletin/edit/#{bulletin._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/bulletin/delete/#{bulletin._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>