extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/menu/list/#{menuname}" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Select Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
					<option value="">Select Type</option>
					<option value="page" !{getOld(reqBody,'type') == 'page' ? 'selected' : ''}>Page</option>
					<option value="category" !{getOld(reqBody,'type') == 'category' ? 'selected' : ''}>Category</option>
					<option value="product" !{getOld(reqBody,'type') == 'product' ? 'selected' : ''}>Product</option>
					<option value="static_url" !{getOld(reqBody,'type') == 'static_url' ? 'selected' : ''}>Static URL</option>
					</select>
					<span>!{getError(errors,'type')} </span>					
				</div>
			</div>

			<div class="form-group type_div div_page" style="display:!{getOld(reqBody,'type') == 'page' ? 'block' : 'none'}">
				<label class="control-label col-sm-2" for="email">Select Page<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="page_id" name="page_id">
						<option  value="">Select Page</option>
						each page in static_pages
							<option  value="#{page._id}" !{getOld(reqBody,'page_id') == page._id ? 'selected' : ''}>#{page.title}</option>
					</select>
					<span>!{getError(errors,'page_id')} </span>					
				</div>
			</div>

			<div class="form-group type_div div_category" style="display:!{getOld(reqBody,'type') == 'category' ? 'block' : 'none'}">
				<label class="control-label col-sm-2" for="email">Select Category<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="category_id" name="category_id">
						<option  value="">Select Category</option>
						each category in categories
							<option  value="#{category._id}" !{getOld(reqBody,'category_id') == category._id ? 'selected' : ''}>#{category.name}</option>
							each subcat in category.childs
								<option  value="#{subcat._id}" !{getOld(reqBody,'category_id') == subcat._id ? 'selected' : ''}>---#{subcat.name}</option>
					</select>
					<span>!{getError(errors,'category_id')} </span>					
				</div>
			</div>

			<div class="form-group type_div div_product" style="display:!{getOld(reqBody,'type') == 'product' ? 'block' : 'none'}">
				<label class="control-label col-sm-2" for="email">Select Product<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="product_id" name="product_id">
						<option  value="">Select Product</option>
						each product in products
							<option  value="#{product._id}" !{getOld(reqBody,'product_id') == product._id ? 'selected' : ''}>#{product.name}</option>
					</select>
					<span>!{getError(errors,'product_id')} </span>										
				</div>
			</div>

			<div class="form-group type_div div_static_url" style="display:!{getOld(reqBody,'type') == 'static_url' ? 'block' : 'none'}">
				<label class="control-label col-sm-2" for="email">Static URL<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="static_url" name="static_url" placeholder="Enter Static URL" value="!{getOld(reqBody,'static_url')}">	
					<span>!{getError(errors,'static_url')} </span>				
				</div>
			</div>


			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Select Parent Menu</label>
				<div class="col-sm-8">
					<select class="form-control" id="parent_id" name="parent_id">
						<option  value="">Select Parent Menu</option>
						each menu in menus
							<option  value="#{menu._id}" !{getOld(reqBody,'parent_id') == menu._id ? 'selected' : ''}>#{menu.name}</option>
							//- 
								each submenu in menu.childs
								<option  value="#{submenu._id}"!{getOld(reqBody,'parent_id') == submenu._id ? 'selected' : ''} >---#{submenu.name}</option>-->
					</select>
					<span>!{getError(errors,'parent_id')} </span>	
				</div>
			</div>			

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/menu/list/#{menuname}" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

		script.
			$("#type").change(function(){
				var tp = $(this).val();
				$(".type_div").hide();
				$(".type_div select").val('');
				$(".type_div input").val('');
				$(".div_"+tp).show();
			});