extends /views/layouts/admin

block content
	
	<script src="/js/admin/jquery.nestable.js"></script>	
	<link rel="stylesheet" href="/css/admin/jquery.nestable.css">

	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		<div class="listheader">
			<a href="/admin/menu/add/#{menuname}" class="btn btn-success btn-sm">Add Menu</a>
		</div>

		<div class="box-body">
			<div class="box-body dd" id="menulist">
				<ol class="dd-list">
					each menu in menus
						<li class='dd-item' data-id='#{menu._id}'>
							<div class="dd-handle">#{menu.name}</div>
							<a href="/admin/menu/edit/#{menu._id}"><i class="fa fa-edit"></i></a>
							<a href="/admin/menu/delete/#{menu._id}"><i class="fa fa-remove deleteBtn"></i></a>
							<ol class="dd-list">
								each submenu in menu.childs
									<li class='dd-item' data-id='#{submenu._id}'>
										<div class="dd-handle">#{submenu.name}</div>
										<a href="/admin/menu/edit/#{submenu._id}"><i class="fa fa-edit"></i></a>
										<a href="/admin/menu/delete/#{submenu._id}"><i class="fa fa-remove deleteBtn"></i></a>
										<ol class="dd-list">
											each submenu2 in submenu.childs
												<li class='dd-item' data-id='#{submenu2._id}'>
													<div class="dd-handle">#{submenu2.name}</div>
													<a href="/admin/menu/edit/#{submenu2._id}"><i class="fa fa-edit"></i></a>
													<a href="/admin/menu/delete/#{submenu2._id}"><i class="fa fa-remove deleteBtn"></i></a>
												</li>	
										</ol>
									</li>	
							</ol>
						</li>			
				</ol>
			</div>

		</div>

		script.
			$('#menulist').nestable({
				group: 1,
				maxDepth :3
			}).on('change', updateOutput);

			function updateOutput()
			{
				var data = $('#menulist').nestable('serialize');
				console.log(data);

				$.ajax({
					url:'/admin/menu/sorting',
					type:'post',
					data:{'data':data},
					dataType:'json',
					success:function(data){
						if(data.status == 'success'){
					
						}
					}
				});
			}