extends /views/layouts/admin

block content	

	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/faqs/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">			
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control select2" id="category" name="category" multiple>
					<option  value="" >Select Category</option>
						each category in categories
							if(category.parent_id == 0)
								<option  value="#{category._id}" !{getOld(reqBody,'category').toString().indexOf(category._id) !== -1 ? 'selected' : ''}>#{category.name}</option>
								each category2 in categories
									if(category2.parent_id == category._id)
										<option  value="#{category2._id}" !{getOld(reqBody,'category').toString().indexOf(category2._id) !== -1 ? 'selected' : ''}>&nbsp;&nbsp;&nbsp;--#{category2.name}</option>

					</select>
					<span>!{getError(errors,'category')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Question <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_short_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_short_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_short_content_#{language.name}">

								<textarea class="form-control ckeditor1" id="short_description" name="question[#{language.code}]" placeholder="Enter Short Description" rows="5">!{getOld(reqBody,'question',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'question.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Answer <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="content" name="answer[#{language.code}]" placeholder="Enter Answer">!{getOld(reqBody,'answer',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'answer.en')} </span>
				</div>
			</div>	<!-- end body --> 
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/faqs/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>