extends /views/layouts/admin

block content
	style.
		span.catname
		{
			/*border:1px solid #000;
			background: #CCC;
			padding: 5px 10px;
			color:#fff; */
		}	

	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/faqs/add') Add FAQ
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Category</th>
			<th>Question</th>			
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if faqs.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each faq in faqs
				<tr>
					<td>#{i++}</td>					
					<td>
						each category in categories
							if(faq.category.indexOf(category._id) !== -1)
								span.catname #{category.name} <br/>

					</td>
					<td>!{faq.question}</td>					
					<td>!{(faq.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(faq.updated_at)}</td>
					<td>
					if faq.status == 1
						<a href="/admin/faqs/status/#{faq._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/faqs/status/#{faq._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/faqs/edit/#{faq._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/faqs/delete/#{faq._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>