extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/requests/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">			

			if(reqBody.product_id)
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Product</label>
					<div class="col-sm-8">
							<a href="/admin/products/edit/#{reqBody.product_id._id}" target="_blank">#{reqBody.product_id.name}</a>
					</div>				
				</div>

			if(reqBody.part_id)
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Part</label>
					<div class="col-sm-8">
							<a href="/admin/parts/edit/#{reqBody.part_id._id}" target="_blank">#{reqBody.part_id.name}</a>
					</div>				
				</div>	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name</label>
				<div class="col-sm-8">
						span #{reqBody.name}			
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email</label>
				<div class="col-sm-8">
					span #{reqBody.email}
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Phone</label>
				<div class="col-sm-8">
					span #{reqBody.phone}
				</div>				
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Message</label>
				<div class="col-sm-8">
					span #{reqBody.message}
				</div>				
			</div>	
			if(reqBody.customData)
				each val,index in JSON.parse(reqBody.customData)
					<div class="form-group">
						<label class="control-label col-sm-2" for="email">#{index.replace("-", " ")}</label>
						<div class="col-sm-8">
							span #{val}
						</div>				
					</div>


			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">					
					<a href="/admin/requests/list" class="btn btn-success">Back</a>
				</div>
			</div>
		</form>