<app-pinkbar page="static_page" banner_image="{{this.banner_image}}"></app-pinkbar>
<div id="content" >
	<div class="product_page2" [class.headerbanner]="this.banner_image">
	    <div class="container-fluid"> 
	    	<!--<div class="pagehead" *ngIf="this.res "><h2><span>{{this.res.data.title}}</span></h2></div>-->
	        <div  [class.news_content]="this.res && this.res.data && this.res.data.slug != 'about-us'">        	
	           	<div *ngIf="this.res" [innerHTML]="this.res.data.body | safeHtml"></div>             
	        </div>  
	        <app-contactus [slug]="slug"  *ngIf="(this.res && this.res.data && this.res.data.slug == 'about-us') || this.slug == 'contact-us'"></app-contactus>
	        <app-pagetestimonials *ngIf="this.res && this.slug != 'contact-us' " page="static_page" id="{{this.res.data._id}}"></app-pagetestimonials> 
	    </div> 
    </div>               
</div>
<app-newsletter  *ngIf="this.res && this.slug != 'contact-us' " ></app-newsletter>  




