extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/users/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="role_id">Role ID<span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<select class="form-control" id="role_id" name="role_id">
						<option value="3" !{getOld(reqBody,'role_id') == '3' ? 'selected' : ''}>Registered User</option>
						<option value="2" !{getOld(reqBody,'role_id') == '2' ? 'selected' : ''}>Sub-Admin</option>
					</select>
					<span>!{getError(errors,'role_id')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="email" name="email" placeholder="Enter email" value="!{getOld(reqBody,'email')}">
					<span>!{getError(errors,'email')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Phone</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone" value="!{getOld(reqBody,'phone')}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Address</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="address" name="address" placeholder="Enter Address" value="!{getOld(reqBody,'address')}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Facility</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="facility" name="facility" placeholder="Enter Facility" value="!{getOld(reqBody,'facility')}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">License Number</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="license_number" name="license_number" placeholder="Enter License Number" value="!{getOld(reqBody,'license_number')}">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Disipline</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="disipline" name="disipline" placeholder="Enter Disipline" value="!{getOld(reqBody,'disipline')}">
				</div>
			</div>	


			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Password </label>
				<div class="col-sm-6"> 
					<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" value="!{getOld(reqBody,'password')}">
					<span>!{getError(errors,'password')} </span>

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="pwd">Confirm Password </label>
				<div class="col-sm-6"> 
					<input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Enter password Again" value="!{getOld(reqBody,'cpassword')}">
					<span>!{getError(errors,'cpassword')} </span>
				</div>
			</div>






			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/users/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>
		<span style="color: green; font-size: 18px;  ">HINT - *Keep Password and Confirm Password field empty, If you do not want to change password.</span>