extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/users/add') Add User
			a.btn.btn-primary.btn-md(href='/admin/users/export_in_excel' class="pull-right") Export Excel
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>
			<!--<th>#ID</th>-->
			<th>Role</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>ELP PLan</th>
			<th>Status</th>
			<th>Created</th>
			<th width="200px">Action</th>
			</tr>
			</thead>
			<tbody>
			if users.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each user in users
				<tr>
					<td>#{i++}</td>
					<!--<td>#{user._id}</td>-->
					<td>!{(user.role_id == 2) ? "<span class='btn btn-xs btn-success'>Sub-Admin</span>" : "<span class='btn btn-xs btn-info'>Registered User</span>"}</td>
					<td>#{user.name}</td>
					<td>#{user.email}</td>
					<td>#{user.phone}</td>
					<td>
					if(user.elp_id)	
						span #{user.elp_id.name}(#{user.elp_expire.toDateString()})
					</td>
					<td>!{(user.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(user.updated_at)}</td>
					<td><a href="/admin/users/edit/#{user._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
						<a href="/admin/users/delete/#{user._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a>
						//- <a href="/admin/order/list/?user=#{user.email}" class="btn btn-xs btn-info">Orders</a>
						<a href="/admin/users/view/#{user._id}" class="btn btn-xs btn-primary">View</a>
						<a href="https://mobilityresearch.org/login?user_id=#{user._id}" target="_blank" class="btn btn-xs btn-primary"><i class="fa fa-user" aria-hidden="true"></i></a>
					</td>

				</tr>
			<tbody>
		</table>
		</div>