extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/users/list" class="btn btn-success btn-sm">Back</a></li>	
	
	style.
		.form-horizontal>.col-sm-3
		{
			padding:10px 0px;
			border:1px solid #CCC;
		}
		.form-control1
		{
			width:16px;
			height:16px;
			vertical-align: -webkit-baseline-middle;
		}
			
	div.maindiv.box.box-primary.pull-left

		<form class="form-horizontal" method="post">
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Banner Manager </label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="banner" name="banner" value="1" !{reqBody.role_permission.indexOf('banner') != -1 ? 'checked' : ''}>	
				</div>
			</div>

			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Blog Manager </label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="blog" name="blog" value="1" !{reqBody.role_permission.indexOf('blog') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Category Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="category" name="category" value="1" !{reqBody.role_permission.indexOf('category') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Discount Coupon Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="discount_coupon" name="discount_coupon" value="1" !{reqBody.role_permission.indexOf('discount_coupon') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Distributor Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="distributor" name="distributor" value="1" !{reqBody.role_permission.indexOf('distributor') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Email Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="email" name="email" value="1" !{reqBody.role_permission.indexOf('email') != -1 ? 'checked' : ''}>	
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Elp Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="elp" name="elp" value="1" !{reqBody.role_permission.indexOf('elp') != -1 ? 'checked' : ''}>			
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">FAQ Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="faq" name="faq" value="1" !{reqBody.role_permission.indexOf('faq') != -1 ? 'checked' : ''}>			
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">File Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="file" name="file" value="1" !{reqBody.role_permission.indexOf('file') != -1 ? 'checked' : ''}>			
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Gallery Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="gallery" name="gallery" value="1" !{reqBody.role_permission.indexOf('gallery') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Language Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="language" name="language" value="1" !{reqBody.role_permission.indexOf('language') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Menu Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="menu" name="menu" value="1" !{reqBody.role_permission.indexOf('menu') != -1 ? 'checked' : ''}>			
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">News Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="news" name="news" value="1" !{reqBody.role_permission.indexOf('news') != -1 ? 'checked' : ''}>			
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Order Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="order" name="order" value="1" !{reqBody.role_permission.indexOf('order') != -1 ? 'checked' : ''}>		
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Parts & Accessories Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="parts" name="parts" value="1" !{reqBody.role_permission.indexOf('parts') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Product Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="product" name="product" value="1" !{reqBody.role_permission.indexOf('product') != -1 ? 'checked' : ''}>
				</div>
			</div>
			
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Region Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="region" name="region" value="1" !{reqBody.role_permission.indexOf('region') != -1 ? 'checked' : ''}>	
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Requests Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="requests" name="requests" value="1" !{reqBody.role_permission.indexOf('requests') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Seminar Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="seminar" name="seminar" value="1" !{reqBody.role_permission.indexOf('seminar') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Static Page Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="static_page" name="static_page" value="1" !{reqBody.role_permission.indexOf('static_page') != -1 ? 'checked' : ''}>					
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">States Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="states" name="states" value="1" !{reqBody.role_permission.indexOf('states') != -1 ? 'checked' : ''}>	
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Speaker Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="speaker" name="speaker" value="1" !{reqBody.role_permission.indexOf('speaker') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Subscriber Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="subscriber" name="subscriber" value="1" !{reqBody.role_permission.indexOf('subscriber') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Tag Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="tag" name="tag" value="1" !{reqBody.role_permission.indexOf('tag') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Testimonial Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="testimonial" name="testimonial" value="1" !{reqBody.role_permission.indexOf('testimonial') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Topic Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="topic" name="topic" value="1" !{reqBody.role_permission.indexOf('topic') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">User Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="user" name="user" value="1" !{reqBody.role_permission.indexOf('user') != -1 ? 'checked' : ''}>
				</div>
			</div>
			<div class="col-sm-3">
				<label class="control-label col-sm-8" for="email">Webinar Manager</label>
				<div class="col-sm-4">
					<input type="checkbox" class="form-control1" id="webinar" name="webinar" value="1" !{reqBody.role_permission.indexOf('webinar') != -1 ? 'checked' : ''}>
				</div>
			</div>
						
			<div class="col-sm-12 pull-left"> 
				<br/><br/>
				<div class="col-sm-offset-0 col-sm-12">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/users/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>