extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/users/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary
	

		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">

			<tbody>
			if result

				<tr>
					<td width="250px">Name :</td>            
					<td>#{result.name}</td>	
				</tr>
				<tr>
					<td width="250px">Email :</td> 
					<td>#{result.email}</td>	
				</tr>
				<tr>
					<td width="250px">Phone :</td> 
					<td>#{result.phone}</td>	
				</tr>
				<tr>
					<td width="250px">Address :</td> 
					<td>#{result.address}</td>	
				</tr>
				<tr>
					<td width="250px">Zip Code :</td> 
					<td>#{result.zip_code}</td>	
				</tr>
				<tr>
					<td width="250px">Country :</td> 
					<td>#{result.country}</td>	
				</tr>
				<tr>
					<td width="250px">State :</td> 
					<td>#{result.state}</td>	
				</tr>
				<tr>
					<td width="250px">City :</td> 
					<td>#{result.city}</td>	
				</tr>
				<tr>
					<td width="250px">Organization :</td> 
					<td>#{result.organization}</td>	
				</tr>
				<tr>
					<td width="250px">License Number :</td> 
					<td>#{result.license_number}</td>	
				</tr>
				<tr>
					<td width="250px">Title :</td> 
					<td>#{result.title}</td>	
				</tr>
				<tr>
					<td width="250px">Facility :</td> 
					<td>#{result.facility}</td>	
				</tr>
				<tr>
					<td width="250px">Disipline :</td> 
					<td>#{result.disipline}</td>	
				</tr>
				<tr>
					<td width="250px">Created At :</td> 
					<td>#{result.created_at ? result.created_at.toDateString() : ''}</td>	
				</tr>

			else
				
				<tr><td colspan="8">No Data Found!</td></tr>

			<tbody>
		</table>
		</div>


		<h3>Orders</h3>
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
				<th>S.No</th>			
				<th>Id</th>
				<th>Customer</th>
				<th>Product(s)</th>		
				<th>Total</th>		
				<th>Created</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>			
			if orders.length==0
				<tr><td colspan="6">No Order Found!</td></tr>				

			else
				- var i = 1
				each order in orders
					if(order.user_id && order.total>=1)						
						<tr>
							<td>#{i++}</td>					
							<td>##{order.order_id}</td>
							<td><b>Name : </b>#{order.user_id ? order.user_id.name : ''}<br/><b>Email : </b>#{order.user_id ? order.user_id.email : ''}</td>
							<td>
							- var temp_op_prod = ''							
							if order.order_product
								each op in order.order_product
									if op.product_id
										- temp_op_prod += op.product_id.name + '<br>'
									if op.part_id
										- temp_op_prod += op.part_id.name + '<br>'
									if op.webinar_id
										- temp_op_prod += op.webinar_id.title + '<br>'
									if op.seminar_id
										- temp_op_prod += op.seminar_id.title + '<br>'

								<span>!{temp_op_prod}</span>
							</td>
							<td>$#{order.total}</td>
							<td>#{order.updated_at.toDateString()}</td>
							<td>
								<span>#{statuses[order.status]}</span>
							</td>
							<td>
								// <a href="/admin/order/view/#{order._id}" class="btn btn-xs btn-primary">View</a>
								// <a href="/admin/order/packing_slip/#{order._id}" class="btn btn-xs btn-primary" target="_blank"><i class="fa fa-truck"></i></a>
								<a href="/admin/order/packing_slip/#{order._id}" class="btn btn-xs btn-primary" target="_blank">View Slip</a>								
							</td>
						</tr>
			<tbody>
		</table>
		</div>

		<h3>Elp Payments</h3>
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
				<th>S.No</th>			
				<th>User Name</th>
				<th>User Email</th>				
				<th>User Plan Expire</th>
				<th>Plan Name</th>
				<th>Coupon Code</th>
				<th>no of used coupon</th>
				<th>Plan Price</th>
				<th>Plan Display Name</th>
				<th>Duration(In Month)</th>		
				<th>Purchase Date</th>
			</tr>
			</thead>
			<tbody>
			if elpPayments.length==0
				<tr><td colspan="6">No Elp Payments Found!</td></tr>				
			else
				- var i = 1
				each payment in elpPayments
					<tr>
						<td>#{i++}</td>					
						<td>#{payment.user_id ? payment.user_id.name : ''}</td>
						<td>#{payment.user_id ? payment.user_id.email : ''}</td>						
						<td>#{payment.user_id ? payment.user_id.elp_expire.toDateString() : ''}</td>					
						<td>#{payment.elp_id ? payment.elp_id.name : ''}</td>
						<td>
						if(payment.elp_id.persons > 1)
							<span>#{payment._id}</span>
						</td>
						<td>#{payment.coupon_used} &nbsp;							
						</td>
						<td>#{payment.elp_id ? payment.elp_id.price : ''}</td>
						<td>#{payment.elp_id ? payment.elp_id.display_name : ''}</td>					
						<td>#{payment.elp_id ? payment.elp_id.duration : ''} Months</td>					
						<td>#{payment.created_at.toDateString()}</td>
					</tr>
			<tbody>
		</table>
		</div> 		

		<h3>Webinars</h3>
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
				<tr>
				<th>S.No</th>	
				<th>Webinar</th>		
				<th>Date</th>
				<th>Speaker</th>
				<th>Link</th>
				<th>Contact Hours</th>

				</tr>
			</thead>
			<tbody>								
				- var i = 1
				each webinar in orders
					if webinar.order_product && Array.isArray(webinar.order_product)
						each webinardata1 in webinar.order_product
							if webinardata1 && webinardata1.type == 'webinar'
								<tr>
									<td>#{i++}</td>	
									<td>#{webinardata1.webinar_id.title}</td>				
									<td>#{webinardata1.webinar_id.date_time_1 ? webinardata1.webinar_id.date_time_1.toDateString() : ''}</td>

									<td>
									if webinardata1.webinar_id.speaker_id
										- var tempspeak = ''
										each webinardata2 in webinardata1.webinar_id.speaker_id
											- tempspeak += webinardata2.name +", "
										<span>#{tempspeak.substring(0, tempspeak.length - 2)}</span>
									</td>
									<td>#{webinardata1.webinar_id.url}</td>
									<td>#{webinardata1.webinar_id.contact_hours}</td>

								</tr>
			<tbody>
		</table>
		</div>

		<h3>Seminars</h3>
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
				<tr>
				<th>S.No</th>	
				<th>Seminar</th>		
				<th>Date</th>
				<th>Speaker</th>
				<th>Location</th>
				</tr>
			</thead>
			<tbody>				
				- var i = 1
				each webinar in orders
					if webinar.order_product && Array.isArray(webinar.order_product)
						each webinardata1 in webinar.order_product
						
							if webinardata1 && webinardata1.type == 'seminar'
								<tr>
									<td>#{i++}</td>	
									<td>#{webinardata1.seminar_id.title}</td>				
									<td>#{webinardata1.seminar_id.date_time ? webinardata1.seminar_id.date_time.toLocaleString() : ''}</td>
									<td>
									if webinardata1.seminar_id.speaker_id
										- var tempspeak = ''
										each webinardata2 in webinardata1.seminar_id.speaker_id
											- tempspeak += webinardata2.name +", "
										<span>#{tempspeak.substring(0, tempspeak.length - 2)}</span>
									</td>
									<td>#{webinardata1.seminar_id.location}</td>
								

								</tr>
			<tbody>
		</table>
		</div>


