h1.pagehead
{
	margin: 0 0 20px 0;	
}
section.content-header
{
	margin:0px -15px;
	padding:0px 15px;
	margin-bottom: 20px;
	border-bottom:3px solid #3c8dbc;
}
section.content-header>.breadcrumb>li>a
{
	color:#FFF;
	margin-top: -20px;
}
section.content-header>.breadcrumb>li+li:before
{
	visibility:hidden;
}
div.maindiv
{
	padding:20px;
}
label.control-label
{
	text-align:left !important;
}
div.alert
{
	padding:3px;
}
a.add-more
{
	margin-top:5px;
}
ul.sidebar-menu li.header {
    color: #fff !important;
    font-weight: 900;
    font-size: 16px;
}
div.listheader{
	border-bottom: 2px solid #3c8dbc;
    padding-bottom: 10px;
}
label.error { color: red;  }
