<div class="product_page">
    <div class="container">         
        <div class="pagehead"><h2><span>Instructors & Trainers</span></h2></div>            
        <div class="product_grid_icon grid_view_icon">
         
           <div class="product_grid_select">
                <!--<div class="view_icon_outer"><span>View By </span> <a href="#"><i class="fas fa-th"></i></a><a href="#" class="active"><i class="fas fa-list"></i></a></div>-->

                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
                <div class="product_sort_select" style="width: 40%">
                    <label>Search by</label>
                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
                </div>
                <div class="product_sort_select" style="width: 40%">
                    <label>Sort by</label>
                    <select class="form-control" [(ngModel)]="orderByType">                        
                        <option [ngValue]="false">Name:  A to Z</option>
                        <option [ngValue]="true">Name:  Z to A</option>                        
                    </select>
                </div>            
            </div>                   
            <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span>            
        </div>
            
            
        <div class="select_product_outer instructorlist">     
         
        	<div class="product_search_slider select_product_slider trainers_list">
                
              	<div class="col-xs-6 col-sm-2 col-lg-2" *ngFor="let instructor of this.instructors | stringfilter: {name: keyword, short_description: keyword} : false : filterMetadata | orderBy:'lname' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
                    <div class="trainers_list_block">
                        <a style="display: block;" routerLink="/instructor/{{instructor.slug}}">			                    
                         <div class="instructore_img_class"><img src="{{env.serverUrl+env.galleryDir+instructor.image}}" alt="" /></div>
                         <h6 style="margin-top:10px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{instructor.name}}</h6>
                         <div class="cat_dis" [innerHTML]="instructor.tag_line | safeHtml" style="min-height: 20px;max-height: 20px;"></div>	                     				                    
                     </a>
                 </div>
            	</div> 

            </div>             

            <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>            

        </div> <!-- end select_product_outer -->

    </div>   
</div>