<app-pinkbar page="gallery"></app-pinkbar>

<div id="content" *ngIf="slug==null">
    <div class="container">
    	<div class="row" >
	    	<div class="pagehead"><h2><span>Gallery</span></h2></div>
	    	<div class="col-xs-8">
		    	<div class="product_grid_icon grid_view_icon" style="margin-top: 0px">
		         <div class="view_icon_outer"><span>View By </span> <a href="javascript:void(0);" [ngClass]="!show?'active':''" (click)="onbtnClick('grid')"><i class="fas fa-th"></i></a><a href="javascript:void(0);"  [ngClass]="show?'active':''"   (click)="onbtnClick('list')"><i class="fas fa-list"></i></a></div>
		           <div class="product_grid_select">               
		             <!--    <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
		                <div class="product_sort_select" style="width: 40%">
		                    <label>Search by</label>
		                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
		                </div>  -->    

    		                <!-- <div class="product_sort_select" style="width: 40%">
    		                    <label>Filter</label>
    		                    <select class="form-control" [(ngModel)]="keyword" multiple="">   
    		                    	<option  value=""  selected>Choose Tag</option>
    		                        <option [ngValue]="tag.name"  *ngFor="let tag of this.tags">{{tag.name}}</option>
    		                                            
    		                    </select>
    		                </div> -->

					<div class="product_sort_select" style="width: 50%">
	                    <label>Filter</label>
	    		       <ng-multiselect-dropdown
							  [placeholder]="'Choose Tags'"
							  [data]="dropdownList"
							  [(ngModel)]="keyword"
							  [settings]="dropdownSettings"
							  (onSelect)="onItemSelect($event)"
							  (onSelectAll)="onSelectAll($event)"
							  (onDeSelect)="onItemUnSelect($event)"
							>
						</ng-multiselect-dropdown>
	                </div> 
						



		            </div>                   
		            <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span>            
		        </div>       
		        <div class="gallery_content">	           	
		            <div class="gallery_content">
		                <div class="row gallery_page_gridview" *ngIf="!show">
		                    <div *ngFor="let gallery of this.galleryListPhotoData | stringfilter: {tag: keywordtmp} : false : filterMetadata  | orderBy:'tag' : this.orderByType  | paginate: { itemsPerPage : this.itemsPerPage, currentPage: p, id: 'photo_list' };  let i = index;">

	<!-- <div *ngIf="i>0 && this.galleryListPhotoData[i].tag[0] != this.galleryListPhotoData[i-1].tag[0]" class="col-xs-12 col-sm-12 col-md-12"> </div>   -->

	<div  *ngIf="i==0" class="pagehead col-sm-12" ><h2  style="font-size: 24px; text-transform: capitalize; padding-bottom: 9px;" ><span  [innerHtml]="gallery.tag[0]" ></span></h2></div>
	<div  *ngIf="i>0 && old_gallery.tag[0] != gallery.tag[0]" class="col-sm-12 pagehead"><h2  style="font-size: 24px; text-transform: capitalize; padding-bottom: 9px;" ><span   [innerHtml]="gallery.tag[0]"></span></h2></div>	

	{{galelryTrack(gallery)}}
			                    <div  class="col-xs-12 col-sm-12 col-md-4" >

                 	
			                        <div class="gallery_outer">
			                            <h6>{{gallery.title}}</h6>
			                            <div class="gallery_outer_img" style="height: 150px">
				                            <img src="{{env.serverUrl+env.galleryDir+gallery.file}}" alt="" />
				                        </div>    

			                            <ul>    
			                            	<li [innerHTML]="(gallery.description.length>150)? (gallery.description | striphtml | slice:0:150)+'...':(gallery.description | striphtml)"></li>
			                                <!-- <li>{{gallery.tag}}</li>                                 -->
			                            </ul>
			                            <a href="#" data-toggle="modal" attr.data-target="#PhotoModal_{{gallery._id}}" class="view_icon"><i class="far fa-plus-square"></i></a>
			                            <!-- Modal -->
										<div class="modal fade" id="PhotoModal_{{gallery._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="exampleModalLabel" style="float: left">{{gallery.title}}</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										        <div class="row">
										        	<div class="col-xs-12 text-center">									        	 	
										        		<img src="{{env.serverUrl+env.galleryDir+gallery.file}}" style="width: auto" />
										        	</div>
										        	<div class="col-xs-12" style="margin: 10px 0px;font-style: italic;">Tags: {{gallery.tag}}</div>
										        	<div class="col-xs-12" [innerHTML]="gallery.description | safeHtml"> </div>
										        </div>
										      </div>
										      <div class="modal-footer btns">
										        <button type="button" style="width: 80px;" class="btn btn-primary" data-dismiss="modal">Close</button>
										      </div>
										    </div>
										  </div>
										</div>
			                        </div>
			                    </div>

		                    </div>
		                </div>  
		                <div class="row" *ngIf="show">
			                <div class="news_content gallery_page_listview">
			                	<ul>
					                <li *ngFor="let gallery of this.galleryListPhotoData | stringfilter: {tag: keywordtmp} : false : filterMetadata  | orderBy:'tag' : this.orderByType  | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p, id: 'photo_list' };  let i = index;">
					                <!-- <h3  *ngIf="i>0 && this.galleryListPhotoData[itemsPerPage*(p-1)+i].tag[0] != this.galleryListPhotoData[(itemsPerPage*(p-1)+i)-1].tag[0]"  [innerHtml]="gallery.tag[0]" ></h3> -->
					               <!--  <h3  *ngIf="i==0"  [innerHtml]="gallery.tag[0]"  ></h3> -->
<div  *ngIf="i>0 && old_gallery.tag[0] != gallery.tag[0]" class="col-sm-12 pagehead"><h2  style="font-size: 24px; text-transform: capitalize; padding-bottom: 9px;"   [innerHtml]="gallery.tag[0]"></h2></div>

<div  *ngIf="i==0" class="pagehead col-sm-12" ><h2 style="font-size: 24px; text-transform: capitalize; padding-bottom: 9px;" [innerHtml]="gallery.tag[0]" ></h2></div>
	{{galelryTrack(gallery)}}
					                   	<div class="news_image gall_image">
					                        <img src="{{env.serverUrl+env.galleryDir+gallery.file}}" alt="" style="height:120px;"/>
					                    </div>

					                    <div class="new_content" style="width:100%">
					                        <h4>{{gallery.title}}</h4>
					                        <p [innerHTML]="(gallery.description.length>175)? (gallery.description | striphtml | slice:0:175)+'...':(gallery.description | striphtml)"></p>
					                        <!-- <p>Tags: {{gallery.tag}}</p> -->
					                        <a href="#" data-toggle="modal" style="margin-top: 0px; " attr.data-target="#PhotoModalList_{{gallery._id}}" class="news_btn">View More</a>
					                    </div>

						                    <!-- modal start --> 
										<div class="modal fade" id="PhotoModalList_{{gallery._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										  <div class="modal-dialog" role="document">
										    <div class="modal-content">
										      <div class="modal-header">
										        <h5 class="modal-title" id="exampleModalLabel" style="float: left">{{gallery.title}}</h5>
										        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										          <span aria-hidden="true">&times;</span>
										        </button>
										      </div>
										      <div class="modal-body">
										        <div class="row">
										        	<div class="col-xs-12 text-center">									        	 	
										        		<img src="{{env.serverUrl+env.galleryDir+gallery.file}}" style="width: auto" />
										        	</div>
										        	<div class="col-xs-12" style="margin: 10px 0px;font-style: italic;">Tags: {{gallery.tag}}</div>
										        	<div class="col-xs-12" [innerHTML]="gallery.description | safeHtml"> </div>
										        </div>
										      </div>
										      <div class="modal-footer btns">
										        <button type="button" style="width: 80px;" class="btn btn-primary" data-dismiss="modal">Close</button>
										      </div>
										    </div>
										  </div>
										</div>
						                    <!-- modal end --> 
					                </li>               
					            </ul>
					        </div>
		                </div>              
		                <pagination-controls (pageChange)="p = $event" class="pagination_dev" id="photo_list"></pagination-controls>
		            </div>     
		        </div> <!-- end gallery_content -->
	    	</div>
	    	<div class="col-xs-4 " style="border-left: 3px solid #ab3585">
		        <div class="gallery_content">	           	
		            <div class="gallery_content">
		                <div class="row">
		                    <div class="col-xs-12" *ngFor="let gallery of this.galleryListVideoData | stringfilter: {tag: keywordtmp} : false : filterMetadata | paginate: { itemsPerPage : this.itemsPerPage2, currentPage: this.p2,id: 'video_list' }">
		                        <div class="gallery_outer" style="margin-bottom: 30px">
		                            <h6>{{gallery.title}}</h6>
		                            <div class="gallery_outer_img" style="height: auto;">
				                        <video *ngIf="gallery.type=='video'" width="100%" height="300" controls><source src="{{env.serverUrl+env.galleryDir+gallery.file}}" type="video/mp4" ></video>           
				                        <ng-container *ngIf="gallery.type=='vimeo_video'">                  
				                        	<div class='embed-container'><iframe [src]="vimeoURL(gallery.vimeo_url) | safeUrl" width="100%" height="300" frameborder="0" allowfullscreen></iframe>  </div>                          
				                    	</ng-container>
			                        </div>    

		                        </div>
		                    </div>
		                </div>                
		                <pagination-controls (pageChange)="p2 = $event" class="pagination_dev" id="video_list"></pagination-controls>
		            </div>     
		        </div> <!-- end gallery_content -->
	    	</div>	    	
    	</div>
    </div> 

    <style>
    .embed-container {
  		position: relative;
  		padding-bottom: 56.25%;
  		overflow: hidden;
	}		
	.embed-container iframe,
	.embed-container object,
	.embed-container embed {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	}
    </style>
    <div class="gallery_webinar_list_div">
	    <div class="container">
	    	<div class="row">    			    			
	            <div class="col-xs-6" *ngFor="let categoryitem of this.webinar_categories">
	            	<ng-container *ngIf="categoryitem.name.indexOf('Case') !== -1 || categoryitem.name.indexOf('Tips') !== -1">
	            		{{startCounter()}}	                
		                <div class="pagehead"><h2 style="margin-bottom: 10px;"><span>{{categoryitem.name}}</span></h2></div>  
		                <ng-container *ngFor="let webinar of this.webinars">
		                	<ng-container *ngIf="webinar.category._id == categoryitem._id">
		                		{{updateCounter()}}
		                		<div class="webinars-list" style="padding-top: 10px;" *ngIf="this.counter <= 3">
				                    <div class="webinars-img">
				                        <div class="boximg">
				                            <img src="{{env.serverUrl+env.galleryDir+webinar.image}}" alt="" style="max-height: 200px" />
				                        </div>
				                    </div>
				                    <div class="webinars-info" style="padding: 0px;width: calc(100% - 110px);">                        
										<div class="web-info" style="padding: 0px;">
											<ng-container *ngIf="webinar.slug !==undefined">
												<a  routerLink="/webinar/{{webinar.slug}}">{{webinar.title}}</a>
											</ng-container>
											
												<a *ngIf="webinar.speaker_id[0]" routerLink="/instructor/{{webinar.speaker_id[0].slug}}" style="margin-top: 0px">{{webinar.speaker_id[0].name}}</a>	
													
											<div [innerHTML]="webinar.description | slice:0:100" class="courseinfo" style="float: left;width: 100%;"></div> 
											<ng-container *ngIf="webinar.slug !==undefined">
											<a routerLink="/webinar/{{webinar.slug}}" style="float: left;margin:-10px 0 10px 0;">View More</a>
											</ng-container>	 
	                                    	                                 
				                        </div>
				                    </div>
				                    <div class="clearfix"></div>
				                </div>    
			                </ng-container>    
		                </ng-container> <!-- end of webinar list -->
		                <br/>
		                <div class="col-xs-12 text-center">
							<ng-container *ngIf="categoryitem.slug !==undefined">
							<a routerLink="/webinars/upcoming/{{categoryitem.slug}}" class="catlink">{{categoryitem.name}} <i class="fas fa-arrow-right"></i></a>
							</ng-container>
		            	</div>
	            	</ng-container>
	                	                
	            </div> <!-- end right column -->
	    	</div>
	    </div>
	</div>    	   
</div>

<div id="content" *ngIf="slug!==null">
	<div class="pagehead"><h2><span>{{this.galleryData.title}}</span></h2></div>       
    <div class="gallery_content" *ngIf="slug!==null">	           	
        <div class="gallery_content">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4" *ngIf="this.galleryData.type=='photo'">
                    <img src="{{env.serverUrl+env.galleryDir+this.galleryData.file}}"/>
                    <ul>    
                        <li>{{this.galleryData.tag}}</li>                                
                    </ul>
                </div>  
                <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="this.galleryData.type=='video'">
                     <video width="100%" height="500" controls ><source src="{{env.serverUrl+env.galleryDir+this.galleryData.file}}" type="video/mp4" ></video> 
                    <ul>    
                        <li>{{this.galleryData.tag}}</li>                                
                    </ul>
                </div> 
                <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="this.galleryData.type=='vimeo_video'">
                    <iframe [src]="vimeoURL(galleryData.vimeo_url)" width="100%" height="500" frameborder="0" allowfullscreen></iframe>
                    <ul>    
                        <li>{{this.galleryData.tag}}</li>                                
                    </ul>
                </div>

                <div [innerHTML]="this.galleryData.description | safeHtml"></div>

                <br/><div class="view_all col-xs-12 col-sm-12 col-md-12"> <a routerLink="/gallery">View All Gallery </a></div>            
                    
            </div>
        </div>     
    </div> <!-- end gallery_content -->
</div>	