<app-pinkbar page="cart"></app-pinkbar>

<div id="content">
    <div class="container">

    	<div class="pagehead"><h2><span>Your Cart</span></h2></div>

    	<div class="row" *ngIf="!this.cart || (this.cart && this.cart.items.length == 0)">
    		<div class="col-xs-12">Your Cart is Empty </div>
    	</div>	

    	<div class="row cartlist" *ngIf="this.cart && this.cart.items.length >=1">
    		<div class="col-xs-12 b-bottom">
    			<div class="col-xs-1">
    			</div>
    			<div class="col-xs-2">Image
    			</div>
    			<div class="col-xs-4">Name
    			</div>
    			<div class="col-xs-1">Price
    			</div>
    			<div class="col-xs-3">Quantity
    			</div>
    			<div class="col-xs-1 text-right">Total
    			</div>
    		</div>

    		<div class="col-xs-12 b-bottom" *ngFor="let cartitem of this.cart.items">
    			<div class="col-xs-1"><i class="fa fa-trash" aria-hidden="true" (click)="deleteqty(cartitem.id)" title="Remove from cart"></i></div>
    			<div class="col-xs-2 imgdiv">
    				<a *ngIf="cartitem.type=='product'" routerLink="/product/{{cartitem.slug}}"><img src="{{env.serverUrl+env.galleryDir+cartitem.image}}"/></a>
    				<a *ngIf="cartitem.type=='parts'" routerLink="/part/{{cartitem.slug}}"><img src="{{env.serverUrl+env.galleryDir+cartitem.image}}"/></a>
    				<a *ngIf="cartitem.type=='accessories'" routerLink="/accessories/{{cartitem.slug}}"><img src="{{env.serverUrl+env.galleryDir+cartitem.image}}"/></a>
    				<a *ngIf="cartitem.type=='webinar'" routerLink="/webinar/{{cartitem.slug}}"><img src="{{env.serverUrl+env.galleryDir+cartitem.image}}"/></a>
    				<a *ngIf="cartitem.type=='seminar'" routerLink="/seminar/{{cartitem.slug}}"><img src="{{env.serverUrl+env.galleryDir+cartitem.image}}"/></a>
    			</div>
    			<div class="col-xs-4">
    				<a *ngIf="cartitem.type=='product'" routerLink="/product/{{cartitem.slug}}">{{cartitem.name}}</a>
    				<a *ngIf="cartitem.type=='parts'" routerLink="/part/{{cartitem.slug}}">{{cartitem.name}}</a>
    				<a *ngIf="cartitem.type=='accessories'" routerLink="/part/{{cartitem.slug}}">{{cartitem.name}}</a>
    				<a *ngIf="cartitem.type=='webinar'" routerLink="/webinar/{{cartitem.slug}}">{{cartitem.name}}</a>
    				<a *ngIf="cartitem.type=='seminar'" routerLink="/seminar/{{cartitem.slug}}">{{cartitem.name}}</a>
    			</div>
    			<div class="col-xs-1">${{cartitem.price}}</div>
    			<div class="col-xs-3"><i class="fas fa-caret-square-down" (click)="decreaseqty(cartitem.id)" title="Increase Quantity"></i> <span class="qty">{{cartitem.qty}}</span><i class="fas fa-caret-square-up" (click)="increaseqty(cartitem.id)" title="Decrease Quantity"></i>
    			</div>
    			<div class="col-xs-1 text-right">${{cartitem.total}}</div>
    		</div>
    		
    		<div class="col-xs-12 b-bottom text-right" >
    			<div *ngIf="cart.items.length > 0"> Total : ${{this.cart.total}} </div>
    		</div>	
    		<div class="col-xs-12 text-right cartbtn">
    			<a routerLink="/products" class="proceed btn btn-sm btn-info">Continue Shopping</a>
    			<a *ngIf="authGuard.isAuthenticated() && cart && cart.items.length > 0"  (click)="purchase_webinar_directly()"  class="proceed btn btn-sm btn-success">Proceed to Checkout</a>
           <!--      <a *ngIf="authGuard.isAuthenticated() && !check_cart_prod && cart.items.length > 0" routerLink="/payment" class="proceed btn btn-sm btn-success">Proceed to Payment</a> -->
    			<a *ngIf="!authGuard.isAuthenticated() && cart && cart.items.length > 0" routerLink="/login/checkout"    class="proceed btn btn-sm btn-success">Proceed to Checkout</a>
    			<!-- <a  *ngIf="!authGuard.isAuthenticated()" routerLink="/checkout-as-guest" class="proceed btn btn-sm btn-success">Checkout as guest</a>-->
    			<!-- <a  *ngIf="!authGuard.isAuthenticated()" routerLink="/checkout-as-guest" class="proceed btn btn-sm btn-success">Checkout as guest</a>-->
    		</div>
    	</div>

    </div>
</div>    	
