extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/casestudy/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>			

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Synopsis <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<textarea class="form-control ckeditor" id="synopsis" name="synopsis" placeholder="Enter Synopsis">!{getOld(reqBody,'synopsis')}</textarea>
					<span>!{getError(errors,'synopsis')} </span>	
				</div>
			</div>
			

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Description <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="description" name="description[#{language.code}]" placeholder="Enter Description">!{getOld(reqBody,'description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'description.en')} </span>
				</div>
			</div>	<!-- end body --> 											

			<fieldset>
				<legend>Meta Info</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Enter Meta Title" value="!{getOld(reqBody,'meta_title')}">						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" value="!{getOld(reqBody,'meta_description')}">						
					</div>
				</div>
			</fieldset>	

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/casestudy/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>