extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/casestudy/add') Add Case Study
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>				
			<th>Title</th>									
			<th>synopsis</th>			
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if casestudies.length==0
				<tr><td colspan="8">No Data Found!</td></tr>		 							

			- var i = 1
			each casestudy in casestudies
				<tr>
					<td>#{i++}</td>										
					<td>#{casestudy.title}</td>																				
					<td>!{casestudy.synopsis}</td>					
					<td>!{(casestudy.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>
					<td>#{casestudy.updated_at.toDateString()}</td>
					<td>
					if casestudy.status == 1
						<a href="/admin/casestudy/status/#{casestudy._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/casestudy/status/#{casestudy._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/casestudy/edit/#{casestudy._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/casestudy/delete/#{casestudy._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>
				</tr>					
			<tbody>
		</table>
		</div>