<app-pinkbar page="education"></app-pinkbar>

<!--- About ---->
<div class="education_text">
	<div class="container">
		<!--<div class="heading">
			<h2>The Original Partial-Weight-Bearing Gait Therapy Device</h2>
			<div class="dots"><span></span><span></span><span></span><span></span></div>
		</div>-->
		<p class="mb-2">Mobility Research was created to bring rehabilitation solutions to clinicians, to bridge the gap between laboratory and clinical arenas, and to serve the educational needs of rehabilitation professionals. From providing our onsite educational inservices, equipment training sessions, and accredited seminars to organizing national and international accredited courses, we have committed extensive resources to the education of clinicians. Our hope is to prepare today's clinicians for tomorrow's challenges.</p>
		
		<p class="text-left">This includes:</p>
		<ul class="includes_text_list text-left my-2">
			<li>technical and financial support for ongoing research projects and the dissemination of their findings</li>
			<li>providing speakers for professional meetings</li>
			<li>connecting clinician "authors" with professional journals for publication of their articles</li>
			<li>collaborating with clinicians on evaluation and development of new solutions and products</li>
			<li>providing access to current research information for students and practicing clinicians</li>
		</ul>
		<p>Of course, the main objective of our Education Department is to provide quality onsite training sessions for LiteGait® and our other products. We believe that educated users are successful use</p>
	</div>
</div>

<!--- Webinars  ---->
<div class="education_img_block">
	<img src="/assets/images/education_img_block1.jpg" alt="Webinars">
	<div class="container">
		<h2 class="education_img_title">ONLINE WEBINARS <small>Clinical webinars designed for the busy proffessional View our recording library</small></h2>
	</div>
</div>
    
<!--- Workshops  ---->
<div class="education_blog_text">
	<div class="container">Short 30-90 minute presentations are packed with useful information augmented with instructionalvideos on a multitude of topics.</div>
</div>
<div class="education_img_block">
	<img src="/assets/images/education_img_block2.jpg" alt="Workshops">
	<div class="container">
		<h2 class="education_img_title">TRAININGS | WORKSHOPS | INSERVICES</h2>
	</div>
</div>
    
<!--- Onsite Seminars  ---->
<div class="education_blog_text">
	<div class="container">Do you have a new LiteGait® in your facility? Do you have new staff to train? Do you want to improve LiteGait and/or any other mobility research product use by increasing clinician "know-how"?</div>
</div>
<div class="education_img_block">
	<img src="/assets/images/education_img_block3.jpg" alt="Workshops">
	<div class="container">
		<h2 class="education_img_title">ONSITE SEMINARS <small>Variety of topics | Easy to schedule | Affordable to attend</small></h2>
	</div>
</div>
    
<!--- Clinical Support  ---->
<div class="education_blog_text">
	<div class="container">Hosted, day long seminars on a variety of topics. Independent educators and therapists make findings relevant to current clinical care.</div>
</div>
<div class="education_img_block">
	<img src="/assets/images/education_img_block4.jpg" alt="Workshops">
	<div class="container">
		<h2 class="education_img_title">CLINICAL SUPPORT <small>Ask a PT | get clinical tips</small></h2>
	</div>
</div>
<div class="education_lastblog_text">
	<div class="container">Opportunity to speak to a Physical Therapist about LiteGait® usage, or to ask questions about treatment with a particular client. This page will help you find the answers to your clinical support questions</div>
</div>

<!--- Blog Testimonial ---->
<div class="blog_testimonial">
    <div class="container">    
        <div class="row">
            <div class="col-md-4">
            	<!-- https://developers.facebook.com/docs/plugins/page-plugin -->
            	<div class="fb-page" data-href="https://www.facebook.com/litegait/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/litegait/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/litegait/">LiteGait</a></blockquote></div>
                
            </div>
            <div class="col-md-8">
                <div class="testimonial_outer">      
                   <div class="testimonial_outer_heading">          
                    <p>Don't just take our word for it, take a look at what our customers have to say.</p>
                    <h3>What Our Customers Are Saying</h3>
                   </div>
                    <div class="testimonial_slider">
                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner text-center">
                            <!-- Quote 1 -->
                            <div class="item" *ngFor="let testimonial of this.testimonials;let myIndex = index" [class.active]="myIndex==0">
                                <div class="testimonial_text">
                                    <p>{{testimonial.feedback}}
                                        <span>{{testimonial.facility}}</span></p>
                                </div>
                            </div>                           
                        </div>
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                        	<li *ngFor="let testimonial of testimonials;let myIndex = index" [class.active]="myIndex==0" data-target="#quote-carousel" attr.data-slide-to="{{myIndex}}">
                        		<img src="{{env.serverUrl+env.galleryDir+testimonial.image}}" alt="" />
                        	</li>	                            
                        </ol>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-newsletter></app-newsletter>