extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/news/add') Add News
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Title</th>
			<th>Exipry Date</th>
			<th>Short Description</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if news.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each nws in news
				<tr>
					<td>#{i++}</td>					
					<td>#{nws.title}</td>
					<td>#{nws.expire_date.toDateString()}</td>
					<td>#{nws.short_description}</td>
					<td>!{(nws.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(nws.updated_at)}</td>
					<td>
					if nws.status == 1
						<a href="/admin/news/status/#{nws._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/news/status/#{nws._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/news/edit/#{nws._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/news/delete/#{nws._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>