extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/testimonials/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
					<option value="">Select Type</option>
					<option value="trainings" !{getOld(reqBody,'type') == 'trainings' ? 'selected' : ''}>Trainings</option>
					<option value="inservices" !{getOld(reqBody,'type') == 'inservices' ? 'selected' : ''}>In Services</option>
					<option value="products" !{getOld(reqBody,'type') == 'products' ? 'selected' : ''}>Products</option>
					<option value="service" !{getOld(reqBody,'type') == 'service' ? 'selected' : ''}>Service</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">About Who</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Client Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Facility</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="facility" placeholder="Enter Facility Name" value="!{getOld(reqBody,'facility')}">
					<span>!{getError(errors,'facility')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Client Image <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'image')}" readonly="">					
					</div>
					<span>!{getError(errors,'image')} </span>
					<img src="/gallery#{reqBody.image}" style="width:100px;height:100px;"/>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Feedback <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<textarea class="form-control" id="feedback" name="feedback" placeholder="Enter Feedback" rows="5">!{getOld(reqBody,'feedback')}</textarea>
					<span>!{getError(errors,'feedback')} </span>	
				</div>
			</div>	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Home Page</label>
				<div class="col-sm-10">
					<input type="checkbox" class="form-control1" id="home_page" name="home_page" value="1" style="width:20px;height:20px" !{getOld(reqBody,'home_page') == 1 ? 'checked' : ''}>					
				</div>
			</div>					

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/testimonials/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>