extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/testimonials/add') Add Testimonial
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Type</th>
			<th>About Who</th>
			<th>Facility Name</th>
			<th>Image</th>
			<th>Feedback</th>
			<th>Show On</th>
			<th>Status</th>		
			<th>Created</th>
			<th width="130px">Action</th>
			</tr>
			</thead>
			<tbody>
			if testimonials.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each testimonial in testimonials
				<tr>
					<td>#{i++}</td>					
					<td>#{testimonial.type}</td>
					<td>#{testimonial.name}</td>
					<td>#{testimonial.facility}</td>
					<td>
					if(testimonial.image =="")
						span N/A
					else
						img(src='/gallery/'+testimonial.image style="width:100px;")
					</td>
					<td>#{testimonial.feedback}</td>
					<td>!{(testimonial.home_page == 1) ? "<span class='text-success'>Home Page</span>" : ""}</td>
					<td>!{(testimonial.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(testimonial.updated_at)}</td>
					<td>
					if testimonial.status == 1
						<a href="/admin/testimonials/status/#{testimonial._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/testimonials/status/#{testimonial._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/testimonials/edit/#{testimonial._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/testimonials/delete/#{testimonial._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>