extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/distributors/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Region <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="region" name="region">
						each region in regions
							<option  value="#{region.code}">#{region.name}</option>

					</select>
					<span>!{getError(errors,'region')} </span>	
				</div>
			</div>

			
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Address <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<textarea class="form-control" id="address" name="address" placeholder="Enter Address" rows="5">!{getOld(reqBody,'address')}</textarea>
					<span>!{getError(errors,'address')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">National Distributor</label>
				<div class="col-sm-10">
					<input type="checkbox" class="form-control1" id="national" name="national" value="1" style="width:20px;height:20px" !{getOld(reqBody,'national') == 1 ? 'checked' : ''}>					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Certified Distributor</label>
				<div class="col-sm-10">
					<input type="checkbox" class="form-control1" id="certified" name="certified" value="1" style="width:20px;height:20px" !{getOld(reqBody,'certified') == 1 ? 'checked' : ''}>					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">High level of product range</label>
				<div class="col-sm-10">
					<input type="checkbox" class="form-control1" id="high_level_product" name="high_level_product" value="1" style="width:20px;height:20px" !{getOld(reqBody,'high_level_product') == 1 ? 'checked' : ''}>					
				</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/distributors/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>