extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/distributors/add') Add Distributor
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Region</th>
			<th>Name</th>
			<th>Address</th>
			<th>National Distributor</th>
			<th>Certified Distributor</th>
			<th>High level of product range</th>
			<th>Status</th>		
			<th>Created</th>
			<th width="130px">Action</th>
			</tr>
			</thead>
			<tbody>
			if distributors.length==0
				<tr><td colspan="10">No Data Found!</td></tr>				


			- var i = 1
			each distributor in distributors
				<tr>
					<td>#{i++}</td>					
					<td>#{distributor.region}</td>
					<td>#{distributor.name}</td>
					<td>#{distributor.address}</td>					
					<td>!{(distributor.national == 1) ? "<span class='text-success'>Yes</span>" : ""}</td>
					<td>!{(distributor.certified == 1) ? "<span class='text-success'>Yes</span>" : ""}</td>
					<td>!{(distributor.high_level_product == 1) ? "<span class='text-success'>Yes</span>" : ""}</td>
					<td>!{(distributor.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(distributor.updated_at)}</td>
					<td>
					if distributor.status == 1
						<a href="/admin/distributors/status/#{distributor._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/distributors/status/#{distributor._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/distributors/edit/#{distributor._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/distributors/delete/#{distributor._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>