extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/tags/add') Add Tag
			a.btn.btn-primary.btn-md(href='/admin/tags/export_in_excel' class="pull-right") Export Excel
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Name</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if tags.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each tag in tags
				<tr>
					<td>#{i++}</td>					
					<td>#{tag.name}</td>
					<td>!{(tag.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(tag.updated_at)}</td>
					<td>
					if tag.status == 1
						<a href="/admin/tags/status/#{tag._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/tags/status/#{tag._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/tags/edit/#{tag._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/tags/delete/#{tag._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>