extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/coupons/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Coupon Code <span class="text-danger">*</span></label>
				<div class="col-sm-8">					
					<div class="input-group input-group-sm">
						<input class="form-control" placeholder="Enter Coupon Code" name="code" id="code" value="!{getOld(reqBody,'code')}"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary btn-lrg ajax gen_code" title="Ajax Request"><i class="fa fa-refresh"></i>&nbsp; Get Code</button>
						</span>
					</div>
					<span>!{getError(errors,'code')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Discount Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
					<option value="">Select Discount Type</option>
					<option value="fix" !{getOld(reqBody,'type') == 'fix' ? 'selected' : ''}>Fix Discount</option>
					<option value="percent" !{getOld(reqBody,'type') == 'percent' ? 'selected' : ''}>Percent Discount</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>

			<div class="form-group amountdiv">
				<label class="control-label col-sm-2" for="email">Amount <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control" id="amount" name="amount" placeholder="Enter Amount" value="!{getOld(reqBody,'amount') != 'null' ? getOld(reqBody,'amount') : ''}">
					</div>	
					<span>!{getError(errors,'amount')} </span>	
				</div>
			</div>

			<div class="form-group percentdiv" style="display:none">
				<label class="control-label col-sm-2" for="email">Percent <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon">%</span>
						<input type="text" class="form-control" id="percent" name="percent" placeholder="Enter Percent" value="!{getOld(reqBody,'percent') != 'null' ? getOld(reqBody,'percent') : ''}">
					</div>	
					<span>!{getError(errors,'percent')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Min. Cart Amount</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control" id="min" name="min" placeholder="Min. Cart Amount" value="!{getOld(reqBody,'min') != 'null' ? getOld(reqBody,'min') : ''}">
					</div>	
					<span>!{getError(errors,'min')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Max. Discount</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="text" class="form-control" id="max" name="max" placeholder="Enter Max. Discount" value="!{getOld(reqBody,'max') != 'null' ? getOld(reqBody,'max') : ''}">
					</div>	
					<span>!{getError(errors,'max')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Expiry Date <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control datepicker" id="expire" name="expire" placeholder="Select Expire Date" value="!{getOld(reqBody,'expire')}">
					<span>!{getError(errors,'expire')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Applied On</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="applied_on" name="applied_on" multiple>
						<option value="">Select Type</option>
						<option value="category" !{getOld(reqBody,'applied_on','','string').includes('category') == true ? 'selected' : ''}>Category</option>				
						<option value="product" !{getOld(reqBody,'applied_on','','string').includes('product') == true ? 'selected' : ''}>Product</option>					
						<option value="parts" !{getOld(reqBody,'applied_on','','string').includes('part') == true ? 'selected' : ''}>Part</option>			
						<option value="accessories" !{getOld(reqBody,'applied_on','','string').includes('accessories') == true ? 'selected' : ''}>Accessories</option>		
						<option value="webinar" !{getOld(reqBody,'applied_on','','string').includes('webinar') == true ? 'selected' : ''}>Webinar</option>					
						<option value="seminar" !{getOld(reqBody,'applied_on','','string').includes('seminar') == true ? 'selected' : ''}>Seminar</option>	
					</select>									
				</div>
			</div>

			<div class="form-group">				
				<label class="control-label col-sm-2" for="email">Category</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="category" name="category" multiple>
					<option  value="" >Select Category </option>						
						each category in categories
							if(category.parent_id == 0)
								<option  value="#{category._id}" !{getOld(reqBody,'category','','string').toString().indexOf(category._id) != -1 ? 'selected' : ''}>#{category.name}</option>
							each category2 in categories
								if(category2.parent_id == category._id)
									<option  value="#{category2._id}" !{getOld(reqBody,'category','','string').toString().indexOf(category2._id) != -1 ? 'selected' : ''}>&nbsp;&nbsp;&nbsp;--#{category2.name}</option>
					</select>
					<span>!{getError(errors,'category')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Single Time Per User</label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="single_use" name="single_use" value="1" style="width:16px;height:16px" !{getOld(reqBody,'single_use') == 1 ? 'checked' : ''}>
					<span>!{getError(errors,'single_use')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Coupon User</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="users" name="users" multiple>
					<option value="">Select User</option>
					each user in users
						<option value="#{user._id}" !{getOld(reqBody,'users','','string').toString().indexOf(user._id) != -1 ? 'selected' : ''}>#{user.name+' - '+user.email}</option>
					</select>					
				</div>
			</div>

			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Coupon Product/Part/Webinar</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="products" name="products" multiple>
					<option value="">Select Discount Type</option>
					each product in allproducts
						if(product.name) 
							<option value="#{product._id}" !{getOld(reqBody,'products').includes(product._id) == true ? 'selected' : ''}>#{product.name}</option>
						if(product.title) 
							<option value="#{product._id}" !{getOld(reqBody,'products').includes(product._id) == true ? 'selected' : ''}>#{product.title}</option>
					</select>					
				</div>
			</div>-->

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/coupons/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>


	script.
		$(document).ready(function (){			

			$('#type').change(function (){
				var id = $(this).val();				
				if(id=='fix')
				{
					$('div.amountdiv').slideDown();
					$('div.percentdiv').slideUp();
				}
				else
				{
					$('div.amountdiv').slideUp();
					$('div.percentdiv').slideDown();
				}
				
		   });

		   	$('.gen_code').click(function (){
		   		$('input#code').val(randomString(6));
		   	});

		   

		   	function randomString(len, charSet) {
			    charSet = charSet || '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ';
			    var randomString = '';
			    for (var i = 0; i < len; i++) {
			        var randomPoz = Math.floor(Math.random() * charSet.length);
			        randomString += charSet.substring(randomPoz,randomPoz+1);
			    }
			    return randomString;
			}

		});	