extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/coupons/add') Add Discount Coupon
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Title</th>
			<th>Code</th>
			<th>Type</th>
			<th>Amount/Percent</th>
			<th>Expire Date</th>
			<th>Applied On</th>
			<th>Single Use</th>
			<th>Status</th>		
			<th>Created</th>
			<th width="130px">Action</th>
			</tr>
			</thead>
			<tbody>
			if coupons.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each coupon in coupons
				<tr>
					<td>#{i++}</td>					
					<td>#{coupon.title}</td>
					<td>#{coupon.code}</td>
					<td>#{coupon.type}</td>
					<td>#{(coupon.type=='fix')?'$'+coupon.amount:'%'+coupon.percent}</td>
					<td>#{coupon.expire ? coupon.expire.toDateString() : ''}</td>
					<td>#{coupon.applied_on}</td>
					<td>#{(coupon.single_use==1)?'Yes':'No'}</td>					
					<td>!{(coupon.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(coupon.updated_at)}</td>
					<td>
					if coupon.status == 1
						<a href="/admin/coupons/status/#{coupon._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/coupons/status/#{coupon._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/coupons/edit/#{coupon._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/coupons/delete/#{coupon._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>