<app-pinkbar page="part" *ngIf="this.type=='parts'"></app-pinkbar>
<app-pinkbar page="accessories" *ngIf="this.type=='accessories'"></app-pinkbar>

<div id="content">
    <div class="product_page">
        <div class="container">         
            <div class="pagehead"><h2><span>{{this.pageTitle}} <span *ngIf="this.product"> For {{this.product.name}}</span></span></h2></div> 

            <div class="row">        
                <!--<div class="col-dm-12 col-md-3" *ngIf="this.category == null">-->
                <div class="col-dm-12 col-md-3">
                    <div class="left_sidebar service_shop_sidebar">
                        <!--<h5>Filters <a routerLink="/parts">Clear All</a></h5>-->
                        <ul> 
							<ng-container *ngIf="this.is_product=='product'">
                            	<li><a routerLink="/parts">All Parts</a> </li>
                            </ng-container>
                            <!--<li *ngFor="let category1 of this.categories" [class.active]="category1.slug == this.category">-->
                            <li *ngFor="let category1 of this.categories">
                            	<a *ngIf="category1.parent_id==0 && category1.type=='parts'" routerLink="/parts/{{category1.slug}}" routerLinkActive="active"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span> {{category1.name}}</a>
                            	<a *ngIf="category1.parent_id==0 && category1.type=='accessories'" routerLink="/accessories/{{category1.slug}}" routerLinkActive="active"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span> {{category1.name}}</a>

                            	<ng-container *ngFor="let category2 of this.categories" [class.active]="category2.slug == this.category">
                            		<a *ngIf="category2.parent_id==category1._id && category2.type=='parts'" routerLink="/parts/{{category2.slug}}" routerLinkActive="active"><span><img src="assets/images/arrow-sidebar.png" alt="" style="margin-left: 25px" /> </span> {{category2.name}}</a>
                            		<a *ngIf="category2.parent_id==category1._id && category2.type=='accessories'" routerLink="/accessories/{{category2.slug}}" routerLinkActive="active"><span><img src="assets/images/arrow-sidebar.png" alt="" style="margin-left: 25px"/> </span> {{category2.name}}</a>
                            	</ng-container>
                            </li>  
                                             
                        </ul>                        
                        <ul>
                            <li *ngIf="this.type=='accessories'"><a routerLink="/parts"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Parts</a> </li>                            
                            <li *ngIf="this.type=='parts'"><a routerLink="/accessories"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Accessories</a> </li>

                            <li *ngIf="this.type=='parts'"><a href="https://meetings.hubspot.com/joel144/device-check" target="_blank"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Schedule a Service Call</a> </li>
                            <li *ngIf="this.type=='parts'"><a routerLink="/page/service-contact-us"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Create a Service Ticket</a> </li>

                            <ng-container *ngIf="this.is_product=='product'">                            	
                            	<li><a routerLink="/product/{{this.category}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Back</a> </li>
                            </ng-container>
                        </ul>

                    </div>
                </div>
       			<!--<div class="col-dm-12 boxline1"  [class.boxline]="this.category == null" [class.col-md-12]="this.category != null" [class.col-md-9]="this.category == null">       -->
       			<div class="col-dm-12 boxline col-md-9">       
                
    		        <div class="product_grid_icon grid_view_icon">
    		         
    		           <div class="product_grid_select">
    		                <!--<div class="view_icon_outer"><span>View By </span> <a href="#"><i class="fas fa-th"></i></a><a href="#" class="active"><i class="fas fa-list"></i></a></div>-->

    		                <i class="fa fa-filter btn-lg " aria-hidden="true"></i>                
    		                <div class="product_sort_select" style="width: 40%">
    		                    <label>Search by</label>
    		                    <input class="form-control" [(ngModel)]="keyword" placeholder="Search by Keyword"/>
    		                </div>
    		                <div class="product_sort_select" style="width: 40%">
    		                    <label>Sort by</label>
    		                    <select class="form-control" [(ngModel)]="orderByType">                        
    		                        <option [ngValue]="false">Part Name:  A to Z</option>
    		                        <option [ngValue]="true">Part Name:  Z to A</option>                        
    		                    </select>
    		                </div>            
    		            </div>                   
    		            <!-- <span class="show_number"> Showing {{ (this.p - 1) * this.itemsPerPage + 1 }} - {{ this.p * this.itemsPerPage }} of {{ this.filterMetadata.count }} items</span> -->            
                        <span class="show_number view_icon_outer"> <a  href="javascript:void(0);" [ngClass]="!show?'active':''" (click)="onbtnClick('grid')"><i class="fas fa-th"></i></a><a  href="javascript:void(0);"  [ngClass]="show?'active':''"   (click)="onbtnClick('list')"><i class="fas fa-list"></i></a></span>
    		        </div>           
                
    		        <div class="select_product_outer service_part_product">

    		        	<p *ngIf="this.parts == ''">No Parts Found!</p>     
    		         
    		        	<!-- <div class="product_search_slider select_product_slider">
    		                
    		              	<div class="col-xs-6 col-sm-6 col-md-4" *ngFor="let part of this.parts | stringfilter: {name: keyword, short_description: keyword} : false : filterMetadata | orderBy:'position' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">

    		              		<div class="item">
                                    <div class="crouserl_img">
                                        <div class="crousel_img">
                                            <img src="{{env.serverUrl+env.galleryDir+part.image}}" alt="" />
                                        </div>
                                        <div class="product_content">
                                            <h4><a routerLink="/part/{{part.slug}}">{{part.name}}</a></h4>
                                            <div class="part_desc" [innerHTML]="part.short_description | safeHtml"> </div>
                                        </div>
                                        <div class="rate_cart" *ngIf="part.price_request==0">
                                            <span class="price">${{part.price| number : '1.2-2'}}</span>
                                            <a routerLink="/part/{{part.slug}}"><i class="fas fa-cart-plus"></i> Add to cart</a>
                                        </div>

                                        <div class="rate_cart" *ngIf="part.price_request==1">
                                            <span class="price">&nbsp;</span>
                                            <a routerLink="/part/{{part.slug}}"><i class="fas fa-mail-bulk"></i> Request Quote</a>
                                        </div>

                                    </div>
                                </div>
    		            	</div> 

    		            </div> -->     
                        <div class="accessory_cotent">        
                        <div class="row" *ngIf="show">
                            <div class="col-sm-12">
                                <ul class="accessory_list">
                                    <li    *ngFor="let part of this.parts | stringfilter: {name: keyword, short_description: keyword, sno: keyword} : false : filterMetadata | orderBy:'position' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
                                        <div class="accessory_image">
                                           <a routerLink="/part/{{part.slug}}"> <img src="{{env.serverUrl+env.galleryDir+part.image}}" alt="" /> </a>
                                        </div>
                                        <div class="accessory_content">
                                           <a routerLink="/part/{{part.slug}}"> <h2> {{part.name}}</h2></a>

                                            <div class="part_desc" [innerHTML]="part.short_description | safeHtml"> </div>

                                            <p class="price"  *ngIf="part.price_request==0">${{part.price| number : '1.2-2'}}</p>

                                            <p class="accessory_liink">
	                                            <a  routerLink="/part/{{part.slug}}" class="read_btn a_btn">Read more</a>

	                                            <a  routerLink="/request_quote/part/{{part.slug}}" *ngIf="part.price_request==1" class="read_btn a_btn accessory_buy_btn">Request Quote</a>

	                                            <a  *ngIf="part.price_request==0" class="addcart read_btn a_btn accessory_buy_btn" attr.data-id="{{part._id}}" attr.data-name="{{part.name}}" attr.data-price="{{part.price}}"attr.data-image="{{part.image}}" attr.data-slug="{{part.slug}}" attr.data-category="{{part.category._id}}" attr.data-ptype="{{part.type}}"> Add to cart</a>
                                        	</p>
                                        </div>
                                    </li>
                                </ul>
                           </div>
                        </div>   

                        <div class="row"  *ngIf="!show">
                            <div class="col-sm-12 product_search_slider select_product_slider">
                                <div class="col-xs-6 col-sm-6 col-md-4" *ngFor="let part of this.parts | stringfilter: {name: keyword, short_description: keyword, sno: keyword} : false : filterMetadata | orderBy:'position' : this.orderByType | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }">
                                    <div class="item">
                                        <div class="crouserl_img">
                                            <div class="crousel_img">
                                               <a routerLink="/part/{{part.slug}}">  <img src="{{env.serverUrl+env.galleryDir+part.image}}" alt="" /> </a>
                                            </div>
                                            <div class="product_content">
                                                <h4><a routerLink="/part/{{part.slug}}">{{part.name}}</a></h4>
                                                <div class="part_desc" [innerHTML]="part.short_description | safeHtml"> </div>
                                            </div>
                                            <div class="rate_cart" *ngIf="part.price_request==0">
                                                <span class="price">${{part.price| number : '1.2-2'}}</span>
                                                <a href="javascript:void(0);"  class="addcart a_btn" attr.data-id="{{part._id}}" attr.data-name="{{part.name}}" attr.data-price="{{part.price}}"attr.data-image="{{part.image}}" attr.data-slug="{{part.slug}}" attr.data-category="{{part.category._id}}" attr.data-ptype="{{part.type}}"><i class="fas fa-cart-plus"></i> Add to cart</a>
                                            </div>
                                            <div class="rate_cart" *ngIf="part.price_request==1">
                                                <span class="price">&nbsp;</span>
                                                <a routerLink="/request_quote/part/{{part.slug}}" class="a_btn"><i class="fas fa-mail-bulk"></i> Request Quote</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        </div>
    		            <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>            

    		        </div> <!-- end select_product_outer -->
    		    </div>    <!-- end boxline --> 

    		</div>
        </div>   
    </div>
</div>