<div class="extended">
    <div class="extended-sub">
		<span class="web_calendar"> <img src="assets/images/icon-calendar.png" alt=""> </span>
        <div class="titlebox">
           Extended Learning Package
        </div>
        <div class="text-center unlimited">
            <img src="assets/images/lock.png" alt="" />
            <p>Unlimited Access to the Full Webinar Library One full year of CE One low price</p>
        </div>

        <div class="pricecheck" *ngFor="let elp of elps">
            <input type="checkbox" (click)="goToPayment(elp._id,elp.price)">
            <strong>{{elp.display_name}}</strong><span class="subheading"><i>{{elp.display_sub_name}}</i></span>
        </div>
    </div>
</div>
<style type="text/css">
    .subheading { color: #8e908f; }
</style>