<!DOCTYPE html>
<html lang="en">
	<head>		
		<title>#{title}</title>
		<link rel="stylesheet" href="/css/admin/bootstrap.min.css">  
		<link rel="stylesheet" href="/css/admin/font-awesome.min.css">
		<link rel="stylesheet" href="/css/admin/ionicons.min.css">
		<link rel="stylesheet" href="/css/admin/AdminLTE.min.css"> 
		<link rel="stylesheet" href="/css/admin/skin-blue.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="/css/admin/style.css"> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

		<script src="/js/admin/jquery.min.js"></script>			
		<script src="/js/admin/bootstrap.min.js"></script>
		<script src="/js/admin/adminlte.min.js"></script>		
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
		<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
		<script src="/js/admin/admin.js"></script>	
	</head>  	

	body.hold-transition.login-page
		div#wrapper
			div#content-wrapper
				div.container-fluid
					
					- var messages = getMessages()
					if messages.success
						each msg in messages.success
							.alert.alert-success= msg
					if messages.error
						each msg in messages.error
							.alert.alert-danger= msg

					block content		
</html>    