<!DOCTYPE html>
<html lang="en">
	<head>		
		<title>#{title}</title>
		<link rel="icon" type="image/x-icon" href="/img/admin/logo.png">
		<link rel="stylesheet" href="/css/admin/bootstrap.min.css">  
		<link rel="stylesheet" href="/css/admin/font-awesome.min.css">
		<link rel="stylesheet" href="/css/admin/ionicons.min.css">
		<link rel="stylesheet" href="/css/admin/AdminLTE.min.css"> 
		<link rel="stylesheet" href="/css/admin/skin-blue.min.css">
		<link rel="stylesheet" href="/css/admin/jquery.simple-dtpicker.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">		
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="/css/admin/style.css"> 

		<script src="/js/admin/jquery.min.js"></script>			
		<script src="/js/admin/bootstrap.min.js"></script>
		<script src="/js/admin/adminlte.min.js"></script>
		<script src="/js/admin/jquery.simple-dtpicker.js"></script>	
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
		<!-- <script src="//cdn.ckeditor.com/4.10.0/full/ckeditor.js"></script> -->
		<script src="/js/admin/ckeditor/ckeditor.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/js/admin/jquery.blockUI.js"></script>
		<script src="/js/admin/admin.js"></script>

		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>	 -->
		<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
	</head> 
	
	body.hold-transition.skin-blue.sidebar-mini

		include ../partials/admin/header

		include ../partials/admin/nav

		div.content-wrapper
			section.content.container-fluid
				
				- var messages = getMessages()
				if messages.success
					each msg in messages.success
						.alert.alert-success= msg
				if messages.error
					each msg in messages.error
						.alert.alert-danger= msg

				block content

		include ../partials/admin/footer
</html>  
