extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/staticpages/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Body <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language,index in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="body_#{language.code}" name="body[#{language.code}]" placeholder="Enter Body">
								each lang_content in reqBody.lang_content
									if lang_content.lang == language.code
										span #{lang_content.body}										
								</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'body')} </span>
				</div>
			</div>	<!-- end body -->	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Banner Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="banner_image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="banner_image" class="form-control" type="text" name="banner_image" value="!{getOld(reqBody,'banner_image')}" >					
					</div>					
					<span>!{getError(errors,'banner_image')} </span>
					if reqBody.banner_image
						<img src="/gallery#{reqBody.banner_image}" style="width:100px;margin-top:10px"/>
				</div>
			</div>
			



			<fieldset>
				<legend>Testimonial</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Testimonials</label>
					<div class="col-sm-8">
						<select class="form-control select2" id="testimonials" name="testimonials" multiple>
						<option  value="" >Select Testimonials</option>
							each testimonial,key in testimonials
								<option  value="#{key}" !{getOld(reqBody,'testimonials','','string').indexOf(key) !== -1 ? 'selected' : ''}>#{testimonial}</option>
						</select>						
					</div>
				</div>
			</fieldset>	

			<fieldset>
				<legend>Meta Info</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Enter Meta Title" value="!{getOld(reqBody,'meta_title')}">						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" value="!{getOld(reqBody,'meta_description')}">						
					</div>
				</div>
			</fieldset>		

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/staticpages/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

		each language,index in activeLanguage
			script.
				CKEDITOR.replace('body_#{language.code}', {
						filebrowserBrowseUrl: '/Filemanager/',
						extraAllowedContent  : true,
						allowedContent : true,
					});
		
			
