extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/staticpages/add') Add Static Page
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Slug</th>
			<th>Title</th>		
			<th>Meta Title</th>
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if staticpages.length==0
				<tr><td colspan="5">No Data Found!</td></tr>				


			- var i = 1
			each staticpage in staticpages
				<tr>
					<td>#{i++}</td>					
					<td>#{staticpage.slug}</td>
					<td>#{staticpage.title}</td>
					<td>#{staticpage.meta_title}</td>					
					<td>#{showDate(staticpage.updated_at)}</td>
					<td>
					<a href="/admin/staticpages/view/#{staticpage._id}" class="btn btn-xs btn-primary">View</a>&nbsp;&nbsp;
					<a href="/admin/staticpages/edit/#{staticpage._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/staticpages/delete/#{staticpage._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>