extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/staticpages/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Title</label>
				<div class="col-sm-8">#{reqBody.title}</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Slug</label>
				<div class="col-sm-8">#{reqBody.slug}</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Body <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix" style="border:1px solid #CCC;padding:0px 10px;">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">
								
								each lang_content in reqBody.lang_content
									if lang_content.lang == language.code
										span !{lang_content.body}																		
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'body')} </span>
				</div>
			</div>	<!-- end body -->

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Meta Title</label>
				<div class="col-sm-8">#{reqBody.meta_title}</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Meta Description</label>
				<div class="col-sm-8">#{reqBody.meta_description}</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">					
					<a href="/admin/staticpages/list" class="btn btn-info">Back</a>
				</div>
			</div>
		</form>