<app-pinkbar page="seminar"></app-pinkbar>
<div id="content">
    <div class="container"> 
    	<div class="col-xs-12 seminartop" [innerHTML]="this.seminarTopText.body"></div>
    	<div class="pagehead"><h2><span>Seminars</span></h2></div>    	
        <div class="news_content">            
            <ul class="seminarlist">
                <li *ngFor="let seminar of this.seminars | paginate: { itemsPerPage : this.itemsPerPage, currentPage: this.p }" >
                   	<div class="news_image" *ngIf="seminar.image">
                        <!--<img src="{{env.serverUrl+env.galleryDir+seminar.speaker_id[0].image}}" alt="" style="width:300px;height:225px"/>-->
                        <img src="{{env.serverUrl+env.galleryDir+seminar.image}}" alt="" style="max-height: 250px" />
                    </div>
                    <div class="new_content" style="width:100%">
                        <h4>{{seminar.title}}</h4>
                        <h6> <span *ngIf="seminar.price>=1"><i>Price : </i> <a>${{seminar.price}}</a> &nbsp;&nbsp;&nbsp;</span><i>Instructor : </i> <a routerLink="/instructor/{{seminar.speaker_id[0].slug}}">{{seminar.speaker_id[0].name}}</a></h6>
                        <div class="cat_dis1" [innerHTML]="seminar.description | slice:0:300 | safeHtml"></div>
                        <a routerLink="/seminar/{{seminar.slug}}" class="news_btn">View More</a>
                    </div>
                </li>               
            </ul>
            <pagination-controls (pageChange)="p = $event" class="pagination_dev"></pagination-controls>           
        </div>      
    </div> 
</div>