extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/quote_form/view/#{product_id}/#{type}" class="btn btn-success btn-sm">Back</a></li>

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">

			<input type="hidden" name="product_id" value="!{getOld(reqBody,'product_id')}">
					
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Input Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
						<option  value="">Select Type</option>
						<option  value="textbox" !{getOld(reqBody,'type') == 'textbox' ? 'selected' : ''}>Text Box</option>
						<option  value="textarea" !{getOld(reqBody,'type') == 'textarea' ? 'selected' : ''}>Text Area</option>
						<option  value="selectbox" !{getOld(reqBody,'type') == 'selectbox' ? 'selected' : ''}>Select Box</option>
						<option  value="checkbox" !{getOld(reqBody,'type') == 'checkbox' ? 'selected' : ''}>Check Box</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Input Title <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="!{getOld(reqBody,'title')}">
					<span>!{getError(errors,'title')} </span>	
				</div>
			</div>

			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>-->

			<div class="form-group texareadiv" style="display:!{(reqBody.type == 'selectbox')?'block':'none'}">
				<label class="control-label col-sm-2" for="email">Options <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<textarea class="form-control" id="options" name="options" placeholder="Enter Options(seperate option by semicolon(;))" value="!{getOld(reqBody,'options')}" rows="5">!{getOld(reqBody,'options')}</textarea>
					<span>!{getError(errors,'options')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Placeholder Text</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="placeholder" name="placeholder" placeholder="Enter Placeholder Text" value="!{getOld(reqBody,'placeholder')}">					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Required</label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="required" name="required" value="1" !{getOld(reqBody,'required') == 1 ? 'checked' : ''} style="width:16px;height:16px;">					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Show Position</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="position" name="position" placeholder="Enter Position Number" value="!{getOld(reqBody,'position')}">
					<span>!{getError(errors,'position')} </span>	
				</div>
			</div>

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/quote_form/view/#{product_id}/#{type}" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

	script.
		$(document).ready(function (){			
			$('#type').change(function (){
				var id = $(this).val();				
				if(id=='selectbox')
				{
					$('div.texareadiv').show();
				}
				else
				{
					$('div.texareadiv').hide();
				}
				
		   });

		});
			