extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/forms/add') Add Form
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Slug</th>
			<th>Title</th>					
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if forms.length==0
				<tr><td colspan="5">No Data Found!</td></tr>				


			- var i = 1
			each form in forms
				<tr>
					<td>#{i++}</td>					
					<td>#{form.slug}</td>
					<td>#{form.title}</td>					
					<td>#{form.updated_at.toDateString()}</td>
					<td>
					<a href="/admin/forms/view/#{form._id}" class="btn btn-xs btn-primary">View</a>&nbsp;&nbsp;
					<a href="/admin/forms/edit/#{form._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/forms/delete/#{form._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>