extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			if(type=='parts')
				<li><a href="/admin/parts/list" class="btn btn-success btn-sm">Back</a></li>	
			else
				<li><a href="/admin/products/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">			

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">					
				</div>
				<div class="col-sm-2">#1</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Email <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">					
				</div>
				<div class="col-sm-2">#2</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Phone <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phone Number">					
				</div>
				<div class="col-sm-2">#3</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Message <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<textarea class="form-control" id="message" name="message" placeholder="Enter Your Message" rows="3"></textarea>	
				</div>
				<div class="col-sm-2">#4</div>
			</div>
			each result in results
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">#{result.title} 
					if result.required == 1
						<span class="text-danger">*</span>
						
					</label>
					<div class="col-sm-8">
						if(result.type=='textbox')
							<input type="number" class="form-control" id="phone" name="phone" placeholder="#{result.placeholder}">			
						else if(result.type=='textarea')
							<textarea class="form-control" id="message" name="message" placeholder="#{result.placeholder}" rows="3"></textarea>
						else if(result.type=='selectbox')
							<select class="form-control" id="type" name="type">
							<option  value="">Select Type</option>							
							-var vals=result.options.split(';')
							each val in vals
								<option  value="#{val}">#{val}</option>
								//-var arr=val.split(':')
								//<option  value="#{arr[1]}">#{arr[1]}</option>
							</select>	
						else if(result.type=='checkbox')
							<input type="checkbox" class="form-control1" id="phone" name="phone" style="width:16px;height:16px;">		
					</div>
					<div class="col-sm-2">##{result.position}					
					<a href="/admin/quote_form/delete/#{product_id}/#{result._id}/#{type}" class="btn btn-xs btn-danger pull-right">Delete</a>
					<a href="/admin/quote_form/edit/#{result._id}/#{type}" class="btn btn-xs btn-info pull-right" style="margin-right:10px">Edit</a>
					</div>
				</div>


			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">					
					<a href="/admin/quote_form/add/#{product_id}/#{type}" class="btn btn-success">Add New Input</a>
				</div>
			</div>
		</form>