extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/parts/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" encType="multipart/form-data">		

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
					<option value="">Select Type</option>
					<option value="parts" !{getOld(reqBody,'type') == 'parts' ? 'selected' : ''}>Parts</option>
					<option value="accessories" !{getOld(reqBody,'type') == 'accessories' ? 'selected' : ''}>Accessories</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Product</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="product_id" name="product_id" multiple>
						<option  value="">Select Product</option>
						each product in products
							<option  value="#{product._id}">#{product.name}</option>

					</select>
					<span>!{getError(errors,'product_id')} </span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Category <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="category" name="category">
					<option  value="" >Select Category</option>
						each category in categories
							<option  value="#{category._id}" data-type="#{category.type}" !{getOld(reqBody,'category') == category._id ? 'selected' : ''}>#{category.name}</option>
					</select>
					<span>!{getError(errors,'category')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">#ID/Serial Number</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="sno" name="sno" placeholder="Enter Part ID/Serial Number" value="!{getOld(reqBody,'sno')}">
					<span>!{getError(errors,'sno')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Default Image <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'image')}">					
					</div>					
					<span>!{getError(errors,'image')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Gallery Image</label>				
				<div class="col-sm-8 chk">	
					<div class="input-group col-sm-12 add-more-div">				
						if getOld(reqBody,'gallery_image') == ''
							<div class="input-group" style="margin-top:5px;">
								<span class="input-group-btn">
									<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
								</span>	
							<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" readonly="">
							</div>
						else
							if(reqBody.gallery_image.constructor == Array)		
								each val in reqBody.gallery_image
									<div class="input-group" style="margin-top:5px;">
										<span class="input-group-btn">
											<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
										</span>
										<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" value="#{val}" readonly="">	
									</div>
							else
								<div class="input-group" style="margin-top:5px;">
									<span class="input-group-btn">
										<a data-input="gallery_image_1" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
									</span>								
									<input class="form-control" id="gallery_image_1" type="text" name="gallery_image" value="!{reqBody.gallery_image}" readonly="">	
								</div>				
					
					</div>
					<span class="input-group-btn"><a href="javascript:void(0);" class="btn btn-primary add-more"><i class="fa fa-plus"></i></a></span>			
					<span>!{getError(errors,'gallery_image')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Banner Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="banner_image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="banner_image" class="form-control" type="text" name="banner_image" value="!{getOld(reqBody,'banner_image')}">					
					</div>					
					<span>!{getError(errors,'banner_image')} </span>					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Short Description <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_short_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_short_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_short_content_#{language.name}">

								<textarea class="form-control ckeditor" id="short_description" name="short_description[#{language.code}]" placeholder="Enter Short Description" rows="5">!{getOld(reqBody,'short_description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'short_description.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Description <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_content_#{language.name}">

								<textarea class="form-control ckeditor" id="description" name="description[#{language.code}]" placeholder="Enter Description">!{getOld(reqBody,'description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'description.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Video</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="video" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="video" class="form-control" type="text" name="video" value="!{getOld(reqBody,'video')}" >					
					</div>					
					<span>!{getError(errors,'video')} </span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Price Per Unit <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-dollar"></i></span>
						<input type="number" step="any" class="form-control" id="price" name="price" placeholder="Enter Price Per Unit" value="!{getOld(reqBody,'price')}">
					</div>					
					<span>!{getError(errors,'price')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Price on Request <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="price_request" name="price_request" value="1" style="width:20px;height:20px">
					<span>!{getError(errors,'price_request')} </span>	
				</div>
			</div>

			<!--<div class="form-group">
				<label class="control-label col-sm-2" for="email">Service Available</label>
				<div class="col-sm-8">
					<input type="checkbox" class="form-control1" id="schedule_service" name="schedule_service" value="1" style="width:20px;height:20px">
					<span>!{getError(errors,'schedule_service')} </span>	
				</div>
			</div>-->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Related Part</label>
				<div class="col-sm-8">
					<select class="form-control select2" id="related_product" name="related_product" multiple>
					<option  value="" >Select Related Part</option>
						each part in allparts
							<option  value="#{part._id}" !{getOld(reqBody,'related_product').indexOf(part.id) !== -1 ? 'selected' : ''}>#{part.name}</option>
					</select>
					<span>!{getError(errors,'related_product')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Show Position</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="position" name="position" placeholder="Enter Show Position" value="!{getOld(reqBody,'position')}">
					<span>!{getError(errors,'position')} </span>	
				</div>
			</div>

			<fieldset>
				<legend>Testimonial</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Testimonials</label>
					<div class="col-sm-8">
						<select class="form-control select2" id="testimonials" name="testimonials" multiple>
						<option  value="" >Select Testimonials</option>
							each testimonial,key in testimonials
								<option  value="#{key}" !{getOld(reqBody,'testimonials','','string').indexOf(key) !== -1 ? 'selected' : ''}>#{testimonial}</option>
						</select>						
					</div>
				</div>
			</fieldset>	

			<fieldset>
				<legend>Meta Info</legend>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Title</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_title" name="meta_title" placeholder="Enter Meta Title" value="!{getOld(reqBody,'meta_title')}">						
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="title">Meta Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="meta_description" name="meta_description" placeholder="Enter Meta Description" value="!{getOld(reqBody,'meta_description')}">						
					</div>
				</div>
			</fieldset>	

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/parts/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>

		script.
			$("select#type").change(function () {
				var tp= $(this).val();
				$("#category option").show();
				$("#category option[data-type!=" + tp + "]").hide();			   
			});