extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/parts/add') Add Part/Accessories
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>	
			<th>Type</th>	
			<th>Name</th>	
			<th>Product</th>		
			<th>Category</th>					
			<th>Price</th>
			<th>Show Position</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if parts.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each part in parts
				<tr>
					<td>#{i++}</td>					
					<td>#{part.type}</td>
					<td>#{part.name}</td>
					<td>
					if part.product_id	
						each product in part.product_id
							<a href="/admin/products/edit/#{product._id}" target="_blank">#{product.name}</a><br/>

					</td>
					<td>#{part.category.name}</td>					
					<td>!{(part.price_request == 1) ? "<span class='text-success'>Price On Request</span>" : '$'+part.price}</td>
					<td>#{part.position}</td>
					<td>!{(part.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(part.updated_at)}</td>
					<td>
					if part.status == 1
						<a href="/admin/parts/status/#{part._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/parts/status/#{part._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/parts/edit/#{part._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/parts/delete/#{part._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
					<a href="/admin/parts/copy/#{part._id}" class="btn btn-xs btn-success">Copy</a>&nbsp;&nbsp;
					if(part.price_request == 1)
						<a href="/admin/quote_form/view/#{part._id}/parts" class="btn btn-xs btn-success" title="Request Quote Form"><i class="fa fa-wpforms"></i></a>

						
					</td>
				</tr>					
			<tbody>
		</table>
		</div>