
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 sitemap">
                <h5>Sitemap</h5>
                <ul>           
                    <li *ngFor="let menu of this.menu1Data | keyvalue">                    	
                    	<a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}">{{menu.value.name}}</a>
                    </li>                   
                </ul>
            </div>
            
            <div class="col-md-4 login_course">
                <h5>Login to View Your Courses</h5>
                <form>
                   <div class="form-group">
                        <label>E-mail or username</label>
                        <input type="text" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" />
                    </div>
                    <div class="form-group clearfix">
                        <a href="#" class="register">Create new account</a>
                        <a href="#" class="new_pwd">Request new password</a>
                    </div>
                    <button type="submit" value="Log in">Log in</button>
                </form>
            </div>
            
            
            <div class="col-md-4 education_resource">
                <h5>Educational Resources</h5>
                <ul>
                	<li *ngFor="let menu of this.menu2Data | keyvalue">                    	
                    	<a *ngIf="menu.value.type=='page'" routerLink="/page/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='category'" routerLink="/category/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='product'" routerLink="/product/{{menu.value.slug}}">{{menu.value.name}}</a>
                    	<a *ngIf="menu.value.type=='static_url'" routerLink="{{menu.value.slug}}">{{menu.value.name}}</a>
                    </li>                    
                </ul>
            </div>
            
        </div>
    </div>
    <div class="copyright">
       <div class="container">
        <p>Copyright © 2016. LiteGait. All Rights Reserved.</p>
        <div class="social_media">    
            <a routerLink="/blogs" class="live_chat">Our Blogs</a>      
            <ul style="margin-top: 6px;">
                <li *ngIf="env.instagramUrl!=''"><a href="{{env.instagramUrl}}" target="_blank"> <i class="fab fa-instagram"></i> </a></li>
                <li *ngIf="env.facebookUrl!=''"><a href="{{env.facebookUrl}}" target="_blank"> <i class="fab fa-facebook-square"></i> </a></li>
                <li *ngIf="env.twitterUrl!=''"><a href="{{env.twitterUrl}}" target="_blank"> <i class="fab fa-twitter"></i> </a></li>
                <li *ngIf="env.vimeoUrl!=''"><a href="{{env.vimeoUrl}}" target="_blank"> <i class="fab fa-vimeo"></i> </a></li>
                <li *ngIf="env.linkedinUrl!=''"><a href="{{env.linkedinUrl}}" target="_blank"> <i class="fab fa-linkedin-in"></i> </a></li>
                <!--<li *ngIf="env.bingUrl!=''"><a href="{{env.bingUrl}}" target="_blank"> <img src="assets/images/bing.jpg" alt="" /> </a></li>-->
            </ul>
        </div>
    </div>
    </div>
</footer>

