extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/regions/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Region Code <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="code" name="code" placeholder="Enter Language Code" value="!{getOld(reqBody,'code')}">
					<span>!{getError(errors,'code')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Flag Image <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="" readonly="">					
					</div>
					<span>!{getError(errors,'image')} </span>					
				</div>
			</div>		

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/regions/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>