extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/regions/add') Add Region
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>
			<th>Code</th>			
			<th>Name</th>
			<th>Flag</th>			
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if regions.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each region in regions
				<tr>
					<td>#{i++}</td>					
					<td>#{region.code}</td>
					<td>#{region.name}</td>	
					<td><img src="/gallery#{region.image}"/></td>					
					<td>!{(region.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(region.updated_at)}</td>
					<td>
					if region.status == 1
						<a href="/admin/regions/status/#{region._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/regions/status/#{region._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/regions/edit/#{region._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/regions/delete/#{region._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>