extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/categories/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post" >

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Category Type <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select class="form-control" id="type" name="type">
					<option value="">Select Category Type</option>
					<option value="faqs" !{getOld(reqBody,'type') == 'faqs' ? 'selected' : ''}>Faqs</option>
					<option value="product" !{getOld(reqBody,'type') == 'product' ? 'selected' : ''}>Product</option>
					<option value="webinar" !{getOld(reqBody,'type') == 'webinar' ? 'selected' : ''}>Webinar</option>
					<option value="parts" !{getOld(reqBody,'type') == 'parts' ? 'selected' : ''}>Parts</option>
					<option value="accessories" !{getOld(reqBody,'type') == 'accessories' ? 'selected' : ''}>Accessories</option>
					</select>
					<span>!{getError(errors,'type')} </span>	
				</div>
			</div>


			if(reqBody.parent_id != "0")			
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Parent Category <span class="text-danger">*</span></label>
					<div class="col-sm-8">
						<select class="form-control" id="parent_id" name="parent_id">
							<option value="">Select Parent Category</option>
							each category in categories
								<option  value="#{category._id}" data-type="#{category.type}"!{getOld(reqBody,'parent_id') == category._id ? 'selected' : ''}>#{category.name}</option>

						</select>
						<span>!{getError(errors,'parent_id')} </span>	
					</div>
				</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Name <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="title" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Slug <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="slug" name="slug" placeholder="Enter Slug" value="!{getOld(reqBody,'slug')}">
					<span>!{getError(errors,'slug')} </span>	
				</div>
			</div>	

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="image" class="form-control" type="text" name="image" value="!{getOld(reqBody,'image')}" readonly="">					
					</div>					
					<span>!{getError(errors,'image')} </span>
					if(reqBody && reqBody.image)
						<img src="/gallery#{reqBody.image}" style="width:100px;margin-top:10px"/>		
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Banner Image</label>
				<div class="col-sm-8">
					<div class="input-group">
						<span class="input-group-btn">
						<a data-input="banner_image" class="btn btn-primary openfm"><i class="fa fa-picture-o"></i> Choose</a>
						</span>
						<input id="banner_image" class="form-control" type="text" name="banner_image" value="!{getOld(reqBody,'banner_image')}" >					
					</div>					
					<span>!{getError(errors,'banner_image')} </span>
					if reqBody.banner_image
						<img src="/gallery#{reqBody.banner_image}" style="width:100px;margin-top:10px"/>		
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Feature <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_feature_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_feature_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_feature_content_#{language.name}">

								<textarea class="form-control ckeditor" id="feature" name="feature[#{language.code}]" placeholder="Enter Feature" rows="5">!{getOld(reqBody,'feature',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'feature.en')} </span>
				</div>
			</div>	<!-- end body --> 

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Short Description <span class="text-danger">*</span></label>
				<div class="col-sm-10">
					<div id="exTab1" class="container1" style="padding:0px">
						<ul  class="nav nav-pills">
							each language,index in activeLanguage
								if language.code =='en'
									<li class="active">
								else
									<li class="">
										
								<a  href="#lang_short_content_#{language.name}" data-toggle="tab">#{language.name}</a>
								</li> 
						</ul>
						<div class="tab-content clearfix">
							each language in activeLanguage
								if language.code =='en'
									<div class="tab-pane active" id="lang_short_content_#{language.name}">
								else
									<div class="tab-pane" id="lang_short_content_#{language.name}">

								<textarea class="form-control ckeditor" id="short_description" name="short_description[#{language.code}]" placeholder="Enter Short Description" rows="5">!{getOld(reqBody,'short_description',language.code)}</textarea>
								</div>
						</div>						
					</div> <!-- end tab pane container -->	

					<span>!{getError(errors,'short_description.en')} </span>
				</div>
			</div>	<!-- end body -->

			<div class="form-group">
				<label class="control-label col-sm-2" for="email">Show Position</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="position" name="position" placeholder="Enter Show Position" value="!{getOld(reqBody,'position')}">
					<span>!{getError(errors,'position')} </span>	
				</div>
			</div>			

			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/categories/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>