extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/categories/add') Add Category
			|&nbsp;&nbsp;
			a.btn.btn-primary.btn-md(href='/admin/categories/add?subcat=1') Add Sub Category
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>			
			<th>Type</th>
			<th>Name</th>
			<th>Show Position</th>
			<th>Status</th>		
			<th>Created</th>
			<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if categories.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				


			- var i = 1
			each category in categories
				if(category.parent_id == 0)
					<tr>
						<td>#{i++}</td>					
						<td>#{category.type}</td>
						<td>#{category.name}</td>
						<td>#{category.position}</td>
						<td>!{(category.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>						
						<td>#{showDate(category.updated_at)}</td>
						<td>
						if category.status == 1
							<a href="/admin/categories/status/#{category._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
						else
							<a href="/admin/categories/status/#{category._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

						<a href="/admin/categories/edit/#{category._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
						<a href="/admin/categories/delete/#{category._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

					</tr>

					each category2 in categories
						if(category2.parent_id == category._id)
							<tr>
								<td>#{i++}</td>	
								<td>#{category2.type}</td>				
								<td>&nbsp;&nbsp;&nbsp;--#{category2.name}</td>
								<td>#{category2.position}</td>
								<td>!{(category2.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>
								<td>#{showDate(category2.updated_at)}</td>

								<td>
								if category2.status == 1
									<a href="/admin/categories/status/#{category2._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
								else
									<a href="/admin/categories/status/#{category2._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

								<a href="/admin/categories/edit/#{category2._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
								<a href="/admin/categories/delete/#{category2._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

							</tr>
			<tbody>
		</table>
		</div>