extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/seminars/add') Add Seminar
		
		<div class="box-body table-responsive">		
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>				
			<th>Title</th>			
			<th>Sub Title</th>			
			<th>Speaker</th>			
			<th>Date</th>			
			<th>Location</th>			
			<th>Price</th>			
			<th>Position</th>			
			<th>Status</th>		
			<th>Created</th>
			<th width="170px">Action</th>
			</tr>
			</thead>
			<tbody>
			if seminars.length==0
				<tr><td colspan="8">No Data Found!</td></tr>		 							

			- var i = 1
			each seminar in seminars
				<tr>
					<td>#{i++}</td>										
					<td>#{seminar.title}</td>					
					<td>#{seminar.subtitle}</td>					
					<td>
					each  speaker in seminar.speaker_id
						<a href="/admin/speakers/edit/#{speaker._id}" target="_blank">#{speaker.name}</a><br/>
					</td>										
					<td>#{seminar.date_time == null ? '': seminar.date_time.toLocaleString()}</td>					
					<td>#{seminar.location}</td>					
					<td>
						if seminar.price	
							<span>$#{seminar.price}</span>
					</td>					
					<td>#{seminar.position}</td>					
					<td>!{(seminar.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>					
					<td>#{showDate(seminar.updated_at)}</td>
					<td>
					if seminar.status == 1
						<a href="/admin/seminars/status/#{seminar._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/seminars/status/#{seminar._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/seminars/edit/#{seminar._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/seminars/delete/#{seminar._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a>&nbsp;&nbsp;
					<a href="/admin/seminars/copy/#{seminar._id}" class="btn btn-xs btn-success">Copy</a></td>
				</tr>					
			<tbody>
		</table>
		</div>