<app-pinkbar page="service"></app-pinkbar>

<div id="content">
    <div class="container-fluid">
    	<div class="row" >	    	
	    	<div class="col-xs-12">

			    <div class="product_help">
			        <div class="container">
			            <ul>
			                <li>
			                    <div class="box">
			                        <a routerLink="/service/documents">
			                            <h4>Product Information</h4>
			                            <p>Set up guide, User manuals <br>maintence guides, Product <br>dataheets</p>
			                        </a>
			                    </div>
			                </li>
			                <li>
			                    <div class="box">
			                        <a routerLink="/faqs">
			                            <h4>Find An Answer</h4>
			                            <p>Troubleshoot, FAQ's <br>Order parts</p>
			                        </a>
			                    </div>
			                </li>
			                <li>
			                    <div class="box">
			                        <a routerLink="/page/service-contact-us">
			                            <h4>Contact Us For Support</h4>
			                            <p>Reach us by Phone, Live-chat <br>or E-mail</p>
			                        </a>
			                    </div>
			                </li>
			            </ul>
			        </div>
			    </div>

			    <!--- Select Product ---->

			    <div class="select_product_outer">
			        <div class="container">
			            <div class="select_product_outer_heading">
			                <h3>Select Your Product</h3>
			                <div class="select_product_search">
			                    <span>Or Enter Your Serial Number </span>
			                    <form class="accessory_search" (ngSubmit)="searchBySerialNo()">
			                        <input type="search" placeholder="Enter Your Serial Number..." [(ngModel)]="this.serialno" name="serialno" (blur)="searchBySerialNo()">
			                        <button type="submit"><i class="fas fa-search"></i></button>
			                    </form>
			                    <div class="text-danger text-right" *ngIf="this.error !=''" style="width: 100%;margin-top: 15px;" [innerHTML]="this.error"></div>
			                </div>
			            </div>
			            <div class="select_product_slider">
			                <div class="owl-carousel product_search_slider">
			                    <div class="item"  *ngFor="let cat of this.categories">
			                        <div class="crouserl_img">
			                            <!-- <span class="new">New</span> -->
			                            <h6>{{cat.name}}</h6>
											<p  [innerHTML]="(cat.short_description.length>25)? (cat.short_description | striphtml | slice:0:25)+'...':(cat.short_description | striphtml)"></p>
											<p></p>
											<p></p>

			                                <div class="crousel_img"><img src="{{env.serverUrl+env.galleryDir+cat.image}}" alt="" /></div>
			                                <div class="slide_btn">
			                                    <a routerLink="/service/documents/{{cat.slug}}">More</a>
			                                </div>
			                        </div>
			                    </div>               
			                </div>
			            </div>
			            <div class="product_circle_outer">
			                <div class="row">
								<ng-container *ngFor="let banner of bannerData">
									<div class="one_third col-sm-4" *ngIf="banner.type=='service_image'">
										<div class="product_circle">
											<div class="product_circle_img">
												<img width="238" height="239" src="{{env.serverUrl+env.galleryDir+banner.image}}" alt="" />
											</div>
											<h4 [innerHTML]="banner.title | safeHtml"></h4>
											<p [innerHTML]="banner.banner_text_one | safeHtml"></p>
											<a routerLink="/page/clinical-support">Get Support</a>
										</div> 
									</div>
								</ng-container>
			                    
			                </div>
			            </div>
			        </div>
			    </div>


			    <!--<div class="summer_sale" *ngIf="bottom_banner">
			        <div class="container">
			            <div class="heading">
			                <h2>{{bottom_banner.title}}</h2>
			                <div class="dots"><span></span><span></span><span></span><span></span> </div>
			            </div>			           
			            <div [innerHTML] = "bottom_banner.banner_text_one ? bottom_banner.banner_text_one : bottom_banner.banner_text_two"></div>			              
			        </div>
			    </div>		    

				<app-newsletter></app-newsletter> -->

			</div>	
		</div>
	</div>
</div>			