extends /views/layouts/admin

block content	
	section.content-header
		h1.pagehead= title
		ol.breadcrumb
			<li><a href="/admin/elp/list" class="btn btn-success btn-sm">Back</a></li>	

	div.maindiv.box.box-primary

		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" value="!{getOld(reqBody,'name')}">
					<span>!{getError(errors,'name')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Display Name <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="display_name" name="display_name" placeholder="Enter Name" value="!{getOld(reqBody,'display_name')}">
					<span>!{getError(errors,'display_name')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Display Sub Name <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="display_sub_name" name="display_sub_name" placeholder="Enter Display Sub Name" value="!{getOld(reqBody,'display_sub_name')}">
					<span>!{getError(errors,'display_sub_name')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="price">Price <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="number" class="form-control" id="price" name="price" placeholder="Enter price" value="!{getOld(reqBody,'price')}" min='1' step="0.01">
					<span>!{getError(errors,'price')} </span>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="duration">Duration(In month) <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="number" class="form-control" id="duration" name="duration" placeholder="Enter duration" value="!{getOld(reqBody,'duration')}" min='1'>
					<span>!{getError(errors,'duration')} </span>	
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="duration">No. Of Person<span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="number" class="form-control" id="persons" name="persons" placeholder="No. Of Person" value="!{getOld(reqBody,'persons')}" min="1">
					<span>!{getError(errors,'persons')} </span>	
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" for="display_number">Display Sr No <span class="text-danger">*</span></label>
				<div class="col-sm-6">
					<input type="number" class="form-control" id="display_number" name="display_number" placeholder="Enter Display Number" value="!{getOld(reqBody,'display_number')}" min='1'>
					<span>!{getError(errors,'display_number')} </span>	
				</div>
			</div>
			
			<div class="form-group"> 
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
					<a href="/admin/elp/list" class="btn btn-info">Cancel</a>
				</div>
			</div>
		</form>