extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		div.listheader
			a.btn.btn-primary.btn-md(href='/admin/elp/add') Add Elp
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
				<th>S.No</th>			
				<th>Name</th>
				<th>Display Name</th>
				<th>Sub Name</th>
				<th>Duration(In Month)</th>		
				<th>No. Of Person</th>		
				<th>Price</th>
				<th>Display Sr No</th>
				<th>Created</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			if elps.length==0
				<tr><td colspan="6">No Data Found!</td></tr>				


			- var i = 1
			each elp in elps
				<tr>
					<td>#{i++}</td>					
					<td>#{elp.name}</td>
					<td>#{elp.display_name}</td>
					<td>#{elp.display_sub_name}</td>
					<td>#{elp.duration}</td>
					<td>#{elp.persons}</td>
					<td>#{elp.price}</td>
					<td>#{elp.display_number}</td>					
					<td>#{showDate(elp.updated_at)}</td>
					<td>!{(elp.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>
					<td>
					if elp.status == 1
						<a href="/admin/elp/status/#{elp._id}/0" class="btn btn-xs btn-danger">Disable</a>&nbsp;&nbsp;
					else
						<a href="/admin/elp/status/#{elp._id}/1" class="btn btn-xs btn-success">Enable</a>&nbsp;&nbsp;

					<a href="/admin/elp/edit/#{elp._id}" class="btn btn-xs btn-info">Edit</a>&nbsp;&nbsp;
					<a href="/admin/elp/delete/#{elp._id}" class="btn btn-xs btn-danger deleteBtn">Delete</a></td>

				</tr>
			<tbody>
		</table>
		</div>