extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title		

	div.maindiv.box.box-primary
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
				<th>S.No</th>			
				<th>User Name</th>
				<th>User Email</th>
				<th>User Phone</th>
				<th>Facility Name</th>
				<th>User Plan Expire</th>
				<th>Plan Name</th>
				<th>Coupon Code</th>
				<th>no of used coupon</th>
				<th>Plan Price</th>
				<th>Plan Display Name</th>
				<th>Duration(In Month)</th>		
				<th>Purchase Date</th>
			</tr>
			</thead>
			<tbody>
			if payments.length==0
				<tr><td colspan="6">No Data Found!</td></tr>				
			- var i = 1
			each payment in payments
				<tr>
					<td>#{i++}</td>					
					<td>#{payment.user_id ? payment.user_id.name : ''}</td>
					<td>#{payment.user_id ? payment.user_id.email : ''}</td>
					<td>#{payment.user_id ? payment.user_id.phone : ''}</td>
					<td>#{payment.facility_name}</td>
					<td>#{payment.user_id ? payment.user_id.elp_expire.toDateString() : ''}</td>					
					<td>#{payment.elp_id ? payment.elp_id.name : ''}</td>
					<td>
					if(payment.elp_id.persons > 1)
						<span>#{payment._id}</span>
					</td>
					<td>#{payment.coupon_used} &nbsp;
						if(payment.coupon_used> 0)
							<a href="/admin/elp/view_coupon_user/#{payment._id}" class="btn btn-xs btn-info">View users</a>
					</td>
					<td>#{payment.elp_id ? payment.elp_id.price : ''}</td>
					<td>#{payment.elp_id ? payment.elp_id.display_name : ''}</td>					
					<td>#{payment.elp_id ? payment.elp_id.duration : ''} Months</td>					
					<td>#{payment.created_at.toDateString()}</td>
				</tr>
			<tbody>
		</table>
		</div>