extends /views/layouts/admin

block content
	
	section.content-header
		h1.pagehead= title

	div.maindiv.box.box-primary
	
		
		<div class="box-body table-responsive">
		<table class="table table-bordered table-hover table-striped table-paging">
			<thead>
			<tr>
			<th>S.No</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Status</th>
			<th>Created</th>
			</tr>
			</thead>
			<tbody>
			if users.length==0
				<tr><td colspan="8">No Data Found!</td></tr>				
			- var i = 1
			each user in users
				<tr>
					<td>#{i++}</td>
					<td>#{user.name}</td>
					<td>#{user.email}</td>
					<td>#{user.phone}</td>
					<td>!{(user.status == 1) ? "<span class='text-success'>Active</span>" : "<span class='text-danger'>Deactive</span>"}</td>
					<td>#{user.updated_at.toDateString()}</td>
				</tr>
			<tbody>
		</table>
		</div>