.custom_prev,
.custom_next {
    width: 32px;
    display: block;
    bottom: 35px;
    height: 32px;
    background-image: url(/assets/images/nav-arrow.png);
    background-position: 0 0;
    left: 20px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    opacity: 0.5;
    transition: opacity 0.35s linear 0s;
}
.custom_next>a:hover {
    opacity: 1;
}
.custom_next {
    background-position: -32px 0;
    right: 20px;
    left: auto;
}
.datasheet_class a{
    color: #ab3585;
}

/* .tr-bg {
    background-color: #ab3585;
    color: white;
} */