<app-pinkbar page="product" banner_image="{{this.banner_image}}"></app-pinkbar>

<div id="content" ui-view="header" autoscroll="true">
    <div class="product-detail-page">

        <div class="container">
            <div class="pagehead">
                <h2 *ngIf="this.product.category"><span>{{this.product.category.name}}</span></h2>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <div class="left_sidebar">
                        <h5>Product Models</h5>
                        <ul>
                            <!--<li class="active"><a href="javascript:void(0)"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>{{this.product.name}}</a> </li> -->
                            <li *ngFor="let rproduct of this.product.category_products">
                                <a routerLink="/product/{{rproduct.slug}}" routerLinkActive="active"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>{{this.rproduct.name}}</a> 
                            </li>                            
                        </ul>
                        <h5>Interested In</h5>
                        <ul>
                            <li><a routerLink="/parts/product/{{this.product.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span> Parts</a> </li>
                            <li><a routerLink="/accessories/product/{{this.product.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Accessories</a> </li>
                            <!--<li *ngIf="this.product.schedule_service==1"><a routerLink="/request_service/product/{{this.product.slug}}"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Schedule A Service</a> </li>-->
							<li><a href="https://meetings.hubspot.com/joel144/device-check" target="_blank"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Schedule a Service Call</a> </li>
                            
                            <li><a routerLink="/page/find-a-unit-near-me"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Find a Unit Near Me</a> </li>
                            <li><a routerLink="/page/rent-this-device"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Rent this Device</a> </li>
                            <li><a routerLink="/page/request-a-demonstration"><span><img src="assets/images/arrow-sidebar.png" alt="" /> </span>Request a Demonstration</a> </li>
                        </ul>
                    </div>
                </div>

                <div class="col-dm-12  col-md-9 boxline" *ngIf="this.product.name">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">                       	

                            <div class="item product-gallery">
                                <div class="clearfix">
                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                    	<ng-container *ngIf="this.product.image">
                                        <li attr.data-thumb="{{env.serverUrl+env.galleryDir+this.product.image}}">
                                            <div class="img-big"> <img src="{{env.serverUrl+env.galleryDir+this.product.image}}" />
                                                <div class="cap">{{this.product.name}}</div>
                                            </div>
                                        </li>
                                        </ng-container>
                                        <ng-container *ngIf="this.product.image_gallery">
                                            <li *ngFor="let pimage of this.product.image_gallery" attr.data-thumb="{{env.serverUrl+env.galleryDir+pimage.image}}">
                                                <div class="img-big"> <img src="{{env.serverUrl+env.galleryDir+pimage.image}}" />
                                                    <div class="cap">{{this.product.name}}</div>
                                                </div>                                                
                                            </li>
                                        </ng-container>
                                        <li *ngIf="this.product.video && this.product.video.indexOf('vimeo') == -1" attr.data-thumb="{{env.serverUrl+env.galleryDir+'/video.png'}}">
                                            <div class="img-big"> 
                                            	<video width="100%" height="100%" controls>
													<source [src]="videoURL(this.product.video)" type="video/mp4">
												</video>
												<!--<iframe  [src]="vimeoURL(this.product.video)" width="100%" frameborder="0" allowfullscreen></iframe>-->
                                                <!--<div class="cap">{{this.product.name}}</div>-->
                                            </div>
                                        </li>

                                        <li *ngIf="this.product.video && this.product.video.indexOf('vimeo') !== -1" attr.data-thumb="{{env.serverUrl+env.galleryDir+'/video.png'}}">
                                            <div class="img-big"> 
                                            	<iframe  [src]="vimeoURL(this.product.video)" width="100%" height="350px" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </li>
                                    </ul>
                                    <a hre="javascript:void(0)"  class="custom_prev" id="goToPrevSlide">&nbsp;</a>
                                    <a hre="javascript:void(0)" class="custom_next" id="goToNextSlide">&nbsp;</a>
                                    <!--<a href="#" class="zoom-icon"><img src="assets/images/zoom_icon.png" alt="" /> </a>-->
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="product-dis">
                                <!--<h5>{{this.product.name}}</h5>-->
                               	<h5 *ngIf="this.product.category"><span>{{this.product.category.name}}</span></h5>
                                <div *ngIf="this.product.category" [innerHTML]="this.product.category.short_description | safeHtml"></div>                                
                                <span *ngIf="this.product.price_request==0"><span class="product_price">${{ this.product.price ? this.product.price : '0' }}</span><input type="button" value="Add to Cart"   href="javascript:void(0)"  class="btn addcart request_btn prodpurchasebtn" attr.data-id="{{this.product._id}}" attr.data-name="{{this.product.name}}" attr.data-price="{{this.product.price}}" attr.data-image="{{this.product.image}}" attr.data-slug="{{this.product.slug}}"  attr.data-category="{{this.product.category._id}}" data-ptype="product"/></span>
                                <span *ngIf="this.product.price_request==1"><a routerLink="/request_quote/product/{{this.product.slug}}"> <input type="button" value="Request a Quote" class="btn request_btn"/></a></span>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pro-dis123">
                                <h4>{{this.product.name}} </h4>
                                <div [innerHTML]="this.product.description | safeHtml"></div>                                
                            </div>
                        </div>

                        <div class="col-sm-12" *ngIf="this.product.productFiles && this.product.productFiles.product_datasheet!=''">
                            <div class="pro-dis"> 
                                <h4>Product Data Sheet</h4>
                                <div class="datasheet_class"> 
                                	 <ng-container *ngFor="let item of this.product.productFiles.product_datasheet;let i = index;let last = last;">
                                	 	<a href="{{env.serverUrl+env.galleryDir+item}}" target="_blank">{{this.product.productFiles.product_datasheet_name[i]}}</a><ng-container *ngIf="!last"> | </ng-container> 
                                	 </ng-container>	
                                </div>                                
                            </div>
                        </div>


                        <div class="col-sm-12 specif" *ngIf="this.product.specification_related">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6"><h4> Product Specification</h4></div>
                                <div class="col-xs-6 col-sm-6 text-right">Compare : 
	                               	<select name="specification_model" class="form-control" [(ngModel)]="this.specification_model" style="width:auto;display: inline;">
	                            		<option value="">Select Model</option>
	                            		<!--<option *ngFor="let row of this.product.productSpecification" [value]="row.model">{{row.model}}</option>-->
	                            		<option *ngFor="let row of stringtoArray(this.product.specification_related)" [value]="row">{{row}}</option>
		                            </select> &nbsp;&nbsp;&nbsp;
	                                <a class="btn btn-sm btn-success" (click)="specificationAddModel()" style="color: #FFF">Add</a>
                            	</div>
                            </div>
                            <div class="table-outer">
                                <table class="table table-bordered table-striped">
                                    <tr class="tr-bg">
                                        <th>Models</th>
                                        <ng-container *ngFor="let item of this.product.productSpecification">
	                                        <th *ngIf="checkSpecification(item.model,this.product.specification_default) == true">
	                                       		{{item.model}} <i class="fas fa-minus-circle" (click)="specificationRemoveModel(item.model)" style="float: right"></i>
	                                    	</th>     
                                    	</ng-container>                                   
                                    </tr>  
									<ng-container *ngFor="let item of this.product.specification_row_default | keyvalue: asIsOrder ; let i = index" [class.tr-bg1]="i%3==2">
                                       <!--{{item.key}} and Value: {{item.value}}  -->
									   	<tr *ngFor="let key of stringtoArray(item.value); let i = index" [class.tr-bg1]="i%3==2">
											<td><i class="fas fa-minus-circle" aria-hidden="true" (click)="specificationRemoveRow(item.key)"></i>&nbsp;{{key | replace : '_' : ' '}}</td>
											<ng-container *ngFor="let item of this.product.productSpecification">
												<td *ngIf="checkSpecification(item.model,this.product.specification_default) == true">
													{{item[key]}}
												</td>     
											</ng-container>                                        
                                    	</tr>
                                    </ng-container>
									<tr>
                                        <td colspan="5">
                                        	<select name="specification_row" class="form-control" [(ngModel)]="this.specification_row" style="width: auto;display: inline;">
                                        		<option value="">Select Row</option> 
												<ng-container *ngFor="let item of this.product.specification_row | keyvalue: asIsOrder ;">                                       		
                                        		<option [value]="item.key+':'+item.value">{{item.key}}</option>
												</ng-container>
	                                        </select> &nbsp;&nbsp;&nbsp;
                                        	
                                        	<a class="btn btn-sm btn-success" (click)="specificationAddRow()" style="color: #FFF">Add</a>
                                        </td>
                                    </tr>

                                    <!--<tr *ngFor="let key of stringtoArray(this.product.specification_row_default); let i = index" [class.tr-bg]="i%3==2">
                                        <td><i class="fas fa-minus-circle" aria-hidden="true" (click)="specificationRemoveRow(key)"></i>&nbsp;{{key | replace : '_' : ' ' | titlecase}}</td>
                                        <ng-container *ngFor="let item of this.product.productSpecification">
	                                        <td *ngIf="checkSpecification(item.model,this.product.specification_default) == true">
	                                       		{{item[key]}}
	                                    	</td>     
                                    	</ng-container>                                        
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                        	<select name="specification_row" class="form-control" [(ngModel)]="this.specification_row" style="width: auto;display: inline;">
                                        		<option value="">Select Row</option>
                                        		<!--<option *ngFor="let row of getSpecificationkey(this.product.productSpecification)" [value]="row">{{row}}</option>--
                                        		<option *ngFor="let row of stringtoArray(this.product.specification_row)" [value]="row">{{row|replace : '_' : ' '}}</option>
	                                        </select> &nbsp;&nbsp;&nbsp;
                                        	
                                        	<a class="btn btn-sm btn-success" (click)="specificationAddRow()" style="color: #FFF">Add</a>
                                        </td>
                                    </tr>-->
                                </table>
                            </div>           
                        </div>            
                    </div>
                    
                    <app-pagetestimonials *ngIf="this.product._id" page="product" id="{{this.product._id}}"></app-pagetestimonials>

                    <!--<div class="row" *ngIf="this.product.video!=''">
                        <div class="col-sm-12">
                            <div class="pro-dis">
                                <h4>Product Video</h4>
                                <iframe  [src]="vimeoURL(this.product.video)" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>-->                   

                </div> <!-- end col-md-9 boxline -->

            </div>
        </div> <!-- end product-detail container -->
        <div class="device" *ngIf="this.product.related_product_list?.length>=1">
            <div class="container">
                <h4 *ngIf="this.product.related_product_text !=''">{{this.product.related_product_text}}:</h4>
                <!-- <h4 *ngIf="this.product.related_product_text">Can be used with:</h4> -->
                <div class="owl-carousel device-slider">
                    <div class="item text-center" *ngFor="let rproduct of this.product.related_product_list">                            
                        <a routerLink="/product/{{rproduct.slug}}">                                                                     
                            <div class="device-slider-th"><img src="{{env.serverUrl+env.galleryDir+rproduct.image}}" alt="" title="{{rproduct.name}}"/></div>
                            <!--<h6>{{rproduct.name}}</h6>-->
                        </a>
                    </div>
                    <!--<div class="item text-center">
                        <div class="device-slider-th"> <img src="assets/images/th_01.jpg" alt="" /></div>
                    </div>-->
                </div>
            </div>
        </div> <!-- end device -->

    </div> <!-- end product-detail-page -->


</div>

