 <div id="content">
        <div class="container">
            <div class="accessory_cotent">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pagehead">
                            <h2><span>My Orders</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-dm-12 col-md-3">
                    <app-leftbar></app-leftbar>
                </div>
                <div class="col-sm-9">
                    <div class="loginpage moorder-outer">

                        <table class="table table-bordered">
                            <thead>
                                <tr>                                    
                                    <th>S.No</th>
                                    <th>Webinar</th>
                                    <th>Date</th>                                    
                                    <th>Location</th>                                    
                                    <th>Speaker</th>                                    
                                </tr>
                            </thead>

                            <tr *ngIf="this.orders && this.orders.length==0">
            				<td colspan="6">No Order Found!</td>
            				</tr>
                            <tbody>
                                <ng-container *ngFor="let order of this.orders;let i=index">  
                                	<ng-container *ngFor="let item of order.order_product">   
                                		<tr *ngIf="item.type=='seminar'">   
                                		<td>{{i+1}}</td>                             
	                                    <td class="titlelink"><a *ngIf="item.type=='seminar'" routerLink="/seminar/{{item.seminar_id.slug}}" target="_blank">{{item.seminar_id.title}}</a></td> 
	                                    <td>{{item.seminar_id.date_time | date: 'dd/MM/yyyy'}}</td>
	                                    <td>{{item.seminar_id.location}}</td>	                                    
	                                    <td><a routerLink="/instructor/{{item.seminar_id.speaker_id[0].slug}}" target="_blank">{{item.seminar_id.speaker_id[0].name}}</a></td>
	                                    
	                                    </tr> 
                                    </ng-container>                                   
                                </ng-container>                                
                            </tbody>
                        </table>
                    </div>


                </div>


            </div>

        </div>
    </div>